{% comment %}
	Renders a article comment

	Accepts:
	- article: {Object} Article Liquid object
	- comment: {Object} Comment Liquid object

	Usage:
	Render this snippet inside of element with a "section-article" class.

	{% render 'article-comment', article: article, comment: comment %}
{% endcomment %}

{%- assign article = article -%}
{%- assign dateFormat = 'general.date_format' | t  -%}
{%- assign commentDefaultTitle = 'general.unknown' | t -%}

<div id="article-comment-{{ comment.id }}" class="article-comment">

    <div class="article-comment-inner">

        <div class="article-comment-header">

            <span class="article-comment-title">
            	{{ comment.customer.firstname | default: commentDefaultTitle }}
            </span>

        </div>

        <div class="article-comment-date text-muted">

            <time datetime="{{ comment.created_at | date: "%F" }}">
                {{ comment.created_at | date: dateFormat }}
            </time>

        </div>

        <div class="article-comment-content">

            <p class="mb-0">
                {{ comment.comment }}
            </p>

        </div>

        {% if store.session.logged_in and comment.parent_count < 3 %}

            <div class="article-comment-form-action">

                <button type="button" name="article-comment-form-show-action" class="btn btn-text font-weight-bold text-underline-indicator" value="{{ comment.id }}">
                    {{ 'blog.reply_comment' | t }}
                </button>

            </div>

            <div id="article-comment-form-{{ comment.id }}" class="article-comment-form d-none">

                {% form 'comment' %}

                    <input type="hidden" name="reply_to" value="{{ comment.id }}">
                    <input type="hidden" name="post_id" value="{{ article.id }}">

                    <div class="form-group">

                        <textarea class="form-control" name="comment"></textarea>

                    </div>

                    {% render 'form-error', error: form.error %}

                    <button type="button" name="article-comment-form-close-action" class="btn btn-outline-section" value="{{ comment.id }}">
                    	{{ 'general.cancel' | t }}
                    </button>

                    <button type="submit" class="btn btn-section">
                    	{{ 'general.submit' | t }}
                    </button>

                {% endform %}

            </div>

        {% endif %}

    </div>

    {% if comment.comments %}

        {% for comment in comment.comments %}

            {% render 'article-comment', article: article, comment: comment %}

        {% endfor %}

    {% endif %}

</div>