{% comment %}
	Renders a article comment

	Accepts:
	- article: {Object} Article Liquid object
	- comment: {Object} Comment Liquid object

	Usage:
	Render this snippet inside of element with a "section-article" class.

	{% render 'article-comment', article: article, comment: comment %}
{% endcomment %}

{% assign article = article %}
{% assign dateFormat = 'general.date_format' | t  %}

<div id="item-comment-{{ comment.id }}" class="item-comment">

    <div class="item-comment-inner">

        <div class="item-comment-header">

            <span class="item-comment-title">
            	{{ comment.customer.name }}
            </span>

            {% if store.customer.id and comment.customer.id == store.customer.id %}

                {% form 'blog_comment_remove' class="item-comment-remove-form" %}

                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <input type="hidden" name="post_id" value="{{ article.id }}">

                    <button type="submit" class="btn btn-text">
                    	{{ 'remove' | t }}
                    </button>

                {% endform %}

            {% endif %}

            {% if store.session.logged_in and comment.parent_count < 3 %}

                <button type="button" name="item-comment-reply-show-action" class="btn btn-text" value="{{ comment.id }}">
                	{{ 'blog.reply_comment' | t }}
                </button>

            {% endif %}

        </div>

        <div class="item-comment-datetime">

           <time datetime="{{ comment.created_at | date: "%F" }}">{{ comment.created_at | date: dateFormat }}</time>

        </div>

        <div class="item-comment-content">

            <p>{{ comment.comment }}</p>

        </div>

        {% if store.session.logged_in and comment.parent_count < 3 %}

            <div id="item-comment-reply-{{ comment.id }}" class="item-comment-reply d-none">

                {% form 'blog_comment' %}

                    <input type="hidden" name="reply_to" value="{{ comment.id }}">
                    <input type="hidden" name="post_id" value="{{ blogpost.id }}">

                    <div class="form-group">

                        <label>{{ 'comment' | t }}</label>

                        <textarea class="form-control" name="comment"></textarea>

                    </div>

                    {% render 'form-error', error: form.error %}

                    <div class="form-group text-right">

                        <button type="button" name="item-comment-reply-close-action" class="btn" value="{{ comment.id }}">
                        	{{ 'cancel' | t }}
                        </button>

                        <button type="submit" class="btn btn-section">
                        	{{ 'submit' | t }}
                        </button>

                    </div>

                {% endform %}

            </div>

        {% endif %}

    </div>

    {% if comment.comments %}

        {% for comment in comment.comments %}

            {% render 'article-comment', article: article, comment: comment %}

        {% endfor %}

    {% endif %}

</div>