{% comment %}
    Renders Handlebars templates which can be accessed from javascript later on
    Handlebars documentation https://handlebarsjs.com/guide

    Usage:
    Render this snippet inside of head element.

    {% render 'hbs-templates' %}
{% endcomment %}

<script id="hbs-cart-template" type="text/template">
{% raw %}

    {{#ifCond cart.item_count '>' 0}}

        <div class="cart-body">

            <div class="cart-items">

                {{#each cart.items as |item|}}

                    <div class="cart-item">

                        <div class="row no-gutters">

                            <div class="col-auto">

                                <div class="cart-item-media">

                                    <div class="cart-item-media-img-container aspect-ratio-container">

                                        {{#if item.image}}

                                            {{ assign 'imgSrc' item.image.original }}
                                            {{ assign 'imgSize' '76,114' }}

                                            <picture>
                                                <img
                                                    alt="{{ item.name }}"
                                                    data-src="{{> image src=@root.imgSrc size=@root.imgSize }}"
                                                    data-srcset="{{> image src=@root.imgSrc size=@root.imgSize }} 1x, {{> image src=@root.imgSrc size=@root.imgSize scale='2x' }} 2x"
                                                    class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                                            </picture>

                                        {{else}}

                                            <img
                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item svg-placeholder"
                                                alt="{{ item.name }}"
                                                data-src="{{> placeholder_svg type='image' base64=true }}">

                                        {{/if}}

                                    </div>

                                </div>

                            </div>

                            <div class="col pl-4">

                                <div class="row no-gutters">

                                    <div class="col">

                                        {{#if item.manufacturer}}

                                            <div class="cart-item-manufacturer">

                                                 <span class="cart-item-manufacturer-text">
                                                    {{ manufacturer }}
                                                </span>

                                            </div>

                                        {{/if}}

                                        <div class="cart-item-name">

                                            <h3 class="cart-item-name-text">

                                                <a href="{{ item.url }}">

                                                    {{ item.name }}

                                                </a>

                                            </h3>

                                        </div>

                                        {{#if item.attributes}}

                                            <div class="cart-item-attributes">

                                                {{#each item.attributes as |attribute|}}

                                                    <span class="cart-item-attribute">
                                                        {{ t 'general.selection' }}: {{ attribute }}
                                                    </span>

                                                {{/each}}

                                            </div>

                                        {{/if}}

                                    </div>

                                    <div class="col-auto">

                                        <div class="cart-item-remove">

                                            <button type="button" class="btn btn-text" data-cart-remove="{{ item.id }}">
                                                {{> icon icon='close-232XyC' }}
                                            </button>

                                        </div>

                                    </div>

                                </div>

                                <div class="row no-gutters">

                                    <div class="col">

                                        <div class="cart-item-quantity">

                                            <button type="button" class="btn btn-text cart-item-quantity-decrease" data-cart-quantity-decrease="{{ item.id }}">
                                                {{> icon icon='subtract-gWaFt8' }}
                                            </button>

                                            <input type="tel" class="cart-item-quantity-input" value="{{ item.quantity }}" min="{{#if item.min_amount}}{{ item.min_amount }}{{else}}1{{/if}}" pattern="[0-9]{1,3}" data-cart-quantity-dynamic="{{ item.id }}">

                                            <button type="button" class="btn btn-text cart-item-quantity-increase" data-cart-quantity-increase="{{ item.id }}">
                                                {{> icon icon='add-eLjfck' }}
                                            </button>

                                        </div>

                                    </div>

                                    <div class="col-auto">

                                        <div class="cart-item-price">

                                            {{#if @root.taxFreePrices}}
                                                {{ assign 'itemPrice' item.net_price }}
                                            {{else}}
                                                {{ assign 'itemPrice' item.line_price }}
                                            {{/if}}

                                            <span class="cart-item-price-text">
                                                {{ formatCurrency @root.itemPrice }}
                                            </span>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                {{/each}}

            </div>

        </div>

        <div class="cart-footer">

            <div class="cart-subtotal">

                <div class="row">

                    <div class="col">

                        <span>
                            {{ t 'general.subtotal' }}
                        </span>

                    </div>

                    <div class="col text-right">

                        {{#if @root.taxFreePrices}}
                            {{ assign 'cartSubtotal' cart.tax_free_subtotal }}
                        {{else}}
                            {{ assign 'cartSubtotal' cart.subtotal }}
                        {{/if}}

                        <span>
                            {{ formatCurrency @root.cartSubtotal }}
                        </span>

                    </div>

                </div>

            </div>

            <div class="cart-summary">

                {{#ifCond cart.shipping_price '>' 0}}

                    <div class="cart-shipping-price">

                        <div class="row">

                            <div class="col">

                                <span>
                                     {{#if @root.taxFreePrices}}+{{/if}} {{ t 'general.shipping_price' }}
                                </span>

                            </div>

                            <div class="col text-right">

                                <span>
                                    {{ formatCurrency cart.shipping_price }}
                                </span>

                            </div>

                        </div>

                    </div>

                {{/ifCond}}

                {{#ifCond cart.payment_fee '>' 0}}

                    <div class="cart-payment-fee">

                        <div class="row">

                            <div class="col">

                                <span>
                                     {{#if @root.taxFreePrices}}+{{/if}} {{ t 'general.payment_fee' }}
                                </span>

                            </div>

                            <div class="col text-right">

                                <span>
                                    {{ formatCurrency cart.payment_fee }}
                                </span>

                            </div>

                        </div>

                    </div>

                {{/ifCond}}

                {{#ifCond @root.taxFreePrices '==' true}}

                    <div class="cart-tax">

                        <div class="row">

                            <div class="col">

                                <span>
                                    {{#if @root.taxFreePrices}}+{{/if}} {{ t 'general.tax' }}
                                </span>

                            </div>

                            <div class="col text-right">

                                <span>
                                    {{ formatCurrency cart.tax }}
                                </span>

                            </div>

                        </div>

                    </div>

                {{/ifCond}}

                {{#if cart.discounts}}

                    <div class="cart-discounts">

                        {{#each cart.discounts as |item|}}

                            <div class="cart-discount">

                                <div class="row">

                                    <div class="col">

                                        <span>
                                            {{#if @root.taxFreePrices}}-{{/if}} {{ item.name }}{{#if item.code}} - {{ item.code }}{{/if}}
                                        </span>

                                    </div>

                                    <div class="col text-right">

                                        <span>
                                            {{ formatCurrency item.amount }}
                                        </span>

                                    </div>

                                </div>

                            </div>

                        {{/each}}

                    </div>

                {{/if}}

                <div class="cart-total">

                    <div class="row">

                        <div class="col">

                            <span>
                                {{ t 'general.total' }}{{#if @root.taxFreePrices}} {{ t 'general.vat_included' }}{{/if}}
                            </span>

                        </div>

                        <div class="col text-right">

                            <span>
                                {{ formatCurrency cart.total }}
                            </span>

                        </div>

                    </div>

                </div>

            </div>

            <div class="cart-actions">

                <a href="{{ checkoutUrl }}" class="btn btn-section btn-block" data-cart-checkout>
                    {{ t 'cart.proceed_to_checkout' }}
                </a>

            </div>

        </div>

    {{else}}

        <div class="text-center">

            <span class="d-block mb-5">
                {{ t 'cart.empty' }}
            </span>

            <a href="/" class="btn btn-section">
                {{ t 'general.back_to_home_page' }}
            </a>

        </div>

    {{/ifCond}}

{% endraw %}
</script>

<script id="hbs-cart-mini-template" type="text/template">
{% raw %}

    <div class="cart-header">

        <span class="cart-header-text">
            {{ t 'cart.title' }}
        </span>

    </div>

    {{#ifCond cart.item_count '>' 0}}

        <div class="cart-body">

            <div class="cart-items">

                {{#each cart.items as |item|}}

                    <div class="cart-item">

                        <div class="row no-gutters">

                            <div class="col-auto">

                                <div class="cart-item-media">

                                    <div class="cart-item-media-img-container aspect-ratio-container">

                                        {{#if item.image}}

                                            {{ assign 'imgSrc' item.image.original }}
                                            {{ assign 'imgSize' '76,114' }}

                                            <picture>
                                                <img
                                                    alt="{{ item.name }}"
                                                    data-src="{{> image src=@root.imgSrc size=@root.imgSize }}"
                                                    data-srcset="{{> image src=@root.imgSrc size=@root.imgSize }} 1x, {{> image src=@root.imgSrc size=@root.imgSize scale='2x' }} 2x"
                                                    class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                                            </picture>

                                        {{else}}

                                            <img
                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item svg-placeholder"
                                                alt="{{ item.name }}"
                                                data-src="{{> placeholder_svg type='image' base64=true }}">

                                        {{/if}}

                                    </div>

                                </div>

                            </div>

                            <div class="col pl-4">

                                <div class="row no-gutters">

                                    <div class="col">

                                        {{#if item.manufacturer}}

                                            <div class="cart-item-manufacturer">

                                                 <span class="cart-item-manufacturer-text">
                                                    {{ manufacturer }}
                                                </span>

                                            </div>

                                        {{/if}}

                                        <div class="cart-item-name">

                                            <h3 class="cart-item-name-text">

                                                <a href="{{ item.url }}">

                                                    {{ item.name }}

                                                </a>

                                            </h3>

                                        </div>

                                        {{#if item.attributes}}

                                            <div class="cart-item-attributes">

                                                {{#each item.attributes as |attribute|}}

                                                    <span class="cart-item-attribute">
                                                        {{ t 'general.selection' }}: {{ attribute }}
                                                    </span>

                                                {{/each}}

                                            </div>

                                        {{/if}}

                                    </div>

                                    <div class="col-auto">

                                        <div class="cart-item-remove">

                                            <button type="button" class="btn btn-text" data-cart-remove="{{ item.id }}">
                                                {{> icon icon='close-232XyC' }}
                                            </button>

                                        </div>

                                    </div>

                                </div>

                                <div class="row no-gutters">

                                    <div class="col">

                                        <div class="cart-item-quantity">

                                            <span class="cart-item-quantity-text">
                                                 {{ t 'general.quantity' }}: {{ item.quantity }}
                                            </spam>

                                        </div>

                                    </div>

                                    <div class="col-auto">

                                        <div class="cart-item-price">

                                            {{#if @root.taxFreePrices}}
                                                {{ assign 'itemPrice' item.net_price }}
                                            {{else}}
                                                {{ assign 'itemPrice' item.line_price }}
                                            {{/if}}

                                            <span class="cart-item-price-text">
                                                {{ formatCurrency @root.itemPrice }}
                                            </span>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                {{/each}}

            </div>

        </div>

        <div class="cart-footer">

            <div class="cart-summary">

                <div class="cart-total">

                    <div class="row">

                        <div class="col">

                            <span>
                                {{ t 'general.subtotal' }}
                            </span>

                        </div>

                        <div class="col text-right">

                            {{#if @root.taxFreePrices}}
                                {{ assign 'cartSubtotal' cart.tax_free_subtotal }}
                            {{else}}
                                {{ assign 'cartSubtotal' cart.subtotal }}
                            {{/if}}

                            <span>
                                {{ formatCurrency @root.cartSubtotal }}
                            </span>

                        </div>

                    </div>

                </div>

            </div>

            <div class="cart-actions">

                <a href="{{ cartUrl }}" class="btn btn-section btn-block" data-cart-checkout>
                    {{ t 'cart.title' }}
                </a>

            </div>

        </div>

    {{else}}

        <div class="cart-footer text-center">

            <span class="d-block">
                {{ t 'cart.empty' }}
            </span>

        </div>

    {{/ifCond}}

{% endraw %}
</script>