{% comment %}
	Renders a product card as grid item

	Accepts:
	- product: {Object} Product Liquid object (required)
	- wishlist: {String} 'toggle' | 'remove' | 'add'
	- itemsPerRow {Number} Number of product card grid siblings
	- showBadges: {Boolean} true | false
	- showManufacturer: {Boolean} true | false
	- showProductName: {Boolean} true | false
	- showPricing: {Boolean} true | false

	Usage:
	{% render 'product-card-grid', product: product %}
{% endcomment %}

{%- case wishlist -%}

    {% when 'toggle' %}
        {%- assign wishlistAction = 'toggle' -%}
    {% when 'remove' %}
        {%- assign wishlistAction = 'remove' -%}
    {% when 'add' %}
        {%- assign wishlistAction = 'add' -%}
    {% else %}
        {%- assign wishlistAction = false -%}

{%- endcase -%}

{%- if itemsPerRow != false -%}
	{%- assign itemsPerRow = 4 -%}
{%- endif -%}

{%- if showBadges != false -%}
	{%- assign showBadges = true -%}
{%- endif -%}

{%- if showManufacturer != false -%}
	{%- assign showManufacturer = true -%}
{%- endif -%}

{%- if showProductName != false -%}
	{%- assign showProductName = true -%}
{%- endif -%}

{%- if showPricing != false -%}
	{%- assign showPricing = true -%}
{%- endif -%}

{%- assign productInWishlist = product.in_customers_wishlist | default: false -%}
{%- assign productImage = product.image | default: '' -%}
{%- assign productName = product.name | default: 'Example product' -%}
{%- assign productManufacturerName = product.manufacturer.name | default: 'Example manufacturer' -%}
{%- assign productPrice = product.price | default: '29.90' -%}
{%- assign productNetPrice = product.net_price | default: '24.90' -%}
{%- assign productOriginalNetPrice = product.original_net_price | default: '24.90' -%}
{%- assign productOriginalPrice = product.original_price | default: '29.90' -%}
{%- assign productHasDiscount = product.has_discount | default: false -%}
{%- assign productUrl = product | page_url | default: false -%}

<div class="product-card-grid-item{% if productHasDiscount %} product-has-discount{% endif %}">

	<div class="product-media-container">

		{% if showBadges %}

			{% render 'product-badges', product: product, postion: 'left-bottom' %}

		{% endif %}

		{% if product %}

			{% if wishlistAction and session.logged_in %}

				<div class="product-wishlist-action-container">

			        <button type="button" class="btn btn-text p-2 product-wishlist-action" data-wishlist-{{- wishlistAction -}}="{{ product.id }}" aria-pressed="{{ productInWishlist | yepnope: 'true', 'false' }}">
			            {%- render 'icon', icon: 'love-it-08UZOs', class: 'svg-icon-lg svg-icon-fw svg-icon-2x' -%}
			        </button>

			    </div>

			{% endif %}

		{% endif %}

		{%- capture productMedia -%}

			<div class="product-media aspect-ratio-product">

				<div class="product-media-img-container aspect-ratio-container">

					{% if product %}

						{% if productImage %}

			  				{%- assign imgSrc = productImage | asset_url -%}
			  				{%- assign imgSizeSm = 348,348 -%}
			  				{%- assign imgSizeMd = 290,290 -%}

			  				{%- case itemsPerRow -%}

							    {% when '2' %}
							        {%- assign imgSizeLg = 810,810 -%}
							    {% when '3' %}
							        {%- assign imgSizeLg = 520,520 -%}
							    {% when '4' %}
							        {%- assign imgSizeLg = 376,376 -%}
							    {% when '5' %}
							        {%- assign imgSizeLg = 290,290 -%}
							    {% when '6' %}
							    	{%- assign imgSizeLg = 232,232 -%}

							{%- endcase -%}

				  			<picture>
						        <source media="(min-width: 992px)" data-srcset="
						            {{ imgSrc | thumb: imgSizeLg }} 1x,
						            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

						            <source media="(min-width: 576px)" data-srcset="
						            {{ imgSrc | thumb: imgSizeMd }} 1x,
						            {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

						        <img
						            alt="{{ productName }}"
						            data-src="{{ imgSrc | thumb: imgSizeSm }}"
						            data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x, {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
						            class="lazy d-block mx-auto img-fluid aspect-ratio-item">
						    </picture>

						{% else %}

							{% render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item' %}

						{% endif %}

				    {% else %}

				    	{% render 'placeholder-svg', type: 'product', class: 'aspect-ratio-item' %}

				    {% endif %}

				</div>

  			</div>

		{%- endcapture -%}

		{%- if productUrl -%}

			<a href="{{ productUrl }}">
				{{ productMedia }}
			</a>

		{%- else -%}

			<div>
				{{ productMedia }}
			</div>

		{%- endif -%}

	</div>

	<div class="product-caption">

		{%- capture productCaptionInner -%}

			{% if showManufacturer %}

				<div class="product-manufacturer">

					<span class="product-manufacturer-name">
						{{ productManufacturerName }}
					</span>

				</div>

			{% endif %}

			{% if showProductName %}

				<div class="product-name">

					<h3 class="product-name-text">
						{{ productName }}
					</h3>

				</div>

			{% endif %}

			{% if showPricing %}

				<div class="product-price">

					{%- if settings.taxFreePrices -%}
						{% assign itemPrice = productNetPrice %}
						{% assign itemOriginalPrice = productOriginalNetPrice %}
					{%- else -%}
						{% assign itemPrice = productPrice %}
						{% assign itemOriginalPrice = productOriginalPrice %}
					{%- endif -%}

					{% if productHasDiscount %}

						<span class="text-sale-price font-weight-bold mr-2">
							{{ itemPrice | in_currency }}
						</span>

			            <span class="text-decoration-line-through text-muted">
			            	{{ itemOriginalPrice | in_currency }}
			            </span>

			        {% else %}

			        	<span class="text-price">
							{{ itemPrice | in_currency }}
						</span>

			        {% endif %}

				</div>

			{% endif %}

		{%- endcapture -%}

		{%- if product -%}

			<a href="{{ productUrl }}">
				{{ productCaptionInner }}
			</a>

		{%- else -%}

			<div>
				{{ productCaptionInner }}
			</div>

		{%- endif -%}

	</div>

</div>