{% comment %}
	Renders a product card as grid item

	Accepts:
	- product: {Object} Product Liquid object (required)
	- wishlist: {String} 'toggle' | 'remove' | 'add'

	Usage:
	{% render 'product-card-grid', product: product %}
{% endcomment %}

{%- case wishlist -%}

    {% when 'toggle' %}
        {%- assign wishlistAction = 'toggle' -%}
    {% when 'remove' %}
        {%- assign wishlistAction = 'remove' -%}
    {% when 'add' %}
        {%- assign wishlistAction = 'add' -%}
    {% else %}
        {%- assign wishlistAction = false -%}

{%- endcase -%}

<div class="product-card-grid-item{% if product.has_discount %} product-has-discount{% endif %}">

	<div class="product-media-container">

		{% render 'product-badges', product: product, postion: 'left-bottom' %}

		{% if wishlistAction and store.session.logged_in %}

			<div class="product-wishlist-action-container">

		        <button type="button" class="btn btn-text p-2 product-wishlist-action" data-wishlist-{{- wishlistAction -}}="{{ product.id }}" aria-pressed="{{ product.in_wishlist | yepnope: 'true', 'false' }}">
		            {%- render 'icon', icon: 'love-it-08UZOs', class: 'svg-icon-lg svg-icon-fw svg-icon-2x' -%}
		        </button>

		    </div>

		{% endif %}

		<a href="{{ product | page_url }}">

			<div class="product-media">

				<div class="product-media-img-container aspect-ratio-container">

	  				{%- assign imgSrc = product.image | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
	  				{%- assign imgSizeSm = 420,420 -%}
	  				{%- assign imgSizeLg = 576,576 -%}

		  			<picture>
				        <source media="(min-width: 768px)" data-srcset="
				            {{ imgSrc | thumb: imgSizeLg }} 1x,
				            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

				        <img
				            alt="{{ product.name }}"
				            data-src="{{ imgSrc | thumb: imgSizeSm }}"
				            data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x, {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
				            class="lazy d-block mx-auto img-fluid aspect-ratio-item">
				    </picture>

				</div>

  			</div>

		</a>

	</div>

	<div class="product-caption">

		<a href="{{ product | page_url }}">

			<div class="product-manufacturer">

				<span class="product-manufacturer-name">
					{{ product.manufacturer.name }}
				</span>

			</div>

			<div class="product-name">

				<h3 class="product-name-text">
					{{ product.name }}
				</h3>

			</div>

			<div class="product-price">

				{% if product.has_discount %}

					<span class="text-sale-price font-weight-bold mr-2">
						{{ product.price | in_currency }}
					</span>

		            <span class="text-decoration-line-through text-muted">
		            	{{ product.original_price | in_currency }}
		            </span>

		        {% else %}

		        	<span class="text-price">
						{{ product.price | in_currency }}
					</span>

		        {% endif %}

			</div>

		</a>

	</div>

</div>