{% comment %}
	Renders a product card as grid item

	Accepts:
	- product: {Object} Product Liquid object (required)
	- wishlist: {String} 'toggle' | 'remove' | 'add'
	- itemsPerRow {Number} Number of product card grid siblings
	- showDiscountBadge: {Boolean} true | false
	- showOutOfStockBadge: {Boolean} true | false
	- showNewBadge: {Boolean} true | false
	- showManufacturer: {Boolean} true | false
	- showProductName: {Boolean} true | false
	- showPricing: {Boolean} true | false
	- showAddToCart: {Boolean} true | false

	Usage:
	{% render 'product-card-grid', product: product %}
{% endcomment %}

{%- case wishlist -%}

    {% when 'toggle' %}
        {%- assign wishlistAction = 'toggle' -%}
    {% when 'remove' %}
        {%- assign wishlistAction = 'remove' -%}
    {% when 'add' %}
        {%- assign wishlistAction = 'add' -%}
    {% else %}
        {%- assign wishlistAction = false -%}

{%- endcase -%}

{%- unless itemsPerRow -%}
	{%- assign itemsPerRow = 4 -%}
{%- endunless -%}

{%- if showDiscountBadge != false -%}
	{%- assign showDiscountBadge = true -%}
{%- endif -%}

{%- if showOutOfStockBadge != false -%}
	{%- assign showOutOfStockBadge = true -%}
{%- endif -%}

{%- if showNewBadge != false -%}
	{%- assign showNewBadge = true -%}
{%- endif -%}

{%- if showManufacturer != false -%}
	{%- assign showManufacturer = true -%}
{%- endif -%}

{%- if showProductName != false -%}
	{%- assign showProductName = true -%}
{%- endif -%}

{%- if showPricing != false -%}
	{%- assign showPricing = true -%}
{%- endif -%}

{%- if showAddToCart != false -%}
	{%- assign showAddToCart = true -%}
{%- endif -%}

{%- if store.customer_accounts_require_approval == true and customer.has_access -%}
    {%- assign accountHasApproval = true -%}
{%- endif -%}

{% unless store.customer_accounts_require_approval == false or accountHasApproval %}
	{%- assign showPricing = false -%}
{% endunless %}

{%- assign productInWishlist = product.in_customers_wishlist | default: false -%}
{%- assign productImage = product.image | default: '' -%}
{%- assign productName = product.name | default: '' -%}
{%- assign productManufacturerName = product.manufacturer.name | default: '' -%}
{%- assign productPrice = product.price | default: '' -%}
{%- assign productNetPrice = product.net_price | default: '' -%}
{%- assign productOriginalNetPrice = product.original_net_price | default: '' -%}
{%- assign productOriginalPrice = product.original_price | default: '' -%}
{%- assign productHasDiscount = product.has_discount | default: false -%}
{%- assign productUrl = product | link | default: '' -%}

{% if url %}
	{%- assign productUrl = url -%}
{% endif %}

{%- unless product -%}
	{%- assign productName = 'Example product title' -%}
	{%- assign productManufacturerName = 'Example manufacturer' -%}
	{%- assign productPrice = '29.90' -%}
	{%- assign productNetPrice = '24.90' -%}
	{%- assign productOriginalNetPrice = '24.90' -%}
	{%- assign productOriginalPrice = '29.90' -%}
	{%- assign productHasDiscount = true -%}
{%- endunless -%}

<div class="product-card-grid-item{% if productHasDiscount %} product-has-discount{% endif %}">

	<div class="product-media-container">

		{% if showDiscountBadge or showOutOfStockBadge or showNewBadge %}

			{% render 'product-badges', product: product, postion: 'left-bottom', showDiscount: showDiscountBadge, showOutOfStock: showOutOfStockBadge, showNew: showNewBadge %}

		{% endif %}

		{% if product %}

			{% if wishlistAction and session.logged_in %}

				<div class="product-wishlist-action-container">

			        <button type="button" class="btn btn-text p-2 product-wishlist-action" data-wishlist-{{- wishlistAction -}}="{{ product.id }}" aria-pressed="{{ productInWishlist | yepnope: 'true', 'false' }}">
			            {%- render 'icon', icon: 'regular/love-it', class: 'svg-icon-lg svg-icon-fw svg-icon-2x' -%}
			        </button>

			    </div>

			{% endif %}

		{% endif %}

		{%- capture productMedia -%}

			<div class="product-media aspect-ratio-product">

				<div class="product-media-img-container aspect-ratio-container">

					{% if productImage %}

						{%- assign imgSrc = productImage | asset_url -%}

						{% if settings.aspectRatioProductImage == '9:13' %}

							{%- assign imgSizeSm = '388,388' -%}
			  				{%- assign imgSizeMd = '330,330' -%}

			  				{%- case itemsPerRow -%}

							    {% when '2' %}
							        {%- assign imgSizeLg = '850,850' -%}
							    {% when '3' %}
							        {%- assign imgSizeLg = '560,560' -%}
							    {% when '4' %}
							        {%- assign imgSizeLg = '416,416' -%}
							    {% when '5' %}
							        {%- assign imgSizeLg = '330,330' -%}
							    {% when '6' %}
							    	{%- assign imgSizeLg = '272,272' -%}

							{%- endcase -%}

						{% elsif settings.aspectRatioProductImage == '4:3' %}

							{%- assign imgSizeSm = '280,220' -%}
			  				{%- assign imgSizeMd = '240,190' -%}

			  				{%- case itemsPerRow -%}

							    {% when '2' %}
							        {%- assign imgSizeLg = '600,460' -%}
							    {% when '3' %}
							        {%- assign imgSizeLg = '400,310' -%}
							    {% when '4' %}
							        {%- assign imgSizeLg = '400,235' -%}
							    {% when '5' %}
							        {%- assign imgSizeLg = '240,190' -%}
							    {% when '6' %}
							    	{%- assign imgSizeLg = '200,160' -%}

							{%- endcase -%}

						{% elsif settings.aspectRatioProductImage == '1:1' %}

							{%- assign imgSizeSm = '280,280' -%}
			  				{%- assign imgSizeMd = '240,240' -%}

			  				{%- case itemsPerRow -%}

							    {% when '2' %}
							        {%- assign imgSizeLg = '600,600' -%}
							    {% when '3' %}
							        {%- assign imgSizeLg = '400,400' -%}
							    {% when '4' %}
							        {%- assign imgSizeLg = '300,300' -%}
							    {% when '5' %}
							        {%- assign imgSizeLg = '240,240' -%}
							    {% when '6' %}
							    	{%- assign imgSizeLg = '200,200' -%}

							{%- endcase -%}

						{% endif %}

			  			<picture>
					        <source media="(min-width: 992px)" data-srcset="
					            {{ imgSrc | thumb: imgSizeLg }} 1x,
					            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

					        <source media="(min-width: 576px)" data-srcset="
					            {{ imgSrc | thumb: imgSizeMd }} 1x,
					            {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

					        <source data-srcset="
                                {{ imgSrc | thumb: imgSizeSm }} 1x,
                                {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

					        <img
					            alt="{{ productName }}"
					            data-src="{{ imgSrc | thumb: imgSizeSm }}"
					            data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x, {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
					            class="lazy d-block mx-auto img-fluid aspect-ratio-item">
					    </picture>

					{% else %}

						{% render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item' %}

					{% endif %}

				</div>

  			</div>

		{%- endcapture -%}

		{%- if productUrl -%}

			<a href="{{ productUrl }}">
				{{ productMedia }}
			</a>

		{%- else -%}

			<div>
				{{ productMedia }}
			</div>

		{%- endif -%}

	</div>

	<div class="product-caption">

		{%- capture productCaptionInner -%}

			{% if showManufacturer %}

				<div class="product-manufacturer">

					<span class="product-manufacturer-name">
						{{ productManufacturerName }}
					</span>

				</div>

			{% endif %}

			{% if showProductName %}

				<div class="product-name">

					<h3 class="product-name-text">
						{{ productName }}
					</h3>

				</div>

			{% endif %}

			{% if showPricing %}

				<div class="product-price">

					{%- if settings.taxFreePrices -%}
						{% assign itemPrice = productNetPrice %}
						{% assign itemOriginalPrice = productOriginalNetPrice %}
					{%- else -%}
						{% assign itemPrice = productPrice %}
						{% assign itemOriginalPrice = productOriginalPrice %}
					{%- endif -%}

					{% if productHasDiscount %}

						<span class="text-sale-price font-weight-bold mr-2">
							{{ itemPrice | money_with_currency }}
						</span>

			            <span class="text-decoration-line-through text-muted">
			            	{{ itemOriginalPrice | money_with_currency }}
			            </span>

			        {% else %}

			        	<span class="text-price">
							{{ itemPrice | money_with_currency }}
						</span>

			        {% endif %}

				</div>

			{% endif %}

		{%- endcapture -%}

		{%- if product -%}

			<a href="{{ productUrl }}">
				{{ productCaptionInner }}
			</a>

		{%- else -%}

			<div>
				{{ productCaptionInner }}
			</div>

		{%- endif -%}

	</div>

	{% if showAddToCart %}

		{% if store.customer_accounts_enabled == false or store.customer_accounts_optional == true or customer %}

        	{% if store.customer_accounts_require_approval == false or customer.has_access %}

				<div class="product-action">

					{%- if product -%}

						{%- assign isBuyable = product.inventory_policy == 'continue' or product.in_stock and product.only_preview == false -%}

						{%- if isBuyable and product.buy_directly -%}

							<button type="button" class="btn btn-section btn-block btn-sm" data-cart-add="{{ product.id }}" data-cart-quantity="{{ product.min_amount }}">
				                {{ 'cart.add' | t }}
				            </button>

			            {%- else -%}

			            	<a href="{{ productUrl }}" class="btn btn-section btn-block btn-sm">
								{{ 'general.product_view' | t }}
							</a>

			            {%- endif -%}

		            {%- else -%}

		            	<span class="btn btn-section btn-block btn-sm">
			                {{ 'cart.add' | t }}
			            </span>

		            {%- endif -%}

				</div>

			{% endif %}

		{% endif %}

	{% endif %}

</div>