{% comment %}
	Renders a section bg

	Accepts:
	- sectionBgImgSrc: {String}
	- sectionBgImgPos {String}
	- sectionBgImgOverlay: {String}
	- sectionContentBgColorStatus: {String}

	Usage:
	Render this snippet inside of element with a "section" class.

	{% render 'section-bg', sectionBgImgSrc: src, sectionBgImgPos: pos, sectionBgImgOverlay: '0', sectionContentBgColorStatus: 'true' %}
{% endcomment %}

<div class="section-bg-container">

	<div class="section-bg{% if sectionBgImgSrc %} bg-img-pos-{{ sectionBgImgPos }} lazy{% if section.settings.sectionContentBgColorStatus %} hide-bg-sm{% endif %}{% endif %}"{% if sectionBgImgSrc and sectionBgImgOverlay > 0 %} data-bg-multi="linear-gradient(0deg, rgb(0,0,0, {{ section.settings.sectionBgImgOverlay }}%), rgb(0,0,0, {{ section.settings.sectionBgImgOverlay }}%)), url({{ sectionBgImgSrc | thumb: 1920,1080 }})" data-bg-multi-hidpi="linear-gradient(0deg, rgb(0,0,0, {{ section.settings.sectionBgImgOverlay }}%), rgb(0,0,0, {{ section.settings.sectionBgImgOverlay }}%)), url({{ sectionBgImgSrc | thumb: 1920,1080 | thumb:'@2x' }})"{% elsif sectionBgImgSrc %} data-bg="{{ sectionBgImgSrc | thumb: 1920,1080 }}" data-bg-hidpi="{{ sectionBgImgSrc | thumb: 1920,1080 | thumb:'@2x' }}"{% endif %}></div>

</div>