{% comment %}
	Renders a section

	Accepts:
	- section: {Object} Section Liquid object
	- sectionTitle: {String}
	- sectionTitleTag {String}
	- sectionSubtitle: {String}
	- sectionDescription: {String}
	- sectionBreadcrumbs: {Object} Breadcrumbs Liquid object
	- sectionContent: {String}
	- sectionBgImgSrc: {String}
	- sectionBgImgPos: {String}
	- sectionBgImgOverlay: {String}
	- sectionContentContainer: {String} 'none', 'fixed', 'fluid'

	Usage:
	{% render 'section', section: section, sectionTitle: title, sectionTitleTag: tag, sectionSubtitle: subtitle, sectionDescription: description, sectionBreadcrumbs: breadcrumbs, sectionContent: content, sectionBgImgSrc: src, sectionBgImgPos: pos, sectionBgImgOverlay: overlay, sectionContentContainer: 'fixed' %}
{% endcomment %}

{%- assign section = section -%}
{%- assign sectionHeight = section.settings.sectionHeight | default: settings.sectionHeight -%}
{%- assign sectionInnerSpacing = section.settings.sectionInnerSpacing | default: 'off' -%}
{%- assign sectionContent = sectionContent | default: null -%}
{%- assign sectionContentSpacing = section.settings.sectionContentSpacing -%}
{%- assign sectionContentWidth = section.settings.sectionContentWidth | default: '12' -%}
{%- assign sectionContentAlign = section.settings.sectionContentAlign | default: 'center' -%}
{%- assign sectionContentContainer = sectionContentContainer -%}
{%- assign sectionBgImgPos = section.settings.sectionBgImgPos | default: settings.sectionBgImgPos -%}
{%- assign sectionBgImgOverlay = section.settings.sectionBgImgOverlay | default: '0' -%}
{%- assign sectionBgImgSrc = section.settings.sectionBgImgSrc -%}
{%- assign sectionStyle = section.settings.sectionStyle -%}
{%- assign sectionTitle = sectionTitle | default: null -%}
{%- assign sectionTitleTag = sectionTitleTag | default: null -%}
{%- assign sectionSubtitle = sectionSubtitle | default: null -%}
{%- assign sectionDescription = sectionDescription | default: null -%}
{%- assign sectionBreadcrumbs = sectionBreadcrumbs | default: null -%}
{%- assign sectionClasses = '' -%}

{%- if sectionHeight -%}
    {% capture sectionHeightClass %} section-height-{{ sectionHeight }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionHeightClass -%}
{%- endif -%}

{%- if sectionContentSpacing -%}
    {% capture sectionContentSpacingClass %} section-spacing-content-{{ sectionContentSpacing }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionContentSpacingClass -%}
{%- endif -%}

{%- if sectionInnerSpacing != 'off' -%}
    {% capture sectionContentSpacingClass %} section-spacing-inner-{{ sectionInnerSpacing }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionContentSpacingClass -%}
{%- endif -%}

{%- if sectionStyle -%}
    {% capture sectionStyleClass %} section-style-{{ sectionStyle }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionStyleClass -%}
{%- endif -%}

{%- if section.settings.sectionContentBgColorStatus -%}
    <style>
        #finqu-section-{{ section.id }} .container,
        #finqu-section-{{ section.id }} .container-fluid {
            background-color: {{ section.settings.sectionContentBgColor }}
        }
    </style>
{%- endif -%}

<div class="section-inner {{ sectionClasses | strip }}">

	{%- if sectionTitle or sectionSubtitle or sectionDescription or sectionBreadcrumbs -%}

		{%- render 'section-header',  section: section, sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionSubtitle: sectionSubtitle, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs -%}

	{%- endif -%}

	{%- if sectionContent -%}

		{%- render 'section-content', section: section, sectionContent: sectionContent, sectionContentWidth: sectionContentWidth, sectionContentAlign: sectionContentAlign, sectionContentContainer: sectionContentContainer -%}

	{%- endif -%}

	{%- render 'section-bg' section: section, sectionBgImgSrc: sectionBgImgSrc, sectionBgImgPos: sectionBgImgPos, sectionBgImgOverlay: sectionBgImgOverlay, sectionContentBgColorStatus: sectionContentBgColorStatus -%}

</div>