{% comment %}
	Renders a section header

	Accepts:
	- sectionTitle: {String}
	- sectionTitleSize: {String}
	- sectionTitleTag: {String}
	- sectionSubtitle: {String}
	- sectionSubtitleTag: {String}
	- sectionDescription: {String}
	- sectionBreadcrumbs: {Object} Breadcrumbs Liquid object
	- sectionHeaderAction: {String}
	- sectionHeaderTextAlign: {String} 'left', 'center', 'right'
	- sectionContentContainer: {String} 'none', 'fixed', 'fluid', 'compact', 'tiny'

	Usage:
	Render this snippet inside of element with a "section" class.

	{% render 'section-header', sectionTitle: title, sectionTitleTag: tag, sectionSubtitle: subtitle, sectionSubtitleTag: sectionSubtitleTag, sectionDescription: description, sectionBreadcrumbs: breadcrumbs, sectionContentContainer: 'fixed' %}
{% endcomment %}

{% assign sectionTitleTag = sectionTitleTag | default: 'span' %}
{% assign sectionSubtitleTag = sectionSubtitleTag | default: 'span' %}

{%- case sectionTitleSize -%}
    {% when '1' %}
        {%- assign sectionTitleSize = 'display-1' -%}
    {% when '2' %}
        {%- assign sectionTitleSize = 'display-2' -%}
    {% when '3' %}
        {%- assign sectionTitleSize = 'display-3' -%}
    {% when '4' %}
        {%- assign sectionTitleSize = 'display-4' -%}
    {% else %}
    	{%- assign sectionTitleSize = '' -%}
{%- endcase -%}

{% capture content %}

    <div class="row no-gutters">

		<div class="col">

			{% if sectionHeaderAction %}

				<div class="action-container">

					{{- sectionHeaderAction -}}

				</div>

			{% endif %}

			{% if sectionBreadcrumbs %}

				<div class="breadcrumbs-container">

					<nav>

						<ul class="breadcrumbs">

							{% for breadcrumb in sectionBreadcrumbs %}

								<li class="item">

						            {%- if forloop.last == true -%}

						            	<a href="{{ breadcrumb | page_url }}" class="item-link">
						            		{{ breadcrumb.name }}
						            	</a>

						            {%- else -%}

						                <a href="{{ breadcrumb | page_url }}" class="item-link">
						                	{{ breadcrumb.name }}
						                </a>

						                {%- render 'icon', icon: 'regular/arrow-right-1', class: 'item-seperator' -%}

						            {%- endif -%}

						        </li>

					        {% endfor %}

						</ul>

					</nav>

				</div>

			{% endif %}

			{% if sectionTitle %}

				<div class="title-container">

					<{{ sectionTitleTag }} class="title{% if sectionTitleSize %} {{ sectionTitleSize }}{% endif %}">
						{{- sectionTitle -}}
					</{{ sectionTitleTag }}>

				</div>

			{% endif %}

			{% if sectionSubtitle %}

				<div class="subtitle-container">

					<{{ sectionSubtitleTag }} class="subtitle">
						{{- sectionSubtitle -}}
					</{{ sectionSubtitleTag }}>

				</div>

			{% endif %}

			{% if sectionDescription %}

				<div class="description-container">

					<div class="description">
						{{- sectionDescription -}}
					</div>

				</div>

			{% endif %}

		</div>

	</div>

{% endcapture %}

<div class="section-header{% if sectionHeaderTextAlign %} text-{{ sectionHeaderTextAlign }}{% endif %}{% if sectionContentContainer == 'none' %} d-block{% endif %}">

	{%- if sectionContentContainer == 'fixed' -%}

        <div class="container">

            {{- content -}}

        </div>

    {%- elsif sectionContentContainer == 'fluid' -%}

        <div class="container-fluid">

            {{- content -}}

        </div>

    {%- elsif sectionContentContainer == 'compact' -%}

        <div class="container-compact">

            {{- content -}}

        </div>

    {%- elsif sectionContentContainer == 'tiny' -%}

        <div class="container-tiny">

            {{- content -}}

        </div>

    {%- elsif sectionContentContainer == 'none' -%}

        {{- content -}}

    {%- endif -%}

</div>