{% comment %}
	Renders a section

	Accepts:
	- section: {Object} Section Liquid object
	- sectionTitle: {String}
	- sectionTitleTag {String}
	- sectionSubtitle: {String}
	- sectionSubtitleTag {String}
	- sectionHeight {String}
	- sectionViewHeight {Number} (1-100 as vh)
	- sectionInnerSpacing {String}
	- sectionDescription: {String}
	- sectionBreadcrumbs: {Object} Breadcrumbs Liquid object
	- sectionHeaderTextAlign: {String} 'left', 'center', 'right'
	- sectionHeaderAction: {String}
	- sectionContent: {String}
	- sectionContentTextAlign: {String} 'left', 'center', 'right'
	- sectionCustomContent: {String}
	- sectionBgImgSrc: {String}
	- sectionBgImgPos: {String}
	- sectionBgImgOverlay: {String}
	- sectionStyle: {String}
	- sectionOverlay: {Boolean}
	- sectionContentContainer: {String} 'none', 'fixed', 'fluid', 'compact', 'tiny'
	- sectionTextAlign: {String} 'left', 'center', 'right'
	- sectionHeightCustomTop: {String}
	- sectionHeightCustomBottom: {String}
	- sectionColSpacing {String}

	Usage:
	{% render 'section', section: section, sectionTitle: title, sectionTitleTag: tag, sectionSubtitle: subtitle, sectionSubtitletag: tag, sectionDescription: description, sectionBreadcrumbs: breadcrumbs, sectionContent: content, sectionBgImgSrc: src, sectionBgImgPos: pos, sectionBgImgOverlay: overlay, sectionContentContainer: 'fixed' %}
{% endcomment %}

{%- assign section = section -%}
{%- assign sectionHeight = sectionHeight | default: section.settings.sectionHeight | default: settings.sectionHeight -%}
{%- assign sectionViewHeight = sectionViewHeight | default: null -%}
{%- assign sectionInnerSpacing = sectionInnerSpacing | default: section.settings.sectionInnerSpacing | default: 'off' -%}
{%- assign sectionContent = sectionContent | default: null -%}
{%- assign sectionContentSpacing = section.settings.sectionContentSpacing -%}
{%- assign sectionCustomContent = sectionCustomContent | default: null -%}
{%- assign sectionContentWidth = section.settings.sectionContentWidth | default: '12' -%}
{%- assign sectionContentAlign = section.settings.sectionContentAlign | default: 'center' -%}
{%- assign sectionContentContainer = sectionContentContainer | default: 'fixed' -%}
{%- assign sectionContentTextAlign = sectionContentTextAlign | default: null -%}
{%- assign sectionBgImgPos = section.settings.sectionBgImgPos | default: settings.sectionBgImgPos -%}
{%- assign sectionBgImgOverlay = section.settings.sectionBgImgOverlay | default: '0' -%}
{%- assign sectionBgImgSrc = section.settings.sectionBgImgSrc -%}
{%- assign sectionStyle = sectionStyle | default: section.settings.sectionStyle | default: 'general' -%}
{%- assign sectionTitle = sectionTitle | default: null -%}
{%- assign sectionTitleTag = sectionTitleTag | default: null -%}
{%- assign sectionSubtitle = sectionSubtitle | default: null -%}
{%- assign sectionSubtitleTag = sectionSubtitleTag | default: null -%}
{%- assign sectionDescription = sectionDescription | default: null -%}
{%- assign sectionBreadcrumbs = sectionBreadcrumbs | default: null -%}
{%- assign sectionHeaderAction = sectionHeaderAction | default: null -%}
{%- assign sectionHeaderTextAlign = sectionHeaderTextAlign | default: null -%}
{%- assign sectionOverlay = sectionOverlay | default: false -%}
{%- assign sectionTextAlign = sectionTextAlign | default: null -%}
{%- assign sectionHeightCustomTop = sectionHeightCustomTop | default: section.settings.sectionHeightCustomTop -%}
{%- assign sectionHeightCustomBottom = sectionHeightCustomBottom | default: section.settings.sectionHeightCustomBottom -%}
{%- assign sectionClasses = sectionClasses -%}
{%- assign sectionColSpacing = sectionColSpacing | default: section.settings.sectionColSpacing | default: 'off' -%}

{%- if sectionHeight != 'off' -%}
    {% capture sectionHeightClass %} section-height-{{ sectionHeight }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionHeightClass -%}
{%- endif -%}

{%- if sectionViewHeight -%}
    {% capture sectionViewHeightClass %} section-view-height-{{ sectionViewHeight }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionViewHeightClass -%}
{%- endif -%}

{%- if sectionContentSpacing -%}
    {% capture sectionContentSpacingClass %} section-spacing-content-{{ sectionContentSpacing }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionContentSpacingClass -%}
{%- endif -%}

{%- if sectionInnerSpacing != 'off' -%}
    {% capture sectionContentSpacingClass %} section-spacing-inner-{{ sectionInnerSpacing }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionContentSpacingClass -%}
{%- endif -%}

{%- if sectionOverlay -%}
    {% capture sectionOverlayClass %} section-overlay{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionOverlayClass -%}
{%- endif -%}

{%- if sectionStyle -%}
    {% capture sectionStyleClass %} section-style-{{ sectionStyle }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionStyleClass -%}
{%- endif -%}

{%- if sectionTextAlign -%}
    {% capture sectionTextAlignClass %} text-{{ sectionTextAlign }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionTextAlignClass -%}
{%- endif -%}

{%- if sectionColSpacing != 'off' -%}
    {% capture sectionColSpacingClass %} section-spacing-col-{{ sectionColSpacing }}{% endcapture %}
    {%- assign sectionClasses = sectionClasses | append: sectionColSpacingClass -%}
{%- endif -%}

{%- if section.settings.sectionContentBgColorStatus -%}
    <style>
        #finqu-section-{{ section.id }} .container,
        #finqu-section-{{ section.id }} .container-fluid {
            background-color: {{ section.settings.sectionContentBgColor }}
        }
    </style>
{%- endif -%}

{%- if sectionHeight == 'custom' -%}
	<style>
		@media (min-width: 768px) {
	        #finqu-section-{{ section.id }} .section-height-custom {
	        	padding-top: {{ sectionHeightCustomTop }}px;
				padding-bottom: {{ sectionHeightCustomBottom }}px;
	        }
	    }
	</style>
{%- endif -%}

<div class="section-inner {{ sectionClasses | strip }}">

	{%- if sectionTitle or sectionSubtitle or sectionDescription or sectionBreadcrumbs -%}

		{%- render 'section-header',  section: section, sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionHeaderAction: sectionHeaderAction, sectionHeaderTextAlign: sectionHeaderTextAlign, sectionSubtitle: sectionSubtitle, sectionSubtitleTag: sectionSubtitleTag, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs, sectionContentContainer: sectionContentContainer -%}

	{%- endif -%}

	{%- if sectionContent -%}

		{%- render 'section-content', section: section, sectionContent: sectionContent, sectionContentWidth: sectionContentWidth, sectionContentAlign: sectionContentAlign, sectionContentContainer: sectionContentContainer, sectionContentTextAlign: sectionContentTextAlign -%}

	{%- endif -%}

	{%- render 'section-bg' section: section, sectionBgImgSrc: sectionBgImgSrc, sectionBgImgPos: sectionBgImgPos, sectionBgImgOverlay: sectionBgImgOverlay, sectionContentBgColorStatus: sectionContentBgColorStatus -%}

	{%- if sectionCustomContent -%}

		{{ sectionCustomContent }}

	{%- endif -%}

</div>