<div class="collage collage-gap-{{ section.settings.sectionColSpacing }}">

	{% for item in section.settings.setting_blocks.items %}

		{%- capture itemContent %}

            {%- assign imgSrc = item.settings.imgSrc -%}

            <div class="collage-item-inner aspect-ratio-1-1 {% if item.settings.style == 'style1' %}style-lightest{% else %}style-darkest{% endif %}{% if item.settings.resource %} has-img-effect{% endif %}">

                <div class="aspect-ratio-container item-img-container">

                    {% if imgSrc %}

                    	{%- if forloop.first == true -%}

                    		{%- assign imgSizeSm = '374,374' -%}
	                        {%- assign imgSizeMd = '608,608' -%}
	                        {%- assign imgSizeLg = '862,862' -%}

                    	{%- else -%}

                    		{%- assign imgSizeSm = '179,179' -%}
	                        {%- assign imgSizeMd = '296,296' -%}
	                        {%- assign imgSizeLg = '423,423' -%}

                    	{%- endif -%}

                        <picture>

                            <source media="(min-width: 992px)" data-srcset="
                                {{ imgSrc | thumb: imgSizeLg }} 1x,
                                {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                            <source media="(min-width: 576px)" data-srcset="
                                {{ imgSrc | thumb: imgSizeMd }} 1x,
                                {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                            <source data-srcset="
                                {{ imgSrc | thumb: imgSizeSm }} 1x,
                                {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                            <img
                                alt="{{ item.settings.imgAlt }}"
                                data-src="{{ item.settings.imgSrc | thumb: imgSizeSm }}"
                                data-srcset="{{ item.settings.imgSrc | thumb: imgSizeSm }} 1x,{{ item.settings.imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                class="lazy aspect-ratio-item aspect-ratio-item-cover d-block mx-auto img-fluid">
                        </picture>

                    {% else %}

                        {% render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item' %}

                    {% endif %}

                </div>

                <div class="aspect-ratio-container item-content-container">

                    <div class="d-flex justify-content-center align-items-center flex-column h-100 p-3">

                        <div class="my-auto">

                            {% if item.settings.title %}

                                <h3 class="font-weight-normal h1 mb-0 item-title">
                                    {{ item.settings.title }}
                                </h3>

                            {% endif %}

                            {% if item.settings.description %}

                                <p class="lead mt-2 mt-md-4 mb-0 item-description">
                                    {{ item.settings.description }}
                                </p>

                            {% endif %}

                        </div>

                        {% if item.settings.btnLabel %}

                            {% if item.settings.btnStyle == 'btn1' %}

                                <span class="btn btn-section align-self-center mb-2 item-btn{% if forloop.first == false %} btn-sm{% endif %}"">
                                    {{ item.settings.btnLabel }}
                                </span>

                            {% elsif item.settings.btnStyle == 'btn2' %}

                                <span class="btn btn-outline-section align-self-center mb-2 item-btn{% if forloop.first == false %} btn-sm{% endif %}">
                                    {{ item.settings.btnLabel }}
                                </span>

                            {% else %}

                                <span class="text-underline-indicator font-weight-bold align-self-center mb-2 item-btn">

                                    <span class="mr-2">
                                        {{ item.settings.btnLabel }}
                                    </span>

                                    {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}

                                </span>

                            {% endif %}

                        {% endif %}

                    </div>

                </div>

            </div>

        {%- endcapture -%}

		<div class="collage-item text-center">

			{% if item.settings.resource %}

                <a href="{{- item.settings.resource.url -}}"{% if item.settings.resourceOpenInNewWindowStatus %} target="_blank"{% endif %}>
                    {{ itemContent }}
                </a>

            {% else %}

                {{ itemContent }}

            {% endif %}

		</div>

	{% endfor %}

</div>