<div class="product-variant-container form-group">

    {% if variant.name %}<label>{{ variant.name }}</label>{% endif %}

    {% for option in variant.options %}

        <div class="form-group form-check">

            {% if option.price > 0 and showVariantPrice and showVariantTotalPrice and option.in_stock == true %}

                {% assign checkboxArgument1 = true %}

            {% endif %}

            {% if option.price > 0 and showVariantPrice and showVariantTotalPrice and product.ignore_storage == true %}

                {% assign checkboxArgument2 = true %}

            {% endif %}

            <input class="product-variant form-check-input{% if checkboxArgument1 or checkboxArgument2 %} has-price{% endif %}"
               type="checkbox"
               data-variant="{{ variant.id }}"
               id="product-option-{{ option.id }}"
               name="{{ variant.id }}[]"
               value="{{ option.id }}"
               {% if option.in_stock == false and product.ignore_storage == false %} disabled{% else %} data-is-usable{% endif %}>

            <label for="product-option-{{ option.id }}" class="form-check-label">

                {{ option.name }}

                {% if option.price > 0 and showVariantPrice and showVariantTotalPrice == blank %}

                    (+{{ option.price | in_currency }})

                {% endif %}

            </label>

        </div>

    {% endfor %}

</div>

{% for option in variant.options %}

    {% if option.subvariant %}

        {% render 'product-variants/subvariant', option: option %}

    {% endif %}

{% endfor %}