<div class="product-variant-container form-group">

    {% if variant.name %}<label>{{ variant.name }}</label>{% endif %}

    {% for option in variant.options %}

        <div class="form-group form-check">

            {% if option.price > 0 and showVariantPrice and showVariantTotalPrice and option.in_stock == true %}

                {% assign radioArgument1 = true %}

            {% endif %}

            {% if option.price > 0 and showVariantPrice and showVariantTotalPrice and product.ignore_storage == true %}

                {% assign radioArgument2 = true %}

            {% endif %}

            <input class="product-variant form-check-input{% if radioArgument1 or radioArgument2 %} has-price{% endif %}"
               type="radio"
               data-variant="{{ variant.id }}"
               id="product-option-{{ option.id }}"
               name="{{ variant.id }}"
               value="{{ option.id }}"
               {% if option.image %} data-variant-image="product-option-image-{{ option.id }}"{% endif %}
               {% if option.in_stock == false and product.ignore_storage == false %} disabled{% else %} data-is-usable{% endif %}>

            <label for="product-option-{{ option.id }}" class="form-check-label">

                {{ option.name }}

                {% if showVariantStock and product.ignore_storage == false and product.only_preview != true and option.in_stock == true and option.subvariant == false %}

                    ({{ option.stock }} {{ product.unit }})

                {% endif %}

                {% if option.in_stock == false and product.ignore_storage == false %}

                    ({{ 'product.out_of_stock' | t }})

                {% elsif option.price > 0 and showVariantPrice and showVariantTotalPrice == blank %}

                    (+{{ option.price | in_currency }})

                {% endif %}

            </label>

        </div>

    {% endfor %}

</div>

{% for option in variant.options %}

    {% if option.subvariant %}

        {% render 'product-variants/subvariant', option: option %}

    {% endif %}

{% endfor %}