<div class="container">

	<h2>Tilin tiedot</h2>

	{% form 'localization' id:accountLocale %}

		<div class="row">

			<div class="col">

				<p><a href="{{ routes.account_edit_url }}">Muokkaa yhteystietoja</a></p>

			</div>

			<div class="col col-auto">

				<select name="currency_code" class="form-control" id="edit-account-currency">

			        {% for currency in form.available_currencies %}

			            <option value="{{ currency.iso_code }}"{% if currency.iso_code == form.current_currency.iso_code %} selected{% endif %}>{{ currency.iso_code }}</option>

			        {% endfor %}

			    </select>

			</div>

			<div class="col col-auto">

				<select name="locale_code" class="form-control" id="edit-account-locale">

			        {% for locale in form.available_locales %}

			            <option value="{{ locale.iso_code }}"{% if locale.iso_code == form.current_locale.iso_code %} selected{% endif %}>{{ locale.endonym_name }}</option>

			        {% endfor %}

			    </select>

			</div>

		</div>

		<button type="submit" class="btn btn-link">Päivitä</button>

	{% endform %}

	<h2>Tilaukset ({{ customer.orders | count }})</h2>

</div>
