{%- assign sectionTitle = 'account.change_password' | t -%}

{%- capture sectionHeaderAction -%}

	<a href="{{ routes.account_url }}">

		{%- render 'icon', icon: 'arrow-left-dzpnnb', class: 'mr-1' -%}

		<span>
			{{ 'general.back' | t }}
		</span>
	</a>

{%- endcapture -%}

{%- capture sectionContent -%}

    {% form 'change_customer_password' %}

        <div class="form-group form-floating">

           <input type="password" pattern=".{8,}" class="form-control" name="password" id="account-change-password" placeholder="{{ 'account.information.new_password' | t }}" value="{{ form.submitted.password | escape }}" required title="8 {{ 'min_length' | t }}">

           <label for="account-change-password">
                {{ 'account.information.confirm_password' | t }}
            </label>

        </div>

        <div class="form-group form-floating">

           <input type="password" pattern=".{8,}" class="form-control" name="confirm_password" id="account-change-password-confirm" placeholder="{{ 'account.information.confirm_new_password' | t }}" value="{{ form.submitted.password_confirm | escape }}" required title="8 {{ 'min_length' | t }}">

           <label for="account-change-password-confirm">
                {{ 'account.information.confirm_new_password' | t }}
            </label>

        </div>

        {% render 'form-error', error: form.error %}

        <button type="submit" class="btn btn-section btn-block">
            {{ 'general.confirm' | t }}
        </button>

    {% endform %}

{%- endcapture -%}

<section class="section section-login">
    {% render 'section', sectionTitle: sectionTitle, sectionHeaderAction: sectionHeaderAction, sectionContent: sectionContent, sectionContentContainer: 'compact', sectionOverlay: true %}
</section>