{%- assign sectionTitle = 'login.title' | t -%}

{%- capture sectionContent -%}

    {% form 'login' %}

        <div class="form-group">

            <label>
                {{ 'account.information.email' | t }}
            </label>

            <input type="email" class="form-control" name="email" id="login-email" placeholder="{{ 'login.email_placeholder' | t }}" value="{{ form.submitted.email | escape }}" required>

        </div>

        <div class="form-group">

            <label>
                {{ 'account.information.password' | t }}
            </label>

            <input type="password" class="form-control" name="password" id="login-password" placeholder="{{ 'login.password_placeholder' | t }}" value="{{ form.submitted.password | escape }}" required>

        </div>

        {% render 'form-error', error: form.error %}

        <button type="submit" class="btn btn-section btn-block mb-4">{{ 'login.cta' | t }}</button>

        <a href="{{ routes.account_password_recover_url }}" class="font-weight-bold text-underline-indicator">
            {{ 'login.forgot_password' | t }}
        </a>

        <hr class="mt-5 mb-5">

        <h3 class="mb-5">
            {{ 'login.new_customer' | t }}
        </h3>

        <a href="{{ routes.account_register_url }}" class="btn btn-outline-section btn-block">
            {{ 'login.register' | t }}
        </a>

    {% endform %}

{%- endcapture -%}

<section class="section section-login">
    {% render 'section', sectionTitle: sectionTitle, sectionContent: sectionContent, sectionContentContainer: 'compact', sectionOverlay: true %}
</section>