<div class="container">

    {% form 'order_password' %}

        {% if form.posted_successfully? %}

            <span class="text-success block text-center"><i class="fa fa-check fa-fw" aria-hidden="true"></i> {{ 'password_reset.success' | t }}</span>

            <a href="{{ 'login' | link }}" class="btn btn-section btn-block">{{ 'register.login' | t }}</a>

        {% else %}

            <p>{{ 'password_reset.description' | t }}</p>

            <div class="form-group">

                <input type="email" class="form-control" name="email" id="login-email" placeholder="{{ 'login.email_placeholder' | t }}" value="{{ form.submitted.email | escape }}" required>

            </div>

            {% if form.error %}

                <p class="text-danger text-center"><i class="fa fa-exclamation fa-fw" aria-hidden="true"></i> {{ form.error | prepend:'form.error.' | t }}</p>

            {% endif %}

            <button type="submit" class="btn btn-section btn-block">{{ 'password_reset.cta' | t }}</button>

        {% endif %}

    {% endform %}

</div>