{%- assign sectionTitle = 'register.title' | t -%}

{%- capture sectionContent -%}

    {% form 'create_customer' %}

        <div class="form-group form-floating">

             <input type="text" class="form-control" name="firstname" id="register-firstname" placeholder="{{ 'account.information.firstname' | t }}" value="{{ form.submitted.firstname | escape }}" required>

             <label for="register-firstname">
                {{ 'account.information.firstname' | t }}
            </label>

        </div>

        <div class="form-group form-floating">

            <input type="text" class="form-control" name="lastname" id="register-lastname" placeholder="{{ 'account.information.firstname' | t }}" value="{{ form.submitted.lastname | escape }}" required>

            <label for="register-lastname">
                {{ 'account.information.password' | t }}
            </label>

        </div>

        <div class="form-group form-floating">

            <input type="email" class="form-control" name="email" id="register-email" placeholder="{{ 'account.information.email' | t }}" value="{{ form.submitted.email | escape }}" required>

            <label for="register-email">
                {{ 'account.information.email' | t }}
            </label>

        </div>

        <div class="form-group form-floating">

            <input type="password" pattern=".{8,}" class="form-control" name="password" id="register-password" placeholder="{{ 'account.information.password' | t }}" value="{{ form.submitted.password | escape }}" required title="8 {{ 'error.min_length' | t }}">

            <label for="register-password">
                {{ 'account.information.password' | t }}
            </label>

        </div>

        {% if settings.policyAgreementMethod == 'check' %}

            {% if store.terms_and_conditions %}

                <div class="form-group form-check">

                    <input type="checkbox" name="terms_and_conditions" id="register-terms-conditions" class="form-check-input">

                    <label for="register-terms-conditions" class="form-check-label">

                        {% assign policyName = 'general.policies.terms_and_conditions' | t %}
                        {% assign link = policyName | link_to: store.terms_and_conditions.url, null, '_blank' %}

                        {{- 'general.policy_accept_text' | t, policy: link -}}

                    </label>

                </div>

            {% endif %}

            {% if store.privacy_policy %}

                <div class="form-group form-check">

                    <input type="checkbox" name="privacy_policy" id="register-privacy-policy" class="form-check-input">

                    <label for="register-privacy-policy" class="form-check-label">

                        {% assign policyName = 'general.policies.privacy_policy' | t  %}
                        {% assign link = policyName | link_to: store.privacy_policy.url, null, '_blank' %}

                        {{- 'general.policy_accept_text' | t, policy: link -}}

                    </label>

                </div>

            {% endif %}

        {% endif %}

        {% render 'form-error', error: form.error %}

        <button type="submit" id="register-cta" class="btn btn-section btn-block mb-4"{% if settings.policyAgreementMethod == 'check' %} disabled{% endif %}>
            {{ 'register.cta' | t }}
        </button>

        {% if settings.policyAgreementMethod == 'inline' and store.terms_and_conditions %}

            <p class="small text-muted">

                {% assign actionText = 'register.cta' | t %}
                {% assign termsName = 'general.policies.terms_and_conditions' | t  %}
                {% assign termsLink = termsName | link_to: store.terms_and_conditions.url, null, '_blank' %}

                {% if store.privacy_policy %}

                    {% assign policyName = 'general.policies.privacy_policy' | t  %}
                    {% assign policyLink = policyName | link_to: store.privacy_policy.url, null, '_blank' %}

                    {{- 'register.inline_terms_with_policy' | t, action: actionText, terms: termsLink, policy: policyLink -}}

                {% else %}

                   {{- 'register.inline_terms' | t, action: actionText, terms: termsLink -}}

                {% endif %}

            </p>

        {% endif %}

        <hr class="mt-5 mb-5">

        <h3 class="mb-5">
            {{ 'register.returning_customer' | t }}
        </h3>

        <a href="{{ routes.account_login_url }}" class="btn btn-outline-section btn-block">
            {{ 'register.login' | t }}
        </a>

    {% endform %}

{%- endcapture -%}

<section class="section section-register">
    {% render 'section', sectionTitle: sectionTitle, sectionContent: sectionContent, sectionContentContainer: 'tiny', sectionOverlay: true %}
</section>