<!DOCTYPE html>

<html lang="{{ request.locale.iso_code }}">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">

		<link rel="preconnect" href="https://cdn.finqu.com" crossorigin="anonymous">
		<link rel="preconnect" href="https://analytics.finqu.com" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">

		<link rel="preload" href="{{ 'main.css' | asset_url }}" as="style">

		{% for item in cache_manifest %}
			{% if item.name contains '.js' %}
				<link rel="preload" href="{{ item.resource | asset_url }}" as="script">
			{% endif %}
		{% endfor %}

		{%- render 'store-fonts' -%}

		<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" type="text/css" media="all">

		{%- capture seo_title -%}
			{{- page_title -}}
			{%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
			{%- assign escaped_page_title = page_title | escape -%}
			{%- unless escaped_page_title contains store.name %} &ndash; {{ store.name }}{% endunless -%}
		{%- endcapture -%}

		<title>{{ seo_title }}</title>

		{%- render 'store-favicon' -%}
		{%- render 'store-settings' -%}
		{%- render 'hbs-templates' -%}

		{% for item in cache_manifest %}
			{% if item.name == 'main.js' %}
				<script defer="defer" src="{{ item.resource | asset_url }}"></script>
			{% elsif item.name contains '.js' %}
				<script async="async" src="{{ item.resource | asset_url }}"></script>
			{% endif %}
		{% endfor %}

		{%- if canonical_url != blank -%}
    		<link rel="canonical" href="{{ canonical_url }}">
  		{%- endif -%}

		{{ content_for_header }}

	</head>

	<body class="{% if request.design_mode %}design-mode {% endif %}{% if store.customer_accounts_enabled %}customer-accounts-enabled {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }} layout-theme">

		{% section 'header' %}

		{{ content_for_layout }}

		{% section 'footer' %}

		{% render 'cookie-policy' %}

	</body>

</html>