{%- assign dateFormat = 'general.date_format' | t  -%}
{%- assign sectionTitle = blogpost.title | t -%}
{%- assign article = blogpost -%}
{%- assign comments = blogpost.comments -%}

{%- if comments -%}
    {%- assign comments = comments | reverse -%}
{%- endif -%}

{%- capture sectionSubtitle -%}
	<i><time datetime="{{ article.created_at | date: "%F" }}">{{ article.created_at | date: dateFormat }}</time></i>
{%- endcapture -%}

{%- assign sectionSubtitle = sectionSubtitle -%}

{%- capture sectionContent -%}

	<div class="article-media">

		<div class="article-img-container aspect-ratio-container">

			{%- assign imgSrc = article.header_image | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
			{%- assign imgSizeSm = 717,273 -%}
			{%- assign imgSizeLg = 920,354 -%}

  			<picture>
		        <source media="(min-width: 768px)" data-srcset="
		            {{ imgSrc | thumb: imgSizeLg }} 1x,
		            {{ imgSrc| thumb: imgSizeLg | thumb:'@2x' }} 2x">

		        <img
		            alt="{{ article.title }}"
		            data-src="{{ imgSrc | thumb: imgSizeSm }}"
		            data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x, {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
		            class="lazy d-block mx-auto img-fluid aspect-ratio-item">
		    </picture>

	    </div>

	</div>

	<div class="article-content">

		{{ article.content }}

	</div>

	<div class="article-share">

		{% render 'social-media-share-buttons', facebook: true, twitter: true, whatsapp: true, email: true %}

	</div>

	<div class="article-comments{% if comments.size > 0 %} has-comments{% endif %}">

		<span class="d-block h2 mb-4">
        	{{ 'blog.comments' | t }}
        </span>

        {% if store.session.logged_in == false and store.customer_accounts_enabled %}

            <p>
            	<a href="{{ 'login' | link }}">{{ 'blog.comment_login' | t }}</a> {{ 'blog.comment_login_subtext' | t }}
            </p>

        {% endif %}

        {% if store.session.logged_in %}

        	<div class="article-comment-form-action">

                <button type="button" name="article-comment-form-show-action" class="btn btn-outline-section" value="root">
                    {{ 'blog.leave_comment' | t }}
                </button>

            </div>

            <div id="article-comment-form-root" class="article-comment-form d-none">

                {% form 'comment' %}

                    <input type="hidden" name="post_id" value="{{ article.id }}">

                    <div class="form-group">

                        <textarea class="form-control" name="comment"></textarea>

                    </div>

                    {% render 'form-error', error: form.error %}

                    <button type="button" name="article-comment-form-close-action" class="btn btn-outline-section" value="root">
                    	{{ 'general.cancel' | t }}
                    </button>

                    <button type="submit" class="btn btn-section">
                    	{{ 'general.submit' | t }}
                    </button>

                {% endform %}

            </div>

        {% endif %}

        {% if comments.size > 0 %}

            {% for comment in comments %}

            	{% render 'article-comment', article: article, comment: comment %}

            {% endfor %}

        {% endif %}

	</div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle sectionSubtitle: sectionSubtitle %}

{% schema %}
{
    "name": "Article",
    "tag": "section",
    "class": "section section-article",
    "is_creatable": false
}
{% endschema %}