{%- assign dateFormat = 'general.date_format' | t  -%}
{%- assign sectionTitle = blogpost.title | t -%}
{%- assign sectionTitleTag = 'h1' -%}
{%- assign article = blogpost -%}
{%- assign comments = blogpost.comments -%}

{%- if comments -%}
    {%- assign comments = comments | reverse -%}
{%- endif -%}

{%- capture sectionSubtitle -%}

    <ul class="list-separator small">

        <li class="article-date list-inline-item">

            {% assign format = 'general.date_format' | t  %}
            <i><time datetime="{{ article.published_at | date: "%F" }}">{{ article.published_at | date: dateFormat }}</time></i>

        </li>

        {% if settings.blogShowAuthor and article.author %}

            <li class="article-author list-inline-item">

                {{ article.author }}

            </li>

        {% endif %}

    </ul>

{%- endcapture -%}

{%- assign sectionSubtitle = sectionSubtitle -%}
{%- assign sectionSubtitleTag = 'div' -%}

{%- capture sectionContent -%}

    {% if article.header_image %}

    	<div class="article-media">

    		<div class="article-img-container aspect-ratio-container">

                {%- assign imgSrc = article.header_image -%}
                {%- assign imgSizeSm = '757,313' -%}
                {%- assign imgSizeLg = '960,394' -%}

                <picture>
                    <source media="(min-width: 768px)" data-srcset="
                        {{ imgSrc | thumb: imgSizeLg }} 1x,
                        {{ imgSrc| thumb: imgSizeLg | thumb:'@2x' }} 2x">

                    <img
                        alt="{{ article.title }}"
                        data-src="{{ imgSrc | thumb: imgSizeSm }}"
                        data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x, {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                        class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                </picture>

    	    </div>

    	</div>

    {% endif %}

	<div class="article-content">

		{{ article.content }}

	</div>

	<div class="article-share">

		{% render 'social-media-share-buttons', facebook: true, twitter: true, whatsapp: true, email: true %}

	</div>

    {% if article.comments_are_enabled %}

    	<div class="article-comments{% if comments.size > 0 %} has-comments{% endif %}">

    		<span class="d-block h2 mb-4">
            	{{ 'blog.comments' | t }}
            </span>

            {% if session.logged_in == false and article.comments_require_account %}

                <p>
                    <a href="{{ 'login' | page_url }}">{{ 'blog.comment_login' | t }}</a> {{ 'blog.comment_login_subtext' | t }}
                </p>

            {% else %}

                {% form 'comment', article, id: 'comment-form-root' %}

                    <div class="article-comment-form-action">

                        <button type="button" name="article-comment-form-show-action" class="btn btn-outline-section{% if form.error %} d-none{% endif %}" value="root">
                            {{ 'blog.leave_comment' | t }}
                        </button>

                    </div>

                    <div id="article-comment-form-root" class="article-comment-form{% unless form.error %} d-none{% endunless %}">

                        <div class="form-group form-floating">

                            <input name="name" type="text" id="comment-article-{{ article.id }}-name" class="form-control" placeholder="{{ 'general.name' | t }}" value="{{ form.submitted.name | escape }}" required>

                            <label for="comment-article-{{ article.id }}-name">
                                {{ 'general.name' | t }}
                            </label>

                        </div>

                        <div class="form-group">

                            <textarea class="form-control" name="comment"></textarea>

                        </div>

                        {% render 'form-error', error: form.error, class: 'form-group' %}

                        <button type="button" name="article-comment-form-close-action" class="btn btn-outline-section" value="root">
                        	{{ 'general.cancel' | t }}
                        </button>

                        <button type="submit" class="btn btn-section">
                        	{{ 'general.submit' | t }}
                        </button>

                    </div>

                {% endform %}

                {% if submitted_form.id == 'comment-form-root' and submitted_form.posted_successfully? and article.comments_require_approval %}

                    <p class="mt-4 mb-0">
                        {{ 'blog.comment_publish_pending' | t }}
                    </p>

                {% endif %}

            {% endif %}

            {% if comments.size > 0 %}

                {% for comment in comments %}

                	{% render 'article-comment', article: article, comment: comment %}

                {% endfor %}

            {% endif %}

    	</div>

    {% endif %}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionSubtitle: sectionSubtitle, sectionSubtitleTag: sectionSubtitleTag %}

{%- if settings.schemaBlogPosting -%}
    {% render 'schemas/blogposting', article: article %}
{%- endif -%}

{% schema %}
{
    "name": {
        "en": "Article",
        "fi": "Artikkeli"
    },
    "tag": "section",
    "class": "section section-article",
    "is_creatable": false
}
{% endschema %}