{%- assign sectionTitle = 'blog.title' | t -%}

{%- capture sectionContent -%}

	{%- assign posts = store.blog.recent -%}

	{% if posts.size > 0 %}

		{%- paginate posts by 20 -%}

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">

				{%- for article in posts -%}

					<div class="col pt-3 pb-4">

						<div class="blog-item">

							<div class="article-media">

								<div class="article-img-container aspect-ratio-container">

									<a href="{{ article | page_url }}">

										{%- assign imgSrc = article.header_image | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
						  				{%- assign imgSizeSm = 300,185 -%}
						  				{%- assign imgSizeLg = 535,185 -%}

							  			<picture>
									        <source media="(min-width: 768px)" data-srcset="
									            {{ imgSrc | thumb: imgSizeLg }} 1x,
									            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

									        <img
									            alt="{{ article.title }}"
									            data-src="{{ imgSrc | thumb: imgSizeSm }}"
									            data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x, {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
									            class="lazy d-block mx-auto img-fluid aspect-ratio-item">
									    </picture>

								    </a>

							    </div>

							</div>

							<div class="article-body">

								<div class="article-title">

									<a href="{{ article | page_url }}">

										<h2 class="article-title-text">{{ article.title }}</h2>

									</a>

								</div>

								<div class="article-info">

									 <span class="article-date">

			                            {% assign format = 'general.date_format' | t  %}
			                            <i><time datetime="{{ article.created_at | date: "%F" }}">{{ article.created_at | date:format }}</time></i>

			                        </span>

								</div>

								<div class="article-content">

									{%- if article.introduction.size > 0 -%}

			                            <p class="article-content-text mb-0">
			                            	{{ article.introduction }}
			                            </p>

			                        {%- else -%}

			                        	<p class="article-content-text mb-0">
			                        		{{ article.content | strip_html | truncate: 140 }}
			                        	</p>

			                        {%- endif -%}

								</div>

							</div>

						</div>

					</div>

				{%- endfor -%}

			</div>

			<div class="row">

                <div class="col">

                    {% render 'pagination', paginate: paginate %}

                </div>

            </div>

		{%- endpaginate -%}

	{% else %}

		<div>
			<span>{{ 'blog.no_articles' | t }}</span>
		</div>

	{% endif %}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle %}

{% schema %}
{
    "name": "Blog",
    "tag": "section",
    "class": "section section-blog",
    "is_creatable": false
}
{% endschema %}