{%- assign sectionTitle = section.settings.sectionTitle -%}
{%- assign sectionSubtitle = section.settings.sectionSubtitle -%}
{%- assign sectionHeaderTextAlign = section.settings.sectionHeaderTextAlign -%}
{%- assign sectionHeight = section.settings.sectionHeight | default: settings.sectionHeight -%}

{%- assign carouselClasses = '' -%}

{%- capture carouselSettings -%}
    data-carousel-pagination="{{- carouselPagination -}}" data-carousel-items-per-view="{{- section.settings.itemsPerView -}}"
{%- endcapture -%}

{%- if section.settings.pagination == 'hover' -%}
    {% capture paginationHoverClass %} swiper-pagination-hover{% endcapture %}
    {%- assign carouselClasses = carouselClasses | append: paginationHoverClass -%}
{%- endif -%}

{%- if section.settings.navigation == 'hover' -%}
    {% capture navigationHoverClass %} swiper-navigation-hover{% endcapture %}
    {%- assign carouselClasses = carouselClasses | append: navigationHoverClass -%}
{%- endif -%}

{%- case section.settings.itemsPerView -%}

    {%- when '2' -%}
        {%- assign imgSize = '560,560' -%}

    {%- when '3' -%}
        {%- assign imgSize = '360,360' -%}

    {%- when '4' -%}
        {%- assign imgSize = '260,260' -%}

    {%- when '5' -%}
        {%- assign imgSize = '200,200' -%}

    {%- when '6' -%}
        {%- assign imgSize = '160,160' -%}

{%- endcase -%}

{%- capture content -%}

    {% for item in section.settings.setting_blocks.items %}

        {%- assign imgSrc = item.settings.imgSrc -%}

        {%- capture slideContent -%}

            <span class="slide-text">
                {{ item.settings.text }}
            </span>

            <div class="aspect-ratio-1-1">

                <div class="aspect-ratio-container">

                    {% if imgSrc %}

                        <picture>
                            <img
                                alt="{{ item.settings.imgAlt }}"
                                data-src="{{ imgSrc | thumb: imgSize }}"
                                data-srcset="{{ imgSrc | thumb: imgSize }} 1x,{{ imgSrc | thumb: imgSize | thumb:'@2x' }} 2x"
                                class="lazy aspect-ratio-item {% if item.settings.imgFit %}aspect-ratio-item-cover{% else %}aspect-ratio-item-contain{% endif %}">

                        </picture>

                    {% else %}

                        {% render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item' %}

                    {% endif %}

                </div>

            </div>

        {% endcapture %}

        <div class="swiper-slide">

            {% if item.settings.resource.url %}

                <a href="{{- item.settings.resource.url -}}"{% if item.settings.resourceOpenInNewWindowStatus %} target="_blank"{% endif %}>

                    {{ slideContent }}

                </a>

            {% else %}

                {{ slideContent }}

            {% endif%}

        </div>

    {% endfor %}

{%- endcapture -%}

{%- capture sectionContent -%}

    <div class="swiper-container carousel-style-{{ section.settings.carouselStyle }}{{ carouselClasses }}" {{ carouselSettings }}>

        <div class="swiper-wrapper">

            {{- content -}}

        </div>

        {%- if section.settings.navigation -%}

            <div class="swiper-button-prev">
                {%- render 'icon', icon: 'arrow-left-1-itskPx' -%}
            </div>

            <div class="swiper-button-next">
                {%- render 'icon', icon: 'arrow-right-1-Ei8Dl0' -%}
            </div>

        {%- endif -%}

        {%- if section.settings.pagination -%}

            <div class="swiper-pagination"></div>

        {%- endif -%}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentContainer: 'fixed', sectionTitle: sectionTitle, sectionSubtitle: sectionSubtitle, sectionHeaderTextAlign: sectionHeaderTextAlign %}

{% schema %}
{
    "name": {
        "en": "Carousel",
        "fi": "Karuselli"
    },
    "tag": "section",
    "class": "section section-carousel has-lazy",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a item",
                    "fi": "Lisää kohde"
                },
                "is_sortable": true,
                "setting_blocks": [
                    {
                        "type": "item",
                        "title": {
                            "en": "Item",
                            "fi": "Kohde"
                        },
                        "settings": [
                            {
                                "id": "imgSrc",
                                "type": "image-picker",
                                "label": {
                                    "en": "Image",
                                    "fi": "Kuva"
                                }
                            },
                            {
                                "id": "imgAlt",
                                "type": "text",
                                "label": {
                                    "en": "Image alt",
                                    "fi": "Kuvan alt-teksti"
                                }
                            },
                            {
                                "id": "imgFit",
                                "type": "checkbox",
                                "label": {
                                    "en": "Image area fill",
                                    "fi": "Kuva-alueen täyttö"
                                },
                                "default": false
                            },
                            {
                                "id": "text",
                                "type": "text",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                }
                            },
                            {
                                "id": "resource",
                                "type": "url",
                                "label": {
                                    "en": "Link",
                                    "fi": "Lnkki"
                                }
                            },
                            {
                                "id": "resourceOpenInNewWindowStatus",
                                "type": "checkbox",
                                "label": {
                                    "en": "Open link in a new window",
                                    "fi": "Avaa linkki uudessa ikkunassa"
                                },
                                "default": true
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "sectionTitle",
                        "type": "text",
                        "label": {
                            "en": "Heading",
                            "fi": "Otsikko"
                        }
                    },
                    {
                        "id": "sectionSubtitle",
                        "type": "text",
                        "label": {
                            "en": "Subtitle",
                            "fi": "Alaotsikko"
                        }
                    },
                    {
                        "id": "sectionHeaderTextAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Heading text align",
                            "fi": "Otsikon tekstin tasaus"
                        },
                        "default": "left",
                        "options": [
                            {
                                "value": "left",
                                "label": "{# icon.alignLeftLight #}"
                            },
                            {
                                "value": "center",
                                "label": "{# icon.alignCenterLight #}"
                            },
                            {
                                "value": "right",
                                "label": "{# icon.alignRightLight #}"
                            }
                        ]
                    },
                    {
                        "id": "carouselStyle",
                        "type": "radio-pill",
                        "label": {
                            "en": "Style",
                            "fi": "Tyyli"
                        },
                        "default": "1",
                        "options": [
                            {
                                "value": "1",
                                "label": {
                                    "en": "Style 1",
                                    "fi": "Tyyli 1"
                                }
                            },
                            {
                                "value": "2",
                                "label": {
                                    "en": "Style 2",
                                    "fi": "Tyyli 2"
                                }
                            }
                        ]
                    },
                    {
                        "id": "navigation",
                        "type": "radio-pill",
                        "label": {
                            "en": "Show navigation buttons",
                            "fi": "Näytä navigointipainikkeet"
                        },
                        "default": "hover",
                        "options": [
                            {
                                "value": "",
                                "label": {
                                    "en": "Off",
                                    "fi": "Off"
                                }
                            },
                            {
                                "value": "hover",
                                "label": {
                                    "en": "On hover",
                                    "fi": "Osoitin päällä"
                                }
                            },
                            {
                                "value": "on",
                                "label": {
                                    "en": "Always",
                                    "fi": "Aina"
                                }
                            }
                        ]
                    },
                    {
                        "id": "pagination",
                        "type": "radio-pill",
                        "label": {
                            "en": "Show pagination",
                            "fi": "Näytä sivutus"
                        },
                        "default": "hover",
                        "options": [
                            {
                                "value": "",
                                "label": {
                                    "en": "Off",
                                    "fi": "Off"
                                }
                            },
                            {
                                "value": "hover",
                                "label": {
                                    "en": "On hover",
                                    "fi": "Osoitin päällä"
                                }
                            },
                            {
                                "value": "on",
                                "label": {
                                    "en": "Always",
                                    "fi": "Aina"
                                }
                            }
                        ]
                    },
                    {
                        "id": "itemsPerView",
                        "label": {
                            "en": "Items per view",
                            "fi": "Kohteita per näkymä"
                        },
                        "type": "range",
                        "min": 2,
                        "max": 6,
                        "step": 1,
                        "default": 4,
                        "unit": " "
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Layout",
                                "fi": "Näkymä"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        },
                                        {
                                            "value": "custom",
                                            "label": "{# icon.pencilRegular #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeightCustomTop",
                                    "label": {
                                        "en": "Top height",
                                        "fi": "Yläosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionHeightCustomBottom",
                                    "label": {
                                        "en": "Bottom height",
                                        "fi": "Alaosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Inner spacing",
                                        "fi": "Sisäinen tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Background",
                                "fi": "Tausta"
                            },
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Image",
                                        "fi": "Kuva"
                                    }
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": {
                                        "en": "Image position",
                                        "fi": "Kuvan sijainti"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "left-top",
                                            "label": {
                                                "en": "Left Top",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "left-center",
                                            "label": {
                                                "en": "Left Center",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": {
                                                "en": "Left Bottom",
                                                "fi": "Vasemmalla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "right-top",
                                            "label": {
                                                "en": "Right Top",
                                                "fi": "Oikealla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "right-center",
                                            "label": {
                                                "en": "Right Center",
                                                "fi": "Oikealla"
                                            }
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": {
                                                "en": "Right Bottom",
                                                "fi": "Oikealla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "center-top",
                                            "label": {
                                                "en": "Center Top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "center-center",
                                            "label": {
                                                "en": "Center Center",
                                                "fi": "Keskellä"
                                            }
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": {
                                                "en": "Center Bottom",
                                                "fi": "Keskellä alhaalla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "sectionContentBgColorStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Enable content background",
                                        "fi": "Näytä sisällön tausta"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "sectionContentBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Content background color",
                                        "fi": "Sisällön taustaväri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["sectionContentBgColorStatus:truthy eq true"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Colors",
                                "fi": "Värit"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-basic",
            "settings": {
                "sectionTitle": "",
                "sectionSubtitle": "",
                "sectionHeaderTextAlign": "left",
                "carouselStyle": "1",
                "navigation": "hover",
                "pagination": "hover",
                "itemsPerView": "4",
                "sectionHeight": "",
                "sectionInnerSpacing": "",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionContentBgColorStatus": false,
                "sectionContentBgColor": "#ffffff",
                "sectionStyle": "general",
                "setting_blocks": {
                    "items": {
                        "A4c98887-2f85-4be6-a1b8-607600aa691c": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "https:\/\/images.unsplash.com\/photo-1586227740560-8cf2732c1531?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMjMzODd8MXwxfGFsbHwxfHx8fHx8MXx8MTYzMzAxMjIzNg&ixlib=rb-1.2.1&q=85",
                                "imgAlt": "",
                                "text": "asd",
                                "resource": {
                                    "type": "url",
                                    "record_id": "1343",
                                    "url": "Testi"
                                },
                                "resourceOpenInNewWindowStatus": true
                            }
                        },
                        "81e92083-2c17-4507-89d8-5e5487784360": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "https:\/\/images.unsplash.com\/photo-1586227740560-8cf2732c1531?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMjMzODd8MXwxfGFsbHwxfHx8fHx8MXx8MTYzMzAxMjIzNg&ixlib=rb-1.2.1&q=85",
                                "imgAlt": "",
                                "text": "",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "81e92083-2c17-4507-89d8-5e5487714360": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "https:\/\/images.unsplash.com\/photo-1586227740560-8cf2732c1531?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMjMzODd8MXwxfGFsbHwxfHx8fHx8MXx8MTYzMzAxMjIzNg&ixlib=rb-1.2.1&q=85",
                                "imgAlt": "",
                                "text": "",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "81e92083-2c17-3507-89d8-5e5487784360": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "https:\/\/images.unsplash.com\/photo-1586227740560-8cf2732c1531?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMjMzODd8MXwxfGFsbHwxfHx8fHx8MXx8MTYzMzAxMjIzNg&ixlib=rb-1.2.1&q=85",
                                "imgAlt": "",
                                "text": "",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "81e92083-2c17-4507-89d8-5e5487784361": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "https:\/\/images.unsplash.com\/photo-1586227740560-8cf2732c1531?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMjMzODd8MXwxfGFsbHwxfHx8fHx8MXx8MTYzMzAxMjIzNg&ixlib=rb-1.2.1&q=85",
                                "imgAlt": "",
                                "text": "",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "51e92083-2c17-4507-89d8-5e5487784360": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "https:\/\/images.unsplash.com\/photo-1586227740560-8cf2732c1531?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMjMzODd8MXwxfGFsbHwxfHx8fHx8MXx8MTYzMzAxMjIzNg&ixlib=rb-1.2.1&q=85",
                                "imgAlt": "",
                                "text": "",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "81e42083-2c17-4507-89d8-5e5487784360": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "https:\/\/images.unsplash.com\/photo-1586227740560-8cf2732c1531?crop=entropy&cs=srgb&fm=jpg&ixid=MnwyMjMzODd8MXwxfGFsbHwxfHx8fHx8MXx8MTYzMzAxMjIzNg&ixlib=rb-1.2.1&q=85",
                                "imgAlt": "",
                                "text": "",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        }
                    }
                }
            }
        }
    ]
}
{% endschema %}