{%- assign sectionTitle = category.title -%}
{%- assign sectionTitleTag = 'h1' -%}
{%- assign sectionDescription = category.description -%}
{%- assign sectionBreadcrumbs = category.breadcrumbs -%}
{%- assign subCategories = category.sub_categories -%}
{%- assign activeSortOption = category.sort_by | default: category.default_sort_by -%}
{%- assign sortOptions = category.sort_options -%}
{%- assign categoryFilters = category.filters -%}
{%- assign categoryActiveFilters = category.active_filters -%}
{%- assign currentCategory = category -%}

{% if category.products.size == 0 and request.design_mode %}
    {%- assign itemCount = section.settings.itemsPerRow | times: 3 -%}
{% else %}
    {%- assign itemCount = category.products.size -%}
{% endif %}

{%- capture categoryContentPlaceholder -%}

    <div class="category-carousel">

        {% render 'category-carousel', items: subCategories, carouselNavigation: 'on', sectionId: section.id, itemsPerView: 5, slideTitlePosition: 'below', style: 2 %}

    </div>

{%- endcapture -%}

{%- capture categoryContent -%}

    {%- paginate category.products by 100 -%}

        {% if subCategories %}

            {% if section.settings.showSubcategoryImg %}

                <div class="category-subcategories category-images pb-4{% if section.settings.showCategoryList %} d-lg-none{% endif %}">

                    <div class="swiper py-1">

                        <div class="swiper-wrapper">

                            {% for subCategory in subCategories %}

                                {% if subCategory.is_visible %}

                                    <div class="swiper-slide">

                                        {%- assign imgSrc = subCategory.image -%}
                                        {%- assign imgSize = '200,200' -%}

                                        <a href="{{ subCategory | page_url }}">

                                            <div class="aspect-ratio-1-1">

                                                <div class="aspect-ratio-container">

                                                    {% if imgSrc %}

                                                        <picture>
                                                            <img
                                                                alt="{{ item.settings.imgAlt }}"
                                                                data-src="{{ imgSrc | thumb: imgSize }}"
                                                                data-srcset="{{ imgSrc | thumb: imgSize }} 1x,{{ imgSrc | thumb: imgSize | thumb:'@2x' }} 2x"
                                                                class="lazy aspect-ratio-item {% if section.settings.subcategoryImgFit %}aspect-ratio-item-cover{% else %}aspect-ratio-item-contain{% endif %}">
                                                        </picture>

                                                    {% else %}

                                                        {% render 'placeholder-svg', type: 'image', class: 'aspect-ratio-item' %}

                                                    {% endif %}

                                                </div>

                                            </div>

                                            <span class="d-block mt-3 text-center">
                                                {{ subCategory.title }}
                                            </span>

                                        </a>

                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                        <div class="swiper-button-prev">
                            {%- render 'icon', icon: 'light/arrow-left-1' -%}
                        </div>

                        <div class="swiper-button-next">
                            {%- render 'icon', icon: 'light/arrow-right-1' -%}
                        </div>

                    </div>

                </div>

            {% else %}

                <div class="category-subcategories category-tags pb-4{% if section.settings.showCategoryList %} d-lg-none{% endif %}">

                    <div class="swiper py-1">

                        <div class="swiper-wrapper">

                            {% for subCategory in subCategories %}

                                {% if subCategory.is_visible %}

                                    <div class="swiper-slide">

                                        <div class="category-tag">

                                            <a href="{{ subCategory | page_url }}">

                                                <span class="category-tag-content">
                                                    {{ subCategory.title }}
                                                </span>
                                            </a>

                                        </div>

                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                        <div class="swiper-button-prev">
                            {%- render 'icon', icon: 'light/arrow-left-1' -%}
                        </div>

                        <div class="swiper-button-next">
                            {%- render 'icon', icon: 'light/arrow-right-1' -%}
                        </div>

                    </div>

                </div>

            {% endif %}

        {% endif %}

        {% if categoryFilters.size > 0 %}

             <button type="button" name="filters-mobile-navigation-show" class="d-lg-none btn btn-outline-section btn-block btn-sm mb-4">

                <span>
                    {{ 'filters.title' | t }}
                </span>

            </button>

            <form class="category-filters mb-2 d-none d-lg-block">

                {% for filter in categoryFilters %}

                    <div class="category-filter-dropdown dropdown">

                        <button class="category-filter-btn btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="category-filter-btn-text">

                                {% if filter.param_name contains 'filter.attribute' %}

                                    <span>{{ filter.label }}</span>

                                {% else %}

                                    {%- capture paramTranslationKey -%}
                                        filters.{{- filter.param_name | replace: '-', '_' -}}.title
                                    {%- endcapture -%}

                                    <span>{{ paramTranslationKey | strip | t: default:filter.label }}</span>

                                {% endif %}

                            </span>

                            {%- render 'icon', icon: 'regular/arrow-down-1' -%}

                        </button>

                        <div class="category-filter-dropdown-menu dropdown-menu p-4">

                            {% if filter.type == 'list' %}

                                {% if filter.param_name == 'filter.availability' %}

                                    {% for value in filter.values %}

                                        <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                            <input type="radio" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                            <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                {%- capture paramTranslationKey -%}
                                                    filters.{{- value.param_name -}}.values.{{- value.value | times: 1 | yepnope: 'in_stock', 'out_of_stock' | handle | replace: '-', '_' -}}
                                                {%- endcapture -%}

                                                <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                            </label>

                                        </div>

                                    {% endfor %}

                                {% else %}

                                    {% for value in filter.values %}

                                        <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                            <input type="checkbox" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                            <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                {% if filter.param_name contains 'filter.attribute' or filter.param_name contains 'filter.manufacturer' %}

                                                    <span>{{ value.label }}</span>

                                                {% else %}

                                                    {%- capture paramTranslationKey -%}
                                                        filters.{{- value.param_name -}}.values.{{- value.value | handle | replace: '-', '_' -}}
                                                    {%- endcapture -%}

                                                    <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                {% endif %}

                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                            </label>

                                        </div>

                                    {% endfor %}

                                {% endif %}

                            {% elsif filter.type == 'range' %}

                                <div class="range-filter">

                                    <div class="text-center mb-2">

                                        <span class="h5" data-range-slider-min-text>
                                            {{ filter.min_value.value | default: filter.range_min }}
                                        </span>

                                        <span class="h5 mx-2">-</span>

                                        <span class="h5" data-range-slider-max-text>
                                            {{ filter.max_value.value | default: filter.range_max }}
                                        </span>

                                    </div>

                                    <div class="range-slider-container">

                                        <input type="hidden" name="{{ filter.min_value.param_name }}" value="{{ filter.min_value.value }}">
                                        <input type="hidden" name="{{ filter.max_value.param_name }}" value="{{ filter.max_value.value }}">

                                        <div class="range-slider"
                                            data-range-slider-min-name="{{ filter.min_value.param_name }}"
                                            data-range-slider-min-default="{{ filter.min_value.value | default: filter.range_min }}"
                                            data-range-slider-min-value="{{ filter.range_min }}"
                                            data-range-slider-max-name="{{ filter.max_value.param_name }}"
                                            data-range-slider-max-default="{{ filter.max_value.value | default: filter.range_max }}"
                                            data-range-slider-max-value="{{ filter.range_max }}">
                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                        </div>

                    </div>

                {% endfor %}

            </form>

        {% endif %}

        <div class="category-dynamic-content">

             {% if categoryActiveFilters %}

                <div class="category-activated-filters">

                   {% for filter in categoryActiveFilters %}

                        <div class="item">

                            <button type="button" class="category-remove-filter" value="{{ filter.param_name | replace: '.', '-' | handle }}">

                                <span class="category-activated-filter-text">

                                    {% if filter.param_name contains 'filter.attribute' %}

                                        <span>{{ filter.label }}</span>

                                    {% else %}

                                        {%- capture paramTranslationKey -%}
                                            filters.{{- filter.param_name | replace: '-', '_' -}}.title
                                        {%- endcapture -%}

                                        <span>{{ paramTranslationKey | strip | t: default:filter.label }}</span>

                                    {% endif %}

                                </span>

                                <span class="category-activated-filter-icon">
                                    {%- render 'icon', icon: 'light/close' -%}
                                </span>

                            </button>

                        </div>

                   {% endfor %}

                   <div class="item">

                        <button type="button" class="category-reset-filters">

                            <span class="category-reset-filters-text">
                                {{ 'filters.clear_filters' | t }}
                            </span>

                        </button>

                    </div>

                </div>

            {% endif %}

            <div class="row">

                <div class="col-auto">

                    <span class="text-muted" data-category-item-count-text>
                        {% if itemCount == 1 %}
                            {{ 'general.product_count' | t: amount: itemCount }}
                        {% else %}
                            {{ 'general.product_plural_count' | t: amount: itemCount }}
                        {% endif %}
                    </span>

                </div>

                <div class="col text-right">

                    <div class="dropdown">

                        <button type="button" class="btn btn-text text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="mr-1">

                                {% for option in sortOptions %}

                                    {% if option == activeSortOption %}
                                        {{ option | prepend: 'filters.sort-by.' | t }}
                                    {% endif %}

                                {% endfor %}

                            </span>

                            {%- render 'icon', icon: 'regular/arrow-down-1' -%}

                        </button>

                        <div class="dropdown-menu dropdown-menu-right">

                            {% for option in sortOptions %}

                                <button type="button" class="sort-by-action dropdown-item" value="{{ option }}">
                                    {{ option | prepend: 'filters.sort-by.' | t }}
                                </button>

                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>

            <div class="category-items row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ section.settings.itemsPerRow }}" data-category-items-count="{{ itemCount }}">

                {% if category.products.size > 0 %}

                    {% for product in category.products %}

                        <div class="col pt-3 pb-4">

                            {%- render 'product-card-grid', product: product, wishlist: 'toggle', itemsPerRow: section.settings.itemsPerRow, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showNewBadge: section.settings.showNewBadge, showManufacturer: section.settings.showManufacturer, showProductName: section.settings.showProductName, showPricing: section.settings.showPricing, showAddToCart: section.settings.showAddToCart -%}

                        </div>

                    {% endfor %}

                {% elsif request.design_mode %}

                    {% for num in (1..itemCount) %}

                        <div class="col pt-3 pb-4">

                            {%- render 'product-card-grid', wishlist: 'toggle', itemsPerRow: section.settings.itemsPerRow, showDiscountBadge: section.settings.showDiscountBadge, showOutOfStockBadge: section.settings.showOutOfStockBadge, showNewBadge: section.settings.showNewBadge, showManufacturer: section.settings.showManufacturer, showProductName: section.settings.showProductName, showPricing: section.settings.showPricing, showAddToCart: section.settings.showAddToCart -%}

                        </div>

                    {% endfor %}

                {% endif %}

            </div>

            {% render 'pagination', paginate: paginate %}

            {%- if settings.schemaItemList -%}
                {% render 'schemas/itemlist', items: category.products, paginate: paginate %}
            {%- endif -%}

        </div>

    {%- endpaginate -%}

    <nav class="filters-mobile-navigation-container">

        <div class="filters-mobile-navigation">

            <div class="filters-mobile-navigation-header">

                <div class="filters-mobile-navigation-header-inner">

                    <button type="button" name="filters-mobile-navigation-hide" class="btn btn-text">
                        {%- render 'icon', icon: 'light/close', class: 'svg-icon-fw' -%}
                    </button>

                    <span class="filters-mobile-navigation-header-text">
                        {{ 'filters.title' | t }}
                    </span>

                </div>

            </div>

            <div class="filters-mobile-navigation-menu-container">

                <form class="category-filters">

                    <ul class="filters-mobile-navigation-menu">

                        {% for filter in categoryFilters %}

                            <li class="filters-mobile-navigation-menu-item">

                                <div class="filters-mobile-navigation-menu-item-header">

                                    <span class="filters-mobile-navigation-menu-item-header-text">

                                        {% if filter.param_name contains 'filter.attribute' %}

                                            <span>{{ filter.label }}</span>

                                        {% else %}

                                            {%- capture paramTranslationKey -%}
                                                filters.{{- filter.param_name | replace: '-', '_' -}}.title
                                            {%- endcapture -%}

                                            <span>{{ paramTranslationKey | strip | t: default:filter.label }}</span>

                                        {% endif %}

                                    </span>

                                </div>

                                <div class="filters-mobile-navigation-menu-item-content">

                                    {% if filter.type == 'list' %}

                                        {% if filter.param_name == 'filter.availability' %}

                                            {% for value in filter.values %}

                                                <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                                    <input type="radio" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                    <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                        {%- capture paramTranslationKey -%}
                                                            filters.{{- value.param_name -}}.values.{{- value.value | times: 1 | yepnope: 'in_stock', 'out_of_stock' | handle | replace: '-', '_' -}}
                                                        {%- endcapture -%}

                                                        <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                        <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                    </label>

                                                </div>

                                            {% endfor %}

                                        {% else %}

                                            {% for value in filter.values %}

                                                <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                                    <input type="checkbox" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                    <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                        {% if filter.param_name contains 'filter.attribute' or filter.param_name contains 'filter.manufacturer' %}

                                                            <span>{{ value.label }}</span>

                                                        {% else %}

                                                            {%- capture paramTranslationKey -%}
                                                                filters.{{- value.param_name -}}.values.{{- value.value | handle | replace: '-', '_' -}}
                                                            {%- endcapture -%}

                                                            <span>{{ paramTranslationKey | strip | t: default:value.label }}</span>

                                                        {% endif %}

                                                        <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                    </label>

                                                </div>

                                            {% endfor %}

                                        {% endif %}

                                    {% elsif filter.type == 'range' %}

                                        <div class="range-filter">

                                            <div class="text-center mb-2">

                                                <span class="h5" data-range-slider-min-text>
                                                    {{ filter.min_value.value | default: filter.range_min }}
                                                </span>

                                                <span class="h5 mx-2">-</span>

                                                <span class="h5" data-range-slider-max-text>
                                                    {{ filter.max_value.value | default: filter.range_max }}
                                                </span>

                                            </div>

                                            <div class="range-slider-container">

                                                <input type="hidden" name="{{ filter.min_value.param_name }}" value="{{ filter.min_value.value }}">
                                                <input type="hidden" name="{{ filter.max_value.param_name }}" value="{{ filter.max_value.value }}">

                                                <div class="range-slider"
                                                    data-range-slider-min-name="{{ filter.min_value.param_name }}"
                                                    data-range-slider-min-default="{{ filter.min_value.value | default: filter.range_min }}"
                                                    data-range-slider-min-value="{{ filter.range_min }}"
                                                    data-range-slider-max-name="{{ filter.max_value.param_name }}"
                                                    data-range-slider-max-default="{{ filter.max_value.value | default: filter.range_max }}"
                                                    data-range-slider-max-value="{{ filter.range_max }}">
                                                </div>

                                            </div>

                                        </div>

                                    {% endif %}

                                </div>

                            </li>

                        {% endfor %}

                    </ul>

                </form>

            </div>

            <div class="filters-mobile-navigation-footer">

                <div class="filters-mobile-navigation-footer-inner">

                    <button type="button" name="filters-mobile-navigation-hide" class="filters-mobile-navigation-footer-inner-cta btn btn-section btn-block">

                        {% if itemCount == 1 %}
                            {{ 'filters.show_result' | t: amount: itemCount }}
                        {% else %}
                            {{ 'filters.show_result_plural' | t: amount: itemCount }}
                        {% endif %}

                    </button>

                </div>

            </div>

        </div>

    </nav>

{%- endcapture -%}

{%- capture sectionContent -%}

    {% if section.settings.showCategoryList %}

        <div class="row">

            <div class="col-lg-3 d-none d-lg-block">

                {%- assign hasActiveCategory = false -%}

                {%- for item in categories.root -%}

                    {%- if item.current and hasActiveCategory == false and item.sub_categories.size == 0 -%}
                        {%- assign hasActiveCategory = true -%}
                    {%- endif -%}

                {%- endfor -%}

                <ul class="category-list{% if hasActiveCategory %} no-active-subcategories{% endif %}">

                    {% for item in categories.root %}

                        {% render 'category-list-item', category: item, currentCategory: currentCategory %}

                    {% endfor %}

                </ul>

            </div>

            <div class="col col-lg-9">

                {% if category.products.size == 0 and subCategories and categoryActiveFilters.size == 0 %}

                    {{ categoryContentPlaceholder }}

                {% else %}

                    {{ categoryContent }}

                {% endif %}

            </div>

        </div>

    {% else %}

        {% if category.products.size == 0 and subCategories and categoryActiveFilters.size == 0 %}

            {{ categoryContentPlaceholder }}

        {% else %}

            {{ categoryContent }}

        {% endif %}

    {% endif %}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionSubtitle: sectionSubtitle, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs %}

{%- if settings.schemaBreadcrumbList -%}
    {% render 'schemas/breadcrumblist', breadcrumbs: sectionBreadcrumbs, currentItem: currentCategory %}
{%- endif -%}

{% schema %}
{
    "name": {
        "en": "Category",
        "fi": "Tuoteryhmä"
    },
    "tag": "section",
    "class": "section section-category",
    "is_creatable": false,
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "itemsPerRow",
                        "label": {
                            "en": "Products per row",
                            "fi": "Tuotteita per rivi"
                        },
                        "type": "range",
                        "min": 2,
                        "max": 6,
                        "step": 1,
                        "default": 4,
                        "unit": " "
                    },
                    {
                        "id": "showDiscountBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Show discount badge",
                            "fi": "Näytä alennusmerkki"
                        },
                        "default": true
                    },
                    {
                        "id": "showOutOfStockBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Show out of stock badge",
                            "fi": "Näytä loppumerkki"
                        },
                        "default": true
                    },
                    {
                        "id": "showNewBadge",
                        "type": "checkbox",
                        "label": {
                            "en": "Show new badge",
                            "fi": "Näytä uutuusmerkki"
                        },
                        "default": true
                    }
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Show manufacturer",
                            "fi": "Näytä valmistaja"
                        },
                        "default": true
                    },
                    {
                        "id": "showProductName",
                        "type": "checkbox",
                        "label": {
                            "en": "Show product name",
                            "fi": "Näytä tuotteen nimi"
                        },
                        "default": true
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Show price information",
                            "fi": "Näytä hintatiedot"
                        },
                        "default": true
                    },
                    {
                        "id": "showAddToCart",
                        "type": "checkbox",
                        "label": {
                            "en": "Show add to cart button",
                            "fi": "Näytä lisää ostoskoriin -painike"
                        },
                        "default": false
                    },
                    {
                        "id": "showCategoryList",
                        "type": "checkbox",
                        "label": {
                            "en": "Show category list",
                            "fi": "Näytä tuoteryhmälista"
                        },
                        "default": false
                    },
                    {
                        "id": "showSubcategoryImg",
                        "type": "checkbox",
                        "label": {
                            "en": "Show subcategory image",
                            "fi": "Näytä alatuoteryhmän kuva"
                        },
                        "default": false
                    },
                    {
                        "id": "subcategoryImgFit",
                        "type": "checkbox",
                        "label": {
                            "en": "Subcategory image area fill",
                            "fi": "Alatuoteryhmän kuva-alueen täyttö"
                        },
                        "default": false,
                        "conditions": ["showSubcategoryImg eq true"]
                    }
                ]
            }
        ]
    }
}
{% endschema %}