{%- assign sectionTitle = category.title -%}
{%- assign sectionDescription = category.description -%}
{%- assign sectionBreadcrumbs = category.breadcrumbs -%}
{%- assign itemCount = category.product_count -%}
{%- assign subCategories = category.sub_categories -%}
{%- assign activeSortOption = category.sort_by | default: category.default_sort_by -%}
{%- assign sortOptions = category.sort_options -%}
{%- assign categoryFilters = category.filters -%}
{%- assign categoryActiveFilters = category.active_filters -%}

{% if category.products.size == 0 and request.design_mode %}
    {%- assign itemCount = section.settings.itemsPerRow | times: 3 -%}
{% else %}
    {%- assign itemCount = category.product_count -%}
{% endif %}

{%- capture sectionContent -%}

    {%- paginate category.products by 100 -%}

        {% if subCategories %}

            <div class="category-tags pb-4">

                <div class="swiper-container py-1">

                    <div class="swiper-wrapper">

                        {% for subCategory in subCategories %}

                            <div class="swiper-slide">

                                <div class="category-tag">

                                    <a href="{{ subCategory | page_url }}">

                                        <span class="category-tag-content">
                                            {{ subCategory.title }}
                                        </span>
                                    </a>

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                    <div class="swiper-button-prev">
                        {%- render 'icon', icon: 'arrow-left-1-itskPx' -%}
                    </div>

                    <div class="swiper-button-next">
                        {%- render 'icon', icon: 'arrow-right-1-Ei8Dl0' -%}
                    </div>

                </div>

            </div>

        {% endif %}

        {% if categoryFilters.size > 0 %}

             <button type="button" name="filters-mobile-navigation-show" class="d-lg-none btn btn-outline-section btn-block btn-sm mb-4">

                <span>
                    Suodattimet
                </span>

            </button>

            <form class="category-filters mb-2 d-none d-lg-block">

                {% for filter in categoryFilters %}

                    <div class="category-filter-dropdown dropdown">

                        <button class="category-filter-btn btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="category-filter-btn-text">
                                {{ filter.label }}
                            </span>

                            {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}

                        </button>

                        <div class="category-filter-dropdown-menu dropdown-menu p-4">

                            {% if filter.type == 'list' %}

                                {% if filter.param_name == 'filter.availability' %}

                                    {% for value in filter.values %}

                                        <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                            <input type="radio" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                            <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                <span>{{ value.label }}</span>

                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                            </label>

                                        </div>

                                    {% endfor %}

                                {% else %}

                                    {% for value in filter.values %}

                                        <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                            <input type="checkbox" id="input-{{ value.param_name }}-{{ value.value }}" class="input-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                            <label for="input-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                <span>{{ value.label }}</span>

                                                <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                            </label>

                                        </div>

                                    {% endfor %}

                                {% endif %}

                            {% elsif filter.type == 'range' %}

                                <div class="form-group{% if forloop.last == true %} mb-0{% endif %}">

                                    <div class="form-row align-items-center">

                                        <div class="col">

                                            <input class="input-{{ filter.param_name | replace: '.', '-' | handle }} form-control" type="number" min="{{ filter.range_min }}" max="{{ filter.range_max }}" name="{{ filter.min_value.param_name }}" value="{{ filter.min_value.value }}">

                                        </div>

                                        <div class="col-auto text-center">
                                            -
                                        </div>

                                        <div class="col">

                                            <input class="input-{{ filter.param_name | replace: '.', '-' | handle }} form-control" type="number" min="{{ filter.range_min }}" max="{{ filter.range_max }}" name="{{ filter.max_value.param_name }}" value="{{ filter.max_value.value }}">

                                        </div>

                                    </div>

                                </div>

                            {% endif %}

                        </div>

                    </div>

                {% endfor %}

            </form>

        {% endif %}

        <div class="category-dynamic-content">

             {% if categoryActiveFilters %}

                <div class="category-activated-filters">

                   {% for filter in categoryActiveFilters %}

                        <div class="item">

                            <button type="button" class="category-remove-filter" value="{{ filter.param_name | replace: '.', '-' | handle }}">

                                <span class="category-activated-filter-text">
                                    {{ filter.label }}
                                </span>

                                <span class="category-activated-filter-icon">
                                    {%- render 'icon', icon: 'close-232XyC' -%}
                                </span>

                            </button>

                        </div>

                   {% endfor %}

                   <div class="item">

                        <button type="button" class="category-reset-filters">

                            <span class="category-reset-filters-text">
                                Tyhjennät suodattimet
                            </span>

                        </button>

                    </div>

                </div>

            {% endif %}

            <div class="row">

                <div class="col-auto">

                    <span class="text-muted" data-category-item-count-text>
                        {% if itemCount == 1 %}
                            {{ 'general.product_count' | t: amount: itemCount }}
                        {% else %}
                            {{ 'general.product_plural_count' | t: amount: itemCount }}
                        {% endif %}
                    </span>

                </div>

                <div class="col text-right">

                    <div class="dropdown">

                        <button type="button" class="btn btn-text text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="mr-1">

                                {% for option in sortOptions %}

                                    {% if option == activeSortOption %}
                                        {{ option | prepend: 'filters.sort-by.' | t }}
                                    {% endif %}

                                {% endfor %}

                            </span>

                            {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}

                        </button>

                        <div class="dropdown-menu dropdown-menu-right">

                            {% for option in sortOptions %}

                                <button type="button" class="sort-by-action dropdown-item" value="{{ option }}">
                                    {{ option | prepend: 'filters.sort-by.' | t }}
                                </button>

                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>

            <div class="category-items row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ section.settings.itemsPerRow }}" data-category-items-count="{{ itemCount }}">

                {% if category.products.size > 0 %}

                    {% for product in category.products %}

                        <div class="col pt-3 pb-4">

                            {%- render 'product-card-grid', product: product, wishlist: 'toggle', itemsPerRow: section.settings.itemsPerRow, showBadges: section.settings.showBadges, showManufacturer: section.settings.showManufacturer, showProductName: section.settings.showProductName, showPricing: section.settings.showPricing -%}

                        </div>

                    {% endfor %}

                {% else if request.design_mode %}

                    {% for num in (1..itemCount) %}

                        <div class="col pt-3 pb-4">

                            {%- render 'product-card-grid', wishlist: 'toggle', itemsPerRow: section.settings.itemsPerRow, showBadges: section.settings.showBadges, showManufacturer: section.settings.showManufacturer, showProductName: section.settings.showProductName, showPricing: section.settings.showPricing -%}

                        </div>

                    {% endfor %}


                {% endif %}

            </div>

            {% render 'pagination', paginate: paginate %}

        </div>

    {%- endpaginate -%}

    <nav class="filters-mobile-navigation-container">

        <div class="filters-mobile-navigation">

            <div class="filters-mobile-navigation-header">

                <div class="filters-mobile-navigation-header-inner">

                    <button type="button" name="filters-mobile-navigation-hide" class="btn btn-text">
                        {%- render 'icon', icon: 'close-232XyC', class: 'svg-icon-fw' -%}
                    </button>

                    <span class="filters-mobile-navigation-header-text">
                        {{ 'filters.title' | t }}
                    </span>

                </div>

            </div>

            <div class="filters-mobile-navigation-menu-container">

                <form class="category-filters">

                    <ul class="filters-mobile-navigation-menu">

                        {% for filter in categoryFilters %}

                            <li class="filters-mobile-navigation-menu-item">

                                <div class="filters-mobile-navigation-menu-item-header">

                                    <span class="filters-mobile-navigation-menu-item-header-text">
                                        {{ filter.label }}
                                    </span>

                                </div>

                                <div class="filters-mobile-navigation-menu-item-content">

                                    {% if filter.type == 'list' %}

                                        {% if filter.param_name == 'filter.availability' %}

                                            {% for value in filter.values %}

                                                <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                                    <input type="radio" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                    <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                        <span>{{ value.label }}</span>

                                                        <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                    </label>

                                                </div>

                                            {% endfor %}

                                        {% else %}

                                            {% for value in filter.values %}

                                                <div class="form-group form-check{% if forloop.last == true %} mb-0{% endif %}">

                                                    <input type="checkbox" id="input-mobile-{{ value.param_name }}-{{ value.value }}" class="input-mobile-{{ value.param_name | replace: '.', '-' | handle }} form-check-input" name="{{ value.param_name }}" value="{{ value.value }}"{% if value.active %} checked="true"{% endif %}>

                                                    <label for="input-mobile-{{ value.param_name }}-{{ value.value }}" class="form-check-label">

                                                        <span>{{ value.label }}</span>

                                                        <span data-facet-result-count="{{ value.param_name }}-{{ value.value }}">({{ value.count }})</span>

                                                    </label>

                                                </div>

                                            {% endfor %}

                                        {% endif %}

                                    {% elsif filter.type == 'range' %}

                                        <div class="form-group{% if forloop.last == true %} mb-0{% endif %}">

                                            <div class="form-row align-items-center">

                                                <div class="col">

                                                    <input class="input-mobile-{{ filter.param_name | replace: '.', '-' | handle }} form-control" type="number" min="{{ filter.range_min }}" max="{{ filter.range_max }}" name="{{ filter.min_value.param_name }}" value="{{ filter.min_value.value }}">

                                                </div>

                                                <div class="col-auto text-center">
                                                    -
                                                </div>

                                                <div class="col">

                                                    <input class="input-mobile-{{ filter.param_name | replace: '.', '-' | handle }} form-control" type="number" min="{{ filter.range_min }}" max="{{ filter.range_max }}" name="{{ filter.max_value.param_name }}" value="{{ filter.max_value.value }}">

                                                </div>

                                            </div>

                                        </div>

                                    {% endif %}

                                </div>

                            </li>

                        {% endfor %}

                    </ul>

                </form>

            </div>

            <div class="filters-mobile-navigation-footer">

                <div class="filters-mobile-navigation-footer-inner">

                    <button type="button" name="filters-mobile-navigation-hide" class="filters-mobile-navigation-footer-inner-cta btn btn-section btn-block">

                        {% if itemCount == 1 %}
                            {{ 'filters.show_result' | t: amount: itemCount }}
                        {% else %}
                            {{ 'filters.show_result_plural' | t: amount: itemCount }}
                        {% endif %}

                    </button>

                </div>

            </div>

        </div>

    </nav>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionSubtitle: sectionSubtitle, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs %}

{% schema %}
{
    "name": {
        "en": "Category",
        "fi": "Tuoteryhmä"
    },
    "tag": "section",
    "class": "section section-category",
    "is_creatable": false,
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "itemsPerRow",
                        "label": {
                            "en": "Products per row",
                            "fi": "Tuotteita per rivi"
                        },
                        "type": "range",
                        "min": 2,
                        "max": 6,
                        "step": 1,
                        "default": 4,
                        "unit": " "
                    },
                    {
                        "id": "showBadges",
                        "type": "checkbox",
                        "label": {
                            "en": "Show badges",
                            "fi": "Näytä merkit"
                        },
                        "default": true
                    },
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Show manufacturer",
                            "fi": "Näytä valmistaja"
                        },
                        "default": true
                    },
                    {
                        "id": "showProductName",
                        "type": "checkbox",
                        "label": {
                            "en": "Show product name",
                            "fi": "Näytä tuotteen nimi"
                        },
                        "default": true
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Show price infomration",
                            "fi": "Näytä hintatiedot"
                        },
                        "default": true
                    }
                ]
            }
        ]
    }
}
{% endschema %}