{%- assign sectionTitle = section.settings.sectionTitle -%}
{%- assign sectionTitleTag = section.settings.sectionTitleTag -%}
{%- assign sectionSubtitle = section.settings.sectionSubtitle -%}
{%- assign sectionSubtitleTag = section.settings.sectionSubtitleTag -%}
{%- assign sectionHeaderTextAlign = section.settings.sectionHeaderTextAlign -%}
{%- assign sectionHeight = section.settings.sectionHeight | default: settings.sectionHeight -%}

{%- case section.settings.itemsPerRow -%}

    {%- when '2' -%}
        {%- assign imgSize = '600,600' -%}

    {%- when '3' -%}
        {%- assign imgSize = '400,400' -%}

    {%- when '4' -%}
        {%- assign imgSize = '300,300' -%}

    {%- when '5' -%}
        {%- assign imgSize = '240,240' -%}

    {%- when '6' -%}
        {%- assign imgSize = '200,200' -%}

{%- endcase -%}

{%- if section.settings.setting_blocks.items.size > 0 -%}
    {%- assign items = section.settings.setting_blocks.items -%}
{%- else -%}
    {%- assign items = categories.root -%}
{%- endif -%}

{% if section.settings.titlePosition == 'over' %}

    <style>
        #finqu-section-{{ section.id }} .category-item-title {
            color: {{ section.settings.textColor }};
        }
    </style>

{% endif %}

{%- capture sectionContent -%}

    <div class="container">

        {% if items.size == 0 and request.design_mode %}

            {%- assign itemsPerRow = section.settings.itemsPerRow | times: 2 -%}

            <div class="category-items-container row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ section.settings.itemsPerRow }}">

                {% for num in (1..itemsPerRow) %}

                    <div class="category-item-{{ forloop.index }} section-spacer-y-{{ section.settings.sectionContentSpacing }} col">

                        {% if section.settings.titlePosition == 'over' %}

                            <div class="category-item-title-container">

                                <{{ section.settings.titleTag }} class="category-item-title">
                                    Example product group
                                </{{ section.settings.titleTag }}>

                            </div>

                        {% endif %}

                        <div class="aspect-ratio-1-1">

                            <div class="aspect-ratio-container">

                                {% render 'placeholder-svg', type: 'category', class: 'aspect-ratio-item' %}

                            </div>

                        </div>

                        {% if section.settings.titlePosition == 'below' %}

                            <div class="mt-4">

                                <{{ section.settings.titleTag }} class="category-item-title">
                                    Example product group
                                </{{ section.settings.titleTag }}>

                            </div>

                        {% endif %}

                    </div>

                {% endfor %}

            </div>

        {% else %}

            <div class="category-items-container row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ section.settings.itemsPerRow }}">

                {% for item in items %}

                    {%- if section.settings.setting_blocks.items.size > 0 -%}
                        {%- assign itemCategory = item.settings.category -%}
                    {%- else -%}
                        {%- assign itemCategory = item -%}
                    {%- endif -%}

                    {%- if itemCategory -%}

                        {%- if item.settings.imgSrc -%}
                            {%- assign imgSrc = item.settings.imgSrc-%}
                        {%- else -%}
                            {%- assign imgSrc = itemCategory.image -%}
                        {%- endif -%}

                        {%- assign imgAlt = item.settings.imgAlt | default: itemCategory.title -%}
                        {%- assign imgFit = item.settings.imgFit | default: true -%}
                        {%- assign imgEffect = item.settings.imgEffect | default: 'none' -%}
                        {%- assign resourceUrl = item.settings.resource.url | default: itemCategory | link -%}
                        {%- assign openResourceInNewWindow = item.settings.resourceOpenInNewWindowStatus | default: false -%}
                        {%- assign text = item.settings.text | default: itemCategory.title -%}

                    {%- else -%}

                        {%- assign imgSrc = item.settings.imgSrc -%}
                        {%- assign imgAlt = item.settings.imgAlt -%}
                        {%- assign imgFit = item.settings.imgFit -%}
                        {%- assign imgEffect = item.settings.imgEffect -%}
                        {%- assign resourceUrl = item.settings.resource.url -%}
                        {%- assign openResourceInNewWindow = item.settings.resourceOpenInNewWindowStatus -%}
                        {%- assign text = item.settings.text -%}

                    {%- endif -%}

                    {%- capture categoryItemContent -%}

                        {%- if section.settings.imgOverlay and imgSrc and imgFit -%}
                            <style>
                                #finqu-section-{{ section.id }} .category-item-{{ forloop.index }}::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    z-index: 1;
                                    background: linear-gradient(0deg, rgb(0,0,0, {{ section.settings.imgOverlay }}%), rgb(0,0,0, {{ section.settings.imgOverlay }}%))
                                }
                            </style>
                        {%- endif -%}

                        {% if section.settings.titlePosition == 'over' %}

                            <div class="category-item-title-container">

                                <{{ section.settings.titleTag }} class="category-item-title">
                                    {{ text }}
                                </{{ section.settings.titleTag }}>

                            </div>

                        {% endif %}

                        <div class="aspect-ratio-1-1">

                            <div class="aspect-ratio-container">

                                {% if imgSrc %}

                                    <picture>
                                        <img
                                            alt="{{ imgAlt }}"
                                            data-src="{{ imgSrc | thumb: imgSize }}"
                                            data-srcset="{{ imgSrc | thumb: imgSize }} 1x,{{ imgSrc | thumb: imgSize | thumb:'@2x' }} 2x"
                                            class="lazy aspect-ratio-item {% if imgFit %}aspect-ratio-item-cover{% else %}aspect-ratio-item-contain{% endif %}{% if imgEffect != 'none' %} {{ imgEffect }}{% endif %}">

                                    </picture>

                                {% else %}

                                    {%- capture class -%}
                                        aspect-ratio-item{% if imgEffect != 'none' %} {{ imgEffect }}{% endif %}
                                    {%- endcapture -%}

                                    {% render 'placeholder-svg', type: 'category', class: class %}

                                {% endif %}

                            </div>

                        </div>

                        {% if section.settings.titlePosition == 'below' %}

                            <div class="mt-4">

                                <{{ section.settings.titleTag }} class="category-item-title">
                                    {{ text }}
                                </{{ section.settings.titleTag }}>

                            </div>

                        {% endif %}

                    {%- endcapture -%}

                    <div class="category-item-{{ forloop.index }} section-spacer-y-{{ section.settings.sectionContentSpacing }} col">

                        {% if resourceUrl %}

                            <a href="{{- resourceUrl -}}"{% if openResourceInNewWindow %} target="_blank"{% endif %}>

                                {{ categoryItemContent }}

                            </a>

                        {% else %}

                            {{ categoryItemContent }}

                        {% endif%}

                    </div>

                {% endfor %}

            </div>

        {% endif %}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentContainer: 'fixed', sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionSubtitle: sectionSubtitle, sectionSubtitleTag: sectionSubtitleTag, sectionHeaderTextAlign: sectionHeaderTextAlign %}

{% schema %}
{
    "name": {
        "en": "Category list",
        "fi": "Tuoteryhmälista"
    },
    "tag": "section",
    "class": "section section-category-list has-lazy",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Heading",
                                        "fi": "Otsikko"
                                    }
                                },
                                {
                                    "id": "sectionTitle",
                                    "type": "text",
                                    "label": {
                                        "en": "Heading text",
                                        "fi": "Otsikon teksti"
                                    }
                                },
                                {
                                    "id": "sectionSubtitle",
                                    "type": "text",
                                    "label": {
                                        "en": "Subtitle text",
                                        "fi": "Alaotsikon teksti"
                                    }
                                },
                                {
                                    "id": "sectionHeaderTextAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Text align",
                                        "fi": "Tekstin tasaus"
                                    },
                                    "default": "left",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                },
                                {
                                    "type": "spacer"
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Product groups",
                                        "fi": "Tuoteryhmät"
                                    }
                                },
                                {
                                    "id": "itemsPerRow",
                                    "label": {
                                        "en": "Product groups per row",
                                        "fi": "Tuoteryhmiä per näkymä"
                                    },
                                    "type": "range",
                                    "min": 2,
                                    "max": 6,
                                    "step": 1,
                                    "default": 4,
                                    "unit": " "
                                },
                                {
                                    "id": "sectionColSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Column spacing",
                                        "fi": "Sarakkeen väli"
                                    },
                                    "default": "sm",
                                    "options": [
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Add",
                                "fi": "Lisää"
                            },
                            "id": "items",
                            "call_to_action": {
                                "en": "Add a product group",
                                "fi": "Lisää tuoteryhmä"
                            },
                            "is_sortable": true,
                            "setting_blocks": [
                                {
                                    "type": "category",
                                    "title": {
                                        "en": "Product group",
                                        "fi": "Tuoteryhmä"
                                    },
                                    "settings": [
                                        {
                                            "id": "category",
                                            "type": "category",
                                            "label": {
                                                "en": "Product group",
                                                "fi": "Tuoteryhmä"
                                            },
                                            "info": {
                                                "en": "Content will be populated automatically from the selected product group.",
                                                "fi": "Sisältö täydennetään automaattisesti valitusta tuoteryhmästä."
                                            }
                                        },
                                        {
                                            "id": "imgSrc",
                                            "type": "image-picker",
                                            "label": {
                                                "en": "Image",
                                                "fi": "Kuva"
                                            }
                                        },
                                        {
                                            "id": "imgAlt",
                                            "type": "text",
                                            "label": {
                                                "en": "Image alt",
                                                "fi": "Kuvan alt-teksti"
                                            }
                                        },
                                        {
                                            "id": "imgEffect",
                                            "type": "select",
                                            "label": {
                                                "en": "Image effect",
                                                "fi": "Kuvan effekti"
                                            },
                                            "default": "none",
                                            "options": [
                                                {
                                                    "value": "none",
                                                    "label": {
                                                        "en": "None",
                                                        "fi": "Ei mitään"
                                                    }
                                                },
                                                {
                                                    "value": "rounded",
                                                    "label": {
                                                        "en": "Rounded",
                                                        "fi": "Pyöristetty"
                                                    }
                                                },
                                                {
                                                    "value": "rounded-circle",
                                                    "label": {
                                                        "en": "Circle",
                                                        "fi": "Ympyrä"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": "imgFit",
                                            "type": "checkbox",
                                            "label": {
                                                "en": "Image area fill",
                                                "fi": "Kuva-alueen täyttö"
                                            },
                                            "default": false
                                        },
                                        {
                                            "id": "text",
                                            "type": "text",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        },
                                        {
                                            "id": "resource",
                                            "type": "url",
                                            "label": {
                                                "en": "Link",
                                                "fi": "Linkki"
                                            }
                                        },
                                        {
                                            "id": "resourceOpenInNewWindowStatus",
                                            "type": "checkbox",
                                            "label": {
                                                "en": "Open link in a new window",
                                                "fi": "Avaa linkki uudessa ikkunassa"
                                            },
                                            "default": false
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Settings",
                                "fi": "Asetukset"
                            },
                            "settings": [
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "List",
                                        "fi": "Listaus"
                                    }
                                },
                                {
                                    "id": "titlePosition",
                                    "type": "select",
                                    "label": {
                                        "en": "Product group title position",
                                        "fi": "Tuoteryhmän otsikon sijainti"
                                    },
                                    "default": "over",
                                    "options": [
                                        {
                                            "value": "over",
                                            "label": {
                                                "en": "Over",
                                                "fi": "Päällä"
                                            }
                                        },
                                        {
                                            "value": "below",
                                            "label": {
                                                "en": "Below",
                                                "fi": "Alla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "textColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Product group title color",
                                        "fi": "Tuoteryhmän otsikon väri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["titlePosition eq over"]
                                },
                                {
                                    "id": "imgOverlay",
                                    "label": {
                                        "en": "Product group image overlay",
                                        "fi": "Tuoteryhmän kuvan taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%",
                                    "conditions": ["titlePosition eq over"]
                                },
                                {
                                    "id": "sectionContentSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content spacing",
                                        "fi": "Sisällön tilavuus"
                                    },
                                    "default": "sm",
                                    "options": [
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                },
                                {
                                    "type": "spacer"
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Seo",
                                        "fi": "Seo"
                                    }
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Heading SEO priority",
                                        "fi": "Otsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "titleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Product group title SEO priority",
                                        "fi": "Tuoteryhmän otsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "type": "spacer"
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Section",
                                        "fi": "Osio"
                                    }
                                },
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        },
                                        {
                                            "value": "custom",
                                            "label": "{# icon.pencilRegular #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeightCustomTop",
                                    "label": {
                                        "en": "Top height",
                                        "fi": "Yläosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionHeightCustomBottom",
                                    "label": {
                                        "en": "Bottom height",
                                        "fi": "Alaosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Inner spacing",
                                        "fi": "Sisäinen tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Color style",
                                "fi": "Värityyli"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general",
                                    "info": {
                                        "en": "You can edit the color styles in the theme settings",
                                        "fi": "Voit muokata värityylejä teeman asetuksista"
                                    }
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Background",
                                "fi": "Tausta"
                            },
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Image",
                                        "fi": "Kuva"
                                    }
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": {
                                        "en": "Image position",
                                        "fi": "Kuvan sijainti"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "left-top",
                                            "label": {
                                                "en": "Left Top",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "left-center",
                                            "label": {
                                                "en": "Left Center",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": {
                                                "en": "Left Bottom",
                                                "fi": "Vasemmalla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "right-top",
                                            "label": {
                                                "en": "Right Top",
                                                "fi": "Oikealla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "right-center",
                                            "label": {
                                                "en": "Right Center",
                                                "fi": "Oikealla"
                                            }
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": {
                                                "en": "Right Bottom",
                                                "fi": "Oikealla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "center-top",
                                            "label": {
                                                "en": "Center Top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "center-center",
                                            "label": {
                                                "en": "Center Center",
                                                "fi": "Keskellä"
                                            }
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": {
                                                "en": "Center Bottom",
                                                "fi": "Keskellä alhaalla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Blur",
                                        "fi": "Taustan sumeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " "
                                },
                                {
                                    "id": "sectionContentBgColorStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Enable content background",
                                        "fi": "Näytä sisällön tausta"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "sectionContentBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Content background color",
                                        "fi": "Sisällön taustaväri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["sectionContentBgColorStatus:truthy eq true"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-product-group",
            "settings": {
                "sectionTitle": "Featured product groups",
                "sectionTitleTag": "h2",
                "sectionSubtitle": "",
                "sectionSubtitleTag": "h3",
                "sectionHeaderTextAlign": "center",
                "sectionColSpacing": "sm",
                "sectionContentSpacing": "sm",
                "itemsPerRow": "4",
                "titleTag": "h3",
                "textColor": "#ffffff",
                "imgOverlay": "0",
                "sectionHeight": "",
                "sectionHeightCustomTop": "0",
                "sectionHeightCustomBottom": "0",
                "sectionInnerSpacing": "",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionContentBgColorStatus": false,
                "sectionContentBgColor": "#ffffff",
                "sectionStyle": "general"
            }
        }
    ]
}
{% endschema %}