{%- assign sectionTitle = category.title -%}
{%- assign sectionDescription = category.description -%}
{%- assign sectionBreadcrumbs = category.breadcrumbs -%}
{%- assign itemCount = category.product_count -%}
{%- assign subCategories = category.sub_categories -%}

{%- capture sectionContent -%}

    {%- paginate category.products by 100 -%}

        {% if subCategories %}

            <div class="category-tags pb-4">

                <div class="swiper-container py-1">

                    <div class="swiper-wrapper">

                        {% for subCategory in subCategories %}

                            <div class="swiper-slide">

                                <div class="category-tag">

                                    <a href="{{ subCategory | page_url }}">

                                        <span class="category-tag-content">
                                            {{ subCategory.title }}
                                        </span>
                                    </a>

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                    <div class="swiper-button-prev">
                        {%- render 'icon', icon: 'arrow-left-1-itskPx' -%}
                    </div>

                    <div class="swiper-button-next">
                        {%- render 'icon', icon: 'arrow-right-1-Ei8Dl0' -%}
                    </div>

                </div>

            </div>

        {% endif %}

        <div class="row">

            <div class="col-auto">

                <span class="text-muted">
                    {% if itemCount == 1 %}
                        {{ 'general.product_count' | t: amount: itemCount }}
                    {% else %}
                        {{ 'general.product_plural_count' | t: amount: itemCount }}
                    {% endif %}
                </span>

            </div>

            <div class="col text-right">

                {% form 'sort' id: 'product-sort' %}

                    {%- assign activeSortByFilter = request.get.sort-by | default: 'default' -%}
                    {%- assign sortByFilters = "default,price-ascending,price-descending,title-ascending,title-descending,created-ascending,created-descending" | split: ',' -%}

                    <input type="hidden" name="sort-by" value="{% if request.get.sort-by %}{{ request.get.sort-by }}{% else %}default{% endif %}">

                    <div class="dropdown">

                        <button type="button" class="btn btn-text text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="mr-1">

                                {% for filter in sortByFilters %}

                                    {% if filter == activeSortByFilter %}
                                        {{ filter | prepend: 'filters.sort-by.' | t }}
                                    {% endif %}

                                {% endfor %}

                            </span>

                            {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}

                        </button>

                        <div class="dropdown-menu dropdown-menu-right">

                            {% for filter in sortByFilters %}

                                <button type="button" class="sort-by-action dropdown-item" value="{{ filter }}">
                                    {{ filter | prepend: 'filters.sort-by.' | t }}
                                </button>

                            {% endfor %}

                        </div>

                    </div>

                {% endform %}

            </div>

        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4">

            {% for product in category.products %}

                <div class="col pt-3 pb-4">

                    {%- render 'product-card-grid', product: product, wishlist: 'toggle' -%}

                </div>

            {% endfor %}

        </div>

        {% render 'pagination', paginate: paginate %}

    {%- endpaginate -%}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionSubtitle: sectionSubtitle, sectionDescription: sectionDescription, sectionBreadcrumbs: sectionBreadcrumbs %}

{% schema %}
{
    "name": "Category",
    "tag": "section",
    "class": "section section-category",
    "is_creatable": false
}
{% endschema %}