{%- case section.settings.contentAlign -%}
    {% when 'left' %}
        {%- assign contentAlign = 'justify-content-start' -%}
    {% when 'center' %}
        {%- assign contentAlign = 'justify-content-center' -%}
    {% when 'right' %}
        {%- assign contentAlign = 'justify-content-end' -%}
{%- endcase -%}

{%- capture sectionContent -%}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-{{ section.settings.itemsPerRow }} text-{{ section.settings.textAlign }} {{ contentAlign }}">

        {% for item in section.settings.setting_blocks.items %}

            {%- capture itemContent %}

                {%- assign imgSrc = item.settings.imgSrc -%}

                {% if item.settings.imgPlaceholder and imgSrc == '' %}

                    <div{% if item.settings.title or item.settings.description %} class="mb-3"{% endif %}>

                        {% render 'placeholder-svg', type: 'image', width: '80px', height: '80px' %}

                    </div>

                {% elsif imgSrc %}

                    <div{% if item.settings.title or item.settings.description %} class="mb-3"{% endif %}>

                        {%- assign imgSizeSm = '375,375' -%}
                        {%- assign imgSizeMd = '200,200' -%}

                        {%- case section.settings.itemsPerRow -%}
                            {% when 2 %}
                                {%- assign imgSizeLg = '640,640' -%}
                            {% when 3 %}
                                {%- assign imgSizeLg = '414,414' -%}
                            {% when 4 %}
                                {%- assign imgSizeLg = '280,280' -%}
                            {% when 5 %}
                                {%- assign imgSizeLg = '232,232' -%}
                            {% when 6 %}
                                {%- assign imgSizeLg = '187,187' -%}
                        {%- endcase -%}

                        <picture>

                            <source media="(min-width: 992px)" data-srcset="
                                {{ imgSrc | thumb: imgSizeLg }} 1x,
                                {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                            <source media="(min-width: 576px)" data-srcset="
                                {{ imgSrc | thumb: imgSizeMd }} 1x,
                                {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                            <source data-srcset="
                                {{ imgSrc | thumb: imgSizeSm }} 1x,
                                {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                            <img
                                alt="{{ item.settings.imgAlt }}"
                                data-src="{{ item.settings.imgSrc | thumb: imgSizeSm }}"
                                data-srcset="{{ item.settings.imgSrc | thumb: imgSizeSm }} 1x,{{ item.settings.imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                class="lazy d-block mx-auto img-fluid {% if item.settings.imgEffect != 'none' %} {{ item.settings.imgEffect }}{% endif %}">
                        </picture>

                    </div>

                {% endif %}

                {% if item.settings.title %}

                    <span class="d-block font-weight-bold{% if item.settings.description %} mb-2{% endif %}">
                        {{ item.settings.title }}
                    </span>

                {% endif %}

                {% if item.settings.description %}

                    <span class="d-block">
                        {{ item.settings.description }}
                    </span>

                {% endif %}

            {%- endcapture -%}

            <div class="col py-3">

                {% if item.settings.resource %}

                    <a href="{{- item.settings.resource.url -}}"{% if item.settings.resourceOpenInNewWindowStatus %} target="_blank"{% endif %}>
                        {{ itemContent }}
                    </a>

                {% else %}

                    {{ itemContent }}

                {% endif %}

            </div>

        {% endfor %}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent %}

{% schema %}
{
    "name": {
        "en": "Feature list",
        "fi": "Ominaisuuslista"
    },
    "tag": "section",
    "class": "section section-feature-list has-lazy",
    "category": "theme-basic",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "id": "items",
                "call_to_action": {
                    "en": "Add a item",
                    "fi": "Lisää kohde"
                },
                "is_sortable": true,
                "setting_blocks": [
                    {
                        "type": "item",
                        "title": {
                            "en": "Item",
                            "fi": "Kohde"
                        },
                        "settings": [
                            {
                                "id": "imgSrc",
                                "type": "image-picker",
                                "label": {
                                    "en": "Image",
                                    "fi": "Kuva"
                                }
                            },
                            {
                                "id": "imgAlt",
                                "type": "text",
                                "label": {
                                    "en": "Image alt",
                                    "fi": "Kuvan alt-teksti"
                                }
                            },
                            {
                                "id": "imgEffect",
                                "type": "select",
                                "label": {
                                    "en": "Image effect",
                                    "fi": "Kuvan effekti"
                                },
                                "default": "none",
                                "options": [
                                    {
                                        "value": "none",
                                        "label": {
                                            "en": "None",
                                            "fi": "Ei mitään"
                                        }
                                    },
                                    {
                                        "value": "rounded",
                                        "label": {
                                            "en": "Rounded",
                                            "fi": "Pyöristetty"
                                        }
                                    }
                                ]
                            },
                            {
                                "id": "title",
                                "type": "text",
                                "label": {
                                    "en": "Title",
                                    "fi": "Otsikko"
                                }
                            },
                            {
                                "id": "description",
                                "type": "textarea",
                                "label": {
                                    "en": "Description",
                                    "fi": "Kuvaus"
                                }
                            },
                            {
                                "id": "resource",
                                "type": "url",
                                "label": {
                                    "en": "Link",
                                    "fi": "Linkki"
                                }
                            },
                            {
                                "id": "resourceOpenInNewWindowStatus",
                                "type": "checkbox",
                                "label": {
                                    "en": "Open link in a new window",
                                    "fi": "Avaa linkki uudessa ikkunassa"
                                },
                                "default": false
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Layout",
                                "fi": "Näkymä"
                            },
                            "settings": [
                                {
                                    "id": "textAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Text align",
                                        "fi": "Tekstin tasaus"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "contentAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content alignment",
                                        "fi": "Sisällön ryhmittyminen"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "itemsPerRow",
                                    "label": {
                                        "en": "Kohteita per row",
                                        "fi": "Kohteita per rivi"
                                    },
                                    "type": "range",
                                    "min": 2,
                                    "max": 6,
                                    "step": 1,
                                    "default": 6,
                                    "unit": " "
                                },
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        },
                                        {
                                            "value": "custom",
                                            "label": "{# icon.pencilRegular #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeightCustomTop",
                                    "label": {
                                        "en": "Top height",
                                        "fi": "Yläosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionHeightCustomBottom",
                                    "label": {
                                        "en": "Bottom height",
                                        "fi": "Alaosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Inner spacing",
                                        "fi": "Sisäinen tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Background",
                                "fi": "Tausta"
                            },
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Image",
                                        "fi": "Kuva"
                                    }
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": {
                                        "en": "Image position",
                                        "fi": "Kuvan sijainti"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "left-top",
                                            "label": {
                                                "en": "Left Top",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "left-center",
                                            "label": {
                                                "en": "Left Center",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": {
                                                "en": "Left Bottom",
                                                "fi": "Vasemmalla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "right-top",
                                            "label": {
                                                "en": "Right Top",
                                                "fi": "Oikealla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "right-center",
                                            "label": {
                                                "en": "Right Center",
                                                "fi": "Oikealla"
                                            }
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": {
                                                "en": "Right Bottom",
                                                "fi": "Oikealla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "center-top",
                                            "label": {
                                                "en": "Center Top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "center-center",
                                            "label": {
                                                "en": "Center Center",
                                                "fi": "Keskellä"
                                            }
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": {
                                                "en": "Center Bottom",
                                                "fi": "Keskellä alhaalla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Blur",
                                        "fi": "Taustan sumeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " "
                                },
                                {
                                    "id": "sectionContentBgColorStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Enable content background",
                                        "fi": "Näytä sisällön tausta"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "sectionContentBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Content background color",
                                        "fi": "Sisällön taustaväri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["sectionContentBgColorStatus:truthy eq true"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Colors",
                                "fi": "Värit"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-basic",
            "settings": {
                "textAlign": "center",
                "contentAlign": "center",
                "itemsPerRow": "6",
                "sectionHeight": "custom",
                "sectionHeightCustomTop": "0",
                "sectionHeightCustomBottom": "0",
                "sectionInnerSpacing": "",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionContentBgColorStatus": false,
                "sectionContentBgColor": "#ffffff",
                "sectionStyle": "general",
                "setting_blocks": {
                    "items": {
                        "8b7955ef-d6b4-4a3e-ae8f-79303852f19f": {
                            "type": "item",
                            "settings": {
                                "imgPlaceholder": true,
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "title": "Lorem ipsum dolor sit",
                                "description": "Lorem ipsum dolor sit",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "9fce1965-4956-449e-accc-1a4e8fe46949": {
                            "type": "item",
                            "settings": {
                                "imgPlaceholder": true,
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "title": "Lorem ipsum dolor sit",
                                "description": "Lorem ipsum dolor sit",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "8102c4d5-e865-4e19-b1e1-58bd9f04e672": {
                            "type": "item",
                            "settings": {
                                "imgPlaceholder": true,
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "title": "Lorem ipsum dolor sit",
                                "description": "Lorem ipsum dolor sit",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        },
                        "efa98db3-adb2-4347-a317-4145ea052ba4": {
                            "type": "item",
                            "settings": {
                                "imgPlaceholder": true,
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "title": "Lorem ipsum dolor sit",
                                "description": "Lorem ipsum dolor sit",
                                "resource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "resourceOpenInNewWindowStatus": false
                            }
                        }
                    }
                }
            }
        }
    ]
}
{% endschema %}