{%- assign footerMenu = linklists[section.settings.menu] -%}

{%- capture sectionContent -%}

    <div class="site-footer-container {{ section.settings.menu }}">

        <div class="site-footer">

            <div class="site-footer-top">

                <div class="container">

                    <div class="row">

                        {% for item in footerMenu.links %}

                            {% if item.links %}

                                <div class="col-12 col-md">

                                    <div class="site-footer-menu-container">

                                        <div class="site-footer-title">

                                            {%- if item.url -%}

                                                <a href="{{ item.url }}" class="site-footer-menu-title-text">
                                                    {{ item.title }}
                                                </a>

                                            {%- else -%}

                                                <span class="site-footer-menu-title-text">
                                                    {{ item.title }}
                                                </span>

                                            {%- endif -%}

                                        </div>

                                        <ul class="site-footer-menu">

                                            {% for item in item.links %}

                                                <li class="site-footer-menu-item">

                                                    {%- if item.url -%}

                                                        <a href="{{ item.url }}" class="site-footer-menu-item-text">
                                                            {{ item.title }}
                                                        </a>

                                                    {%- else -%}

                                                        <span class="site-footer-menu-item-text">
                                                            {{ item.title }}
                                                        </span>

                                                    {%- endif -%}

                                                </li>

                                            {% endfor %}

                                        </ul>

                                    </div>

                                </div>

                            {% endif %}

                        {% endfor %}

                        {% if section.settings.footerTopTextStatus %}

                            <div class="col-12 col-md">

                                <div class="site-footer-text-container">

                                    {% if section.settings.footerTopTextTitle %}

                                        <div class="site-footer-title">

                                            {{ section.settings.footerTopTextTitle }}

                                        </div>

                                    {% endif %}

                                    <div class="site-footer-text">

                                        {{ section.settings.footerTopTextContent }}

                                    </div>

                                </div>

                            </div>

                        {% endif %}

                        {% if section.settings.footerTopNewsletterStatus %}

                            <div class="col-12 col-md">

                                <div class="site-footer-newsletter-container">

                                    {% if section.settings.footerTopNewsletterTitle %}

                                        <div class="site-footer-title">

                                            {{ section.settings.footerTopNewsletterTitle }}

                                        </div>

                                    {% endif %}

                                    <div class="site-footer-newsletter">

                                        {% form 'customer', customer %}

                                            {% if section.settings.footerTopNewsletterContent %}

                                                <p>
                                                    {{  section.settings.footerTopNewsletterContent }}
                                                </p>

                                            {% endif %}

                                            {% if customer and customer.newsletter %}

                                                {{ 'general.newsletter_subscribed' | t }}

                                            {% elsif form.was_success %}

                                                {{ 'general.newsletter_subscribed' | t }}

                                            {% else %}

                                                <div class="form-group form-floating">

                                                    <input id="footer-middle-newsletter" class="form-control" type="email" name="email" value="" placeholder="{{ 'general.email' | t }}" required>

                                                    <label for="footer-middle-newsletter">
                                                        {{ 'general.email' | t }}
                                                    </label>

                                                </div>

                                                {% render 'form-error', error: form.error, class: 'form-group' %}

                                                <button type="submit" class="btn btn-outline-section">
                                                    {{ 'general.subscribe' | t }}
                                                </button>

                                            {% endif %}

                                        {% endform %}

                                    </div>

                                </div>

                            </div>

                        {% endif %}

                    </div>

                </div>

            </div>

            {% if section.settings.footerMiddleSocialMediaButtonsStatus or section.settings.footerMiddlePaymentMethodsStatus %}

                <div class="site-footer-middle">

                    <div class="container">

                        <div class="row">

                            {% if section.settings.footerMiddleSocialMediaButtonsStatus %}

                                <div class="col-12 col-md">

                                    <div class="site-footer-social-media-buttons-container">

                                        {% if settings.facebookPageUrl %}

                                            <div class="site-footer-social-media-btn">

                                                {% render 'social-media-button', type: 'facebook', url: settings.facebookPageUrl, style: 'minimal' %}

                                            </div>

                                        {% endif %}

                                        {% if settings.instagramPageUrl %}

                                            <div class="site-footer-social-media-btn">

                                                {% render 'social-media-button', type: 'instagram', url: settings.instagramPageUrl, style: 'minimal' %}

                                            </div>

                                        {% endif %}

                                        {% if settings.twitterPageUrl %}

                                            <div class="site-mobile-navigation-social-media-btn">

                                                {% render 'social-media-button', type: 'twitter', url: settings.twitterPageUrl, style: 'minimal' %}

                                            </div>

                                        {% endif %}

                                        {% if settings.pinterestPageUrl %}

                                            <div class="site-mobile-navigation-social-media-btn">

                                                {% render 'social-media-button', type: 'pinterest', url: settings.pinterestPageUrl, style: 'minimal' %}

                                            </div>

                                        {% endif %}

                                        {% if settings.youtubePageUrl %}

                                            <div class="site-mobile-navigation-social-media-btn">

                                                {% render 'social-media-button', type: 'youtube', url: settings.youtubePageUrl, style: 'minimal' %}

                                            </div>

                                        {% endif %}

                                    </div>

                                </div>

                            {% endif %}

                            {% if section.settings.footerMiddlePaymentMethodsStatus %}

                                <div class="col-12 col-md">

                                    <div class="site-footer-payment-methods-container">

                                        {% for payment_method in store.payment_methods %}

                                            {%- assign imgSrc = payment_method.image -%}

                                            {% if imgSrc %}

                                                {%- assign imgSize = 45,30 -%}

                                                <div class="site-footer-payment-method">

                                                    <picture>
                                                        <img
                                                            alt="{{ payment_method.name }}"
                                                            data-src="{{ imgSrc | thumb: imgSize }}"
                                                            data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb:'@2x' }} 2x"
                                                            class="lazy d-block mx-auto img-fluid">
                                                    </picture>

                                                </div>

                                            {% endif %}

                                        {% endfor %}

                                    </div>

                                </div>

                            {% endif %}

                        </div>

                    </div>

                </div>

            {% endif %}

            <div class="site-footer-bottom">

                <div class="container">

                    {% if section.settings.footerBottomTextStatus %}

                        <div class="site-footer-bottom-text">

                            {{ section.settings.footerBottomTextContent }}

                        </div>

                    {% endif %}

                    <div class="site-footer-bottom-power-by-text">

                        <a target="_blank" rel="nofollow" class="text-section" href="https://www.finqu.fi?utm_campaign=poweredby&utm_medium=finqu&utm_source=onlinestore">
                            Powered by Finqu
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionContentContainer: 'none'  %}

{% schema %}
{
	"name": {
        "en": "Footer",
        "fi": "Alatunniste"
    },
	"tag": "section",
	"is_creatable": false,
	"is_removable": false,
	"class": "section section-site-footer",
	"settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                    	"id": "menu",
                    	"type": "menu",
                    	"label": {
                            "en": "Menu",
                            "fi": "Valikko"
                        },
                    	"default": "footer-menu"
                    },
                    {
                        "id": "footerTopTextStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show textarea 1",
                            "fi": "Näytä tekstialue 1"
                        },
                        "default": true
                    },
                    {
                        "id": "footerBottomTextStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show textarea 2",
                            "fi": "Näytä tekstialue 2"
                        },
                        "default": true
                    },
                    {
                        "id": "footerTopNewsletterStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show newsletter subscribe",
                            "fi": "Näytä uutiskirjeen tilaus"
                        },
                        "default": true
                    },
                    {
                        "id": "footerMiddleSocialMediaButtonsStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show social media buttons",
                            "fi": "Näytä sosiaalisen median kuvakkeet"
                        },
                        "default": false
                    },
                    {
                        "id": "footerMiddlePaymentMethodsStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show payment methods",
                            "fi": "Näytä maksutavat"
                        },
                        "default": false
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Textarea 1",
                            "fi": "Tekstialue 1"
                        }
                    },
                    {
                        "id": "footerTopTextTitle",
                        "type": "text",
                        "label": {
                            "en": "Title",
                            "fi": "Otsikko"
                        }
                    },
                    {
                        "id": "footerTopTextContent",
                        "type": "richtext",
                        "label": {
                            "en": "Content",
                            "fi": "Sisältö"
                        }
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Textarea 2",
                            "fi": "Tekstialue 2"
                        }
                    },
                    {
                        "id": "footerBottomTextContent",
                        "type": "richtext",
                        "label": {
                            "en": "Content",
                            "fi": "Sisältö"
                        }
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Newsletter",
                            "fi": "Uutiskirje"
                        }
                    },
                    {
                        "id": "footerTopNewsletterTitle",
                        "type": "text",
                        "label": {
                            "en": "Title",
                            "fi": "Otsikko"
                        }
                    },
                    {
                        "id": "footerTopNewsletterContent",
                        "type": "richtext",
                        "label": {
                            "en": "Content",
                            "fi": "Sisältö"
                        }
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Layout",
                                "fi": "Näkymä"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content spacing",
                                        "fi": "Sisällön tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content spacing",
                                        "fi": "Sisällön tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Colors",
                                "fi": "Värit"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "dark"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}
{% endschema %}