{%- assign mainMenu = linklists[section.settings.menu] -%}

{%- if section.settings.announcementStatus and section.settings.announcementText -%}
    <style>
        #finqu-section-{{ section.id }} .site-announcement {
            background-color: {{ section.settings.announcementBgColor }};
        }

        #finqu-section-{{ section.id }} .site-announcement .site-announcement-text {
            color: {{ section.settings.announcementTextColor }};
        }
    </style>
{%- endif -%}

{%- capture sectionContent -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}

        {% assign theme = section.settings.announcementKlarnaDark | yepnope: 'dark', 'light' %}
        {% render 'klarna-placement', type:section.settings.announcementKlarnaType theme:theme %}

    {%- endif -%}

    {% if section.settings.announcementStatus and section.settings.announcementText %}

        <div class="site-announcement-container">

            <div class="site-announcement">

                {% if section.settings.announcementLink.url %}

                    <a href="{{- section.settings.announcementLink.url -}}" class="site-announcement-text"{% if section.settings.announcementLinkOpenInNewWindowStatus %} target="_blank"{% endif %}>

                        {{ section.settings.announcementText }}

                    </a>

                {% else %}

                    <span class="site-announcement-text">

                        {{ section.settings.announcementText }}

                    </span>

                {% endif %}

            </div>

        </div>

    {% endif %}

    <div class="site-search-container site-search-floating">

        <div class="site-search">

            <div class="site-search-form-container">

                {% form 'search', class: 'site-search-form' %}

                    <div class="site-search-form-icon">

                        {%- render 'icon', icon: 'search-jUAwYE', class: 'svg-icon-fw' -%}

                    </div>

                    <div class="site-search-form-input">

                        <input class="form-control mr-2" type="search" placeholder="{{ 'general.search_products' | t }}" name="q" value="{{ search.search_term }}">

                    </div>

                {% endform %}

            </div>

            <div class="site-search-results-container">

                <div class="site-search-results"></div>

            </div>

        </div>

    </div>

    <div class="site-mobile-header-container{% if section.settings.stickyHeader %} site-mobile-header-sticky{% endif %}">

        <div class="site-mobile-header">

            <div class="container d-flex">

                <div class="d-inline-flex align-items-center">

                    <div class="site-mobile-header-item-container">

                        <div class="site-mobile-header-item">

                            <button type="button" class="site-mobile-navigation-toggle btn btn-text">

                                {%- render 'icon', icon: 'navigation-menu-gWaHY4', class: 'svg-icon-fw' -%}

                            </button>

                        </div>

                    </div>

                    <div class="site-mobile-header-item-container">

                        <div class="site-mobile-header-item site-mobile-header-item-search">

                            <button type="button" class="site-search-toggle btn btn-text" class="btn btn-text">

                                {%- render 'icon', icon: 'search-jUAwYE', class: 'svg-icon-fw' -%}

                            </button>

                        </div>

                    </div>

                </div>

                <div class="d-inline-flex align-items-center justify-content-center flex-grow-1 site-mobile-header-logo-container">

                    <a href="/">

                        {%- assign imgSrc = section.settings.logoImgSrc -%}
                        {%- assign imgSize = '150,50' -%}

                        {% if imgSrc %}

                            <picture>
                                <img
                                    alt="{{ store.name }}"
                                    data-src="{{ imgSrc | thumb: imgSize }}"
                                    data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb:'@2x' }} 2x"
                                    class="lazy d-block mx-auto img-fluid site-mobile-header-logo">
                            </picture>

                        {% else %}

                            <span class="site-mobile-header-logo-text">
                                {{ store.name }}
                            </span>

                        {% endif %}

                    </a>

                </div>

                <div class="d-inline-flex align-items-center position-relative">

                    <div class="site-mobile-header-item-container">

                        <div class="site-mobile-header-item">

                            <a href="{{ routes.cart_url }}" class="btn btn-text">

                                <span class="site-mobile-header-item-counter{% if cart.items.size > 0 %} has-items{% endif %}">

                                    <span class="site-mobile-header-item-counter-text" data-cart-item-count>
                                        {{ cart.item_count }}
                                    </span>

                                </span>

                                {%- render 'icon', icon: 'shopping-bag-tag-1-7QUX0n', class: 'svg-icon-fw' -%}

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <nav class="site-mobile-navigation-container">

        <div class="site-mobile-navigation-overlay"></div>

        {% for item in mainMenu.links %}

            {%- assign parentIndex = forloop.index -%}

            {% if item.links %}

                <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ forloop.index }}">

                    <div class="site-mobile-navigation-header">

                        <div class="site-mobile-navigation-header-inner">

                            <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ forloop.index }}">
                                {%- render 'icon', icon: 'arrow-left-dzpnnb', class: 'svg-icon-fw' -%}
                            </button>

                            <span class="site-mobile-navigation-header-text">
                                {{ item.title }}
                            </span>

                        </div>

                    </div>

                    <ul class="site-mobile-navigation-menu">

                        {% for item in item.links %}

                            <li class="site-mobile-navigation-menu-item{% if item.links %} site-mobile-navigation-menu-item-parent{% endif %}{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                                {%- if item.url -%}

                                    <a href="{{ item.url }}" class="site-mobile-navigation-menu-item-text">
                                        {{ item.title }}
                                    </a>

                                    {%- if item.links -%}

                                        <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ parentIndex }}-{{ forloop.index }}">
                                            {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                        </button>

                                    {% endif %}

                                {%- else -%}

                                    <span class="site-mobile-navigation-menu-item-text">
                                        {{ item.title }}
                                    </span>

                                    {%- if item.links -%}

                                        <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ parentIndex }}-{{ forloop.index }}">
                                            {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                        </button>

                                    {% endif %}

                                {%- endif -%}

                            </li>

                        {% endfor %}

                    </ul>

                </div>

                {% for item in item.links %}

                    {% if item.links %}

                        <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ parentIndex }}-{{ forloop.index }}">

                            <div class="site-mobile-navigation-header">

                                <div class="site-mobile-navigation-header-inner">

                                    <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ parentIndex }}-{{ forloop.index }}">
                                        {%- render 'icon', icon: 'arrow-left-dzpnnb', class: 'svg-icon-fw' -%}
                                    </button>

                                    <span class="site-mobile-navigation-header-text">
                                        {{ item.title }}
                                    </span>

                                </div>

                            </div>

                            <ul class="site-mobile-navigation-menu">

                                {% for item in item.links %}

                                    <li class="site-mobile-navigation-menu-item{% if item.links %} site-mobile-navigation-menu-item-parent{% endif %}{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                                        {%- if item.url -%}

                                            <a href="{{ item.url }}" class="site-mobile-navigation-menu-item-text">
                                                {{ item.title }}
                                            </a>

                                        {%- else -%}

                                            <span class="site-mobile-navigation-menu-item-text">
                                                {{ item.title }}
                                            </span>

                                        {%- endif -%}

                                    </li>

                                {% endfor %}

                            </ul>

                        </div>

                    {% endif %}

                {% endfor %}

            {% endif %}

        {% endfor %}

        <div class="site-mobile-navigation-layer site-mobile-navigation-layer-root">

            {% if store.customer_accounts_enabled %}

                <div class="site-mobile-navigation-account">

                    {% if session.logged_in %}

                        <a href="{{ routes.account_url }}">

                            <div class="site-mobile-navigation-account-inner">

                                <span class="site-mobile-navigation-account-text">
                                    {{ 'account.title' | t }}
                                </span>

                                {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}

                            </div>

                        </a>

                    {% else %}

                        <a href="{{ routes.account_login_url }}">

                            <div class="site-mobile-navigation-account-inner">

                                <span class="site-mobile-navigation-account-text">
                                    {{ 'login.title' | t }}
                                </span>

                                {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}

                            </div>

                        </a>

                    {% endif %}

                </div>

            {% endif %}

            <ul class="site-mobile-navigation-menu">

                {% for item in mainMenu.links %}

                    <li class="site-mobile-navigation-menu-item{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                        {%- if item.url -%}

                            <a href="{{ item.url }}" class="site-mobile-navigation-menu-item-text">
                                {{ item.title }}
                            </a>

                            {%- if item.links -%}

                                <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ forloop.index }}">
                                    {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                </button>

                            {% endif %}

                        {%- else -%}

                            <span class="site-mobile-navigation-menu-item-text">
                                {{ item.title }}
                            </span>

                            {%- if item.links -%}

                                <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ forloop.index }}">
                                    {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                </button>

                            {% endif %}

                        {%- endif -%}

                    </li>

                {% endfor %}

            </ul>

            {% if section.settings.socialMediaIconsStatus %}

                {% render 'social-media-buttons' class: 'site-mobile-navigation-social-media-buttons-container' %}

            {% endif %}

        </div>

    </nav>

{%- endcapture -%}

{%- if section.settings.headerLayout == '1' -%}

    {%- render 'headers/layout-1', section: section, sectionContent: sectionContent, sectionClasses: 'site-header-layout-1' -%}

{%- elsif section.settings.headerLayout == '2' -%}

    {%- render 'headers/layout-2', section: section, sectionContent: sectionContent, sectionClasses: 'site-header-layout-2' -%}

{%- elsif section.settings.headerLayout == '3' -%}

    {%- render 'headers/layout-3', section: section, sectionContent: sectionContent, sectionClasses: 'site-header-layout-3', search: search -%}

{%- elsif section.settings.headerLayout == '4' -%}

    {%- render 'headers/layout-4', section: section, sectionContent: sectionContent, sectionClasses: 'site-header-layout-4' -%}

{%- elsif section.settings.headerLayout == '5' -%}

    {%- render 'headers/layout-5', section: section, sectionContent: sectionContent, sectionClasses: 'site-header-layout-5' -%}

{%- elsif section.settings.headerLayout == '6' -%}

    {%- render 'headers/layout-6', section: section, sectionContent: sectionContent, sectionClasses: 'site-header-layout-6' -%}

{%- elsif section.settings.headerLayout == '7' -%}

    {%- render 'headers/layout-7', section: section, sectionContent: sectionContent, sectionClasses: 'site-header-layout-7' -%}

{% endif %}

{% schema %}
{
    "name": {
        "en": "Header",
        "fi": "Ylätunniste"
    },
    "tag": "section",
    "is_creatable": false,
    "is_removable": false,
    "class": "section section-site-header",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "headerLayout",
                        "type": "select",
                        "label": {
                            "en": "Layout",
                            "fi": "Asettelu"
                        },
                        "default": "1",
                        "options": [
                            {
                                "value": "1",
                                "label": {
                                    "en": "Layout 1",
                                    "fi": "Asettelu 1"
                                }
                            },
                            {
                                "value": "2",
                                "label": {
                                    "en": "Layout 2",
                                    "fi": "Asettelu 2"
                                }
                            },
                            {
                                "value": "3",
                                "label": {
                                    "en": "Layout 3",
                                    "fi": "Asettelu 3"
                                }
                            },
                            {
                                "value": "4",
                                "label": {
                                    "en": "Layout 4",
                                    "fi": "Asettelu 4"
                                }
                            },
                            {
                                "value": "5",
                                "label": {
                                    "en": "Layout 5",
                                    "fi": "Asettelu 5"
                                }
                            },
                            {
                                "value": "6",
                                "label": {
                                    "en": "Layout 6",
                                    "fi": "Asettelu 6"
                                }
                            },
                            {
                                "value": "7",
                                "label": {
                                    "en": "Layout 7",
                                    "fi": "Asettelu 7"
                                }
                            }
                        ]
                    },
                    {
                        "id": "headerMenuItemColor",
                        "type": "color",
                        "label": {
                            "en": "Link color",
                            "fi": "Linkin väri"
                        },
                        "default": "#000000",
                        "conditions": [
                            "headerLayout gte 6",
                            "headerLayout lte 7"
                        ]
                    },
                    {
                        "id": "headerIndicatorColor",
                        "type": "color",
                        "label": {
                            "en": "Indicator color",
                            "fi": "Osoitin väri"
                        },
                        "default": "#000000",
                        "conditions": [
                            "headerLayout gte 6",
                            "headerLayout lte 7"
                        ]
                    },
                    {
                        "id": "headerIconColor",
                        "type": "color",
                        "label": {
                            "en": "Icon color",
                            "fi": "Kuvakkeen väri"
                        },
                        "default": "#000000",
                        "conditions": [
                            "headerLayout gte 6",
                            "headerLayout lte 7"
                        ]
                    },
                    {
                        "id": "stickyHeader",
                        "type": "checkbox",
                        "label": {
                            "en": "Sticky header",
                            "fi": "Leijuva ylätunniste"
                        },
                        "default": false
                    },
                    {
                        "id": "headerMegamenu",
                        "type": "checkbox",
                        "label": {
                            "en": "Megamenu",
                            "fi": "Megamenu"
                        },
                        "default": true
                    },
                    {
                        "id": "headerSubmenuIndicator",
                        "type": "checkbox",
                        "label": {
                            "en": "Submenu indicator",
                            "fi": "Alavalikon indikaattori"
                        },
                        "default": false
                    },
                    {
                        "id": "menu",
                        "type": "menu",
                        "label": {
                            "en": "Menu",
                            "fi": "Navigaatio"
                        },
                        "default": "main"
                    },
                    {
                        "id": "logoImgSrc",
                        "type": "image-picker",
                        "label": {
                            "en": "Logo",
                            "fi": "Logo"
                        }
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Mobile navigation",
                            "fi": "Mobiilinavigointi"
                        }
                    },
                    {
                        "id": "socialMediaIconsStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show social media icons",
                            "fi": "Sosiaalisen median kuvakkeet"
                        },
                        "default": true
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Announcement",
                            "fi": "Ilmoitus"
                        }
                    },
                    {
                        "id": "announcementStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show",
                            "fi": "Näytä"
                        },
                        "default": false
                    },
                    {
                        "id": "announcementBgColor",
                        "type": "color",
                        "label": {
                            "en": "Background color",
                            "fi": "Taustanväri"
                        },
                        "default": "#000000",
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementTextColor",
                        "type": "color",
                        "label": {
                            "en": "Text color",
                            "fi": "Tekstin väri"
                        },
                        "default": "#ffffff",
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementText",
                        "type": "text",
                        "label": {
                            "en": "Text",
                            "fi": "Teksti"
                        },
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementLink",
                        "type": "url",
                        "label": {
                            "en": "Announcement link",
                            "fi": "Ilmoituksen linkki"
                        },
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementLinkOpenInNewWindowStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Open link in a new window",
                            "fi": "Avaa linkki uudessa ikkunassa"
                        },
                        "default": true,
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Klarna",
                            "fi": "Klarna"
                        }
                    },
                    {
                        "id": "announcementKlarna",
                        "type": "checkbox",
                        "label": {
                            "en": "Show banner",
                            "fi": "Näytä banneri"
                        },
                        "default": false
                    },
                    {
                        "id": "announcementKlarnaType",
                        "type": "select",
                        "label": {
                            "en": "Layout",
                            "fi": "Asettelu"
                        },
                        "default": "top-strip-promotion-standard",
                        "options": [
                            {
                                "value": "top-strip-promotion-standard",
                                "label": {
                                    "en": "Banner 1",
                                    "fi": "Banneri 1"
                                }
                            },
                            {
                                "value": "top-strip-promotion-badge",
                                "label": {
                                    "en": "Banner 2",
                                    "fi": "Banneri 2"
                                }
                            },
                            {
                                "value": "top-strip-promotion-auto-size",
                                "label": {
                                    "en": "Banner 3",
                                    "fi": "Banneri 3"
                                }
                            }
                        ],
                        "conditions": ["announcementKlarna eq true"]
                    },
                    {
                        "id": "announcementKlarnaDark",
                        "type": "checkbox",
                        "label": {
                            "en": "Dark theme",
                            "fi": "Tumma teema"
                        },
                        "default": false,
                        "conditions": ["announcementKlarna eq true"]
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": [
                    {
                        "type": "title",
                        "label": {
                            "en": "Colors",
                            "fi": "Värit"
                        }
                    },
                    {
                        "id": "sectionStyle",
                        "styles_id": "styles",
                        "type": "style-picker",
                        "default": "general"
                    }
                ]
            }
        ]
    }
}
{% endschema %}