{%- assign mobileMenu = linklists[section.settings.mobileMenu] -%}

{%- if section.settings.announcementStatus and section.settings.announcementText -%}
    <style>
        #finqu-section-{{ section.id }} .site-announcement {
            background-color: {{ section.settings.announcementBgColor }};
        }

        #finqu-section-{{ section.id }} .site-announcement .site-announcement-text {
            color: {{ section.settings.announcementTextColor }};
        }
    </style>
{%- endif -%}

{%- unless customer -%}
    <style>
        #finqu-section-{{ section.id }} .site-mobile-header-logo,
        #finqu-section-{{ section.id }} .site-mobile-header-logo-text {
            margin-right: 48px;
        }
    </style>
{%- endunless -%}

{%- capture sectionContent -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}

        {%- assign theme = section.settings.announcementKlarnaDark | yepnope: 'dark', 'light' -%}

        <div class="site-klarna-banner klarna-theme-{{ theme }} klarna-type-{{ section.settings.announcementKlarnaType }}">

            {% render 'klarna-placement', type: section.settings.announcementKlarnaType theme: theme %}

        </div>

    {%- endif -%}

    {%- if section.settings.announcementVisibility == 'frontpage' and request.page_type == 'frontpage' and section.settings.announcementStatus -%}
        {%- assign announcementIsVisible = true -%}
    {% elsif section.settings.announcementVisibility == 'all' and section.settings.announcementStatus %}
        {%- assign announcementIsVisible = true -%}
    {%- else -%}
        {%- assign announcementIsVisible = false -%}
    {%- endif -%}

    {% if announcementIsVisible and section.settings.announcementText %}

        <div class="site-announcement-container{% if section.settings.announcementText | size > 50 %} has-long-text{% endif %}">

            <div class="site-announcement">

                {% if section.settings.announcementLink.url %}

                    <a href="{{- section.settings.announcementLink.url -}}" class="site-announcement-text"{% if section.settings.announcementLinkOpenInNewWindowStatus %} target="_blank"{% endif %}>

                        {{ section.settings.announcementText }}

                    </a>

                {% else %}

                    <span class="site-announcement-text">

                        {{ section.settings.announcementText }}

                    </span>

                {% endif %}

            </div>

        </div>

    {% endif %}

    <div class="site-search-container site-search-floating">

        <div class="site-search">

            <div class="site-search-form-container">

                {% form 'search', class: 'site-search-form' %}

                    {% if form.posted_successfully? %}

                        <script type="application/javascript">
                            document.addEventListener('DOMContentLoaded', function() {
                                document.dispatchEvent(new CustomEvent('theme:search', {
                                    detail: {
                                        query: {{ submitted_form.q | json }}
                                    }
                                }));
                            });
                        </script>

                    {% endif %}

                    <div class="site-search-form-icon">

                        {%- render 'icon', icon: 'regular/search', class: 'svg-icon-fw' -%}

                    </div>

                    <div class="site-search-form-input">

                        <input class="form-control mr-2" type="search" placeholder="{{ 'general.search_products' | t }}" name="q" value="{{ search.search_term }}" autocomplete="off">

                    </div>

                {% endform %}

            </div>

            <div class="site-search-results-container">

                <div class="site-search-results"></div>

            </div>

        </div>

    </div>

    <div class="site-mobile-header-container{% if section.settings.stickyMobileHeader %} site-mobile-header-sticky{% endif %}">

        <div class="site-mobile-header">

            <div class="container d-flex">

                <div class="d-inline-flex align-items-center">

                    <div class="site-mobile-header-item-container">

                        <div class="site-mobile-header-item">

                            <button type="button" class="site-mobile-navigation-toggle btn btn-text">

                                {%- render 'icon', icon: 'regular/navigation-menu', class: 'svg-icon-fw' -%}

                            </button>

                        </div>

                    </div>

                    <div class="site-mobile-header-item-container">

                        <div class="site-mobile-header-item site-mobile-header-item-search">

                            <button type="button" class="site-search-toggle btn btn-text" class="btn btn-text">

                                {%- render 'icon', icon: 'regular/search', class: 'svg-icon-fw' -%}

                            </button>

                        </div>

                    </div>

                </div>

                <div class="d-inline-flex align-items-center justify-content-center flex-grow-1 site-mobile-header-logo-container">

                    <a href="{{ routes.root_url }}">

                        {%- assign imgSrc = section.settings.logoImgSrc -%}
                        {%- assign imgSizeOnPhone = '200,50' -%}
                        {%- assign imgSizeOnTablet = '400,50' -%}

                        {% if imgSrc %}

                            <img
                                alt="{{ store.name }}"
                                src="{{ imgSrc | thumb: imgSizeOnTablet }}"
                                srcset="{{ imgSrc | thumb: imgSizeOnTablet }} 1x, {{ imgSrc | thumb: imgSizeOnTablet | thumb:'@2x' }} 2x"
                                class="img-fluid site-mobile-header-logo d-none d-md-block">

                            <img
                                alt="{{ store.name }}"
                                src="{{ imgSrc | thumb: imgSizeOnPhone }}"
                                srcset="{{ imgSrc | thumb: imgSizeOnPhone }} 1x, {{ imgSrc | thumb: imgSizeOnPhone | thumb:'@2x' }} 2x"
                                class="img-fluid site-mobile-header-logo d-block d-md-none">


                        {% else %}

                            <span class="site-mobile-header-logo-text">
                                {{ store.name }}
                            </span>

                        {% endif %}

                    </a>

                </div>

                <div class="d-inline-flex align-items-center position-relative">

                    {% if customer %}

                        <div class="site-mobile-header-item-container">

                            <div class="site-mobile-header-item site-mobile-header-item-wishlist">

                                <a href="{{ routes.account_wishlist_url }}" class="btn btn-text">

                                    <span class="site-mobile-header-item-counter{% if wishlist.products.size > 0 %} has-items{% endif %}">

                                        <span class="site-mobile-header-item-counter-text" data-wislist-item-count>
                                            {{ wishlist.products.size }}
                                        </span>

                                    </span>

                                    {%- render 'icon', icon: 'regular/love-it', class: 'svg-icon-fw' -%}

                                </a>

                            </div>

                        </div>

                    {% endif %}

                    <div class="site-mobile-header-item-container">

                        <div class="site-mobile-header-item">

                            <a href="{{ routes.cart_url }}" class="btn btn-text">

                                <span class="site-mobile-header-item-counter{% if cart.items.size > 0 %} has-items{% endif %}">

                                    <span class="site-mobile-header-item-counter-text" data-cart-item-count>
                                        {{ cart.item_count }}
                                    </span>

                                </span>

                                {%- render 'icon', icon: 'regular/shopping-bag-tag-1', class: 'svg-icon-fw' -%}

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <nav class="site-mobile-navigation-container">

        {%- assign layerIndex = 0 -%}

        {% if section.settings.addProductCategoriesToMobileNavigation %}

            {% for category in categories.root %}

                {% if category.is_visible and category.sub_categories.size > 0 %}

                    {%- assign layerIndex = layerIndex | plus: 1 -%}

                    <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ layerIndex }}">

                        <div class="site-mobile-navigation-header">

                            <div class="site-mobile-navigation-header-inner">

                                <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ layerIndex }}">
                                    {%- render 'icon', icon: 'regular/arrow-left', class: 'svg-icon-fw' -%}
                                </button>

                                <span class="site-mobile-navigation-header-text">
                                    {{ category.name }}
                                </span>

                            </div>

                        </div>

                        <ul class="site-mobile-navigation-menu">

                            {% for category in category.sub_categories %}

                                {% if category.is_visible %}

                                    <li class="site-mobile-navigation-menu-item{% if category.sub_categories.size > 0 %} site-mobile-navigation-menu-item-parent{% endif %}{% if category.current %} site-mobile-navigation-menu-item-active{% endif %}">

                                        <a href="{{ category | page_url }}" class="site-mobile-navigation-menu-item-text">
                                            {{ category.name }}
                                        </a>

                                        {% if category.sub_categories.size > 0 %}

                                            <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ layerIndex }}-{{ forloop.index }}">
                                                {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}
                                            </button>

                                        {% endif %}

                                    </li>

                                {% endif %}

                            {% endfor %}

                        </ul>

                    </div>

                    {% for category in category.sub_categories %}

                        {% if category.is_visible and category.sub_categories.size > 0 %}

                            <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ layerIndex }}-{{ forloop.index }}">

                                <div class="site-mobile-navigation-header">

                                    <div class="site-mobile-navigation-header-inner">

                                        <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ layerIndex }}-{{ forloop.index }}">
                                            {%- render 'icon', icon: 'regular/arrow-left', class: 'svg-icon-fw' -%}
                                        </button>

                                        <span class="site-mobile-navigation-header-text">
                                            {{ category.name }}
                                        </span>

                                    </div>

                                </div>

                                <ul class="site-mobile-navigation-menu">

                                    {% for category in category.sub_categories %}

                                        {% if category.is_visible %}

                                            <li class="site-mobile-navigation-menu-item{% if category.sub_categories.size > 0 %} site-mobile-navigation-menu-item-parent{% endif %}{% if item.current %} site-mobile-navigation-menu-item-active{% endif %}">

                                                <a href="{{ category | page_url }}" class="site-mobile-navigation-menu-item-text">
                                                    {{ category.name }}
                                                </a>

                                            </li>

                                        {% endif %}

                                    {% endfor %}

                                </ul>

                            </div>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            {% endfor %}

        {% endif %}

        {% for item in mobileMenu.links %}

            {% if item.links %}

                {%- assign layerIndex = layerIndex | plus: 1 -%}

                <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ layerIndex }}">

                    <div class="site-mobile-navigation-header">

                        <div class="site-mobile-navigation-header-inner">

                            <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ layerIndex }}">
                                {%- render 'icon', icon: 'regular/arrow-left', class: 'svg-icon-fw' -%}
                            </button>

                            <span class="site-mobile-navigation-header-text">
                                {{ item.title }}
                            </span>

                        </div>

                    </div>

                    <ul class="site-mobile-navigation-menu">

                        {% for item in item.links %}

                            <li class="site-mobile-navigation-menu-item{% if item.links %} site-mobile-navigation-menu-item-parent{% endif %}{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                                {%- if item.url -%}

                                    <a href="{{ item.url }}" target="{{ item.target | default: '_self' }}" class="site-mobile-navigation-menu-item-text">
                                        {{ item.title }}
                                    </a>

                                    {%- if item.links -%}

                                        <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ layerIndex }}-{{ forloop.index }}">
                                            {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}
                                        </button>

                                    {% endif %}

                                {%- else -%}

                                    <span class="site-mobile-navigation-menu-item-text">
                                        {{ item.title }}
                                    </span>

                                    {%- if item.links -%}

                                        <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ layerIndex }}-{{ forloop.index }}">
                                            {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}
                                        </button>

                                    {% endif %}

                                {%- endif -%}

                            </li>

                        {% endfor %}

                    </ul>

                </div>

                {% for item in item.links %}

                    {% if item.links %}

                        <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ layerIndex }}-{{ forloop.index }}">

                            <div class="site-mobile-navigation-header">

                                <div class="site-mobile-navigation-header-inner">

                                    <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ layerIndex }}-{{ forloop.index }}">
                                        {%- render 'icon', icon: 'regular/arrow-left', class: 'svg-icon-fw' -%}
                                    </button>

                                    <span class="site-mobile-navigation-header-text">
                                        {{ item.title }}
                                    </span>

                                </div>

                            </div>

                            <ul class="site-mobile-navigation-menu">

                                {% for item in item.links %}

                                    <li class="site-mobile-navigation-menu-item{% if item.links %} site-mobile-navigation-menu-item-parent{% endif %}{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                                        {%- if item.url -%}

                                            <a href="{{ item.url }}" target="{{ item.target | default: '_self' }}" class="site-mobile-navigation-menu-item-text">
                                                {{ item.title }}
                                            </a>

                                        {%- else -%}

                                            <span class="site-mobile-navigation-menu-item-text">
                                                {{ item.title }}
                                            </span>

                                        {%- endif -%}

                                    </li>

                                {% endfor %}

                            </ul>

                        </div>

                    {% endif %}

                {% endfor %}

            {% endif %}

        {% endfor %}

        <div class="site-mobile-navigation-layer site-mobile-navigation-layer-root">

            {% if store.customer_accounts_enabled %}

                <div class="site-mobile-navigation-account">

                    {% if session.logged_in %}

                        <a href="{{ routes.account_url }}">

                            <div class="site-mobile-navigation-account-inner">

                                <span class="site-mobile-navigation-account-text">
                                    {{ 'account.title' | t }}
                                </span>

                                {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}

                            </div>

                        </a>

                    {% else %}

                        <a href="{{ routes.account_login_url }}">

                            <div class="site-mobile-navigation-account-inner">

                                <span class="site-mobile-navigation-account-text">
                                    {{ 'login.title' | t }}
                                </span>

                                {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}

                            </div>

                        </a>

                    {% endif %}

                </div>

            {% endif %}

            <ul class="site-mobile-navigation-menu">

                {%- assign layerIndex = 0 -%}

                {% if section.settings.addProductCategoriesToMobileNavigation %}

                    {% for category in categories.root %}

                        {% if category.is_visible %}

                            <li class="site-mobile-navigation-menu-item{% if item.current %} site-mobile-navigation-menu-item-active{% endif %}">

                                <a href="{{ category | page_url }}" class="site-mobile-navigation-menu-item-text">
                                    {{ category.name }}
                                </a>

                                {% if category.sub_categories.size > 0 %}

                                    {%- assign layerIndex = layerIndex | plus: 1 -%}

                                    <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ layerIndex }}">
                                        {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}
                                    </button>

                                {% endif %}

                            </li>

                        {% endif %}

                    {% endfor %}

                {% endif %}

                {% for item in mobileMenu.links %}

                    <li class="site-mobile-navigation-menu-item{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                        {%- if item.url -%}

                            <a href="{{ item.url }}" target="{{ item.target | default: '_self' }}" class="site-mobile-navigation-menu-item-text">
                                {{ item.title }}
                            </a>

                            {%- if item.links -%}

                                {%- assign layerIndex = layerIndex | plus: 1 -%}

                                <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ layerIndex }}">
                                    {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}
                                </button>

                            {% endif %}

                        {%- else -%}

                            <span class="site-mobile-navigation-menu-item-text">
                                {{ item.title }}
                            </span>

                            {%- if item.links -%}

                                {%- assign layerIndex = layerIndex | plus: 1 -%}

                                <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ layerIndex }}">
                                    {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}
                                </button>

                            {% endif %}

                        {%- endif -%}

                    </li>

                {% endfor %}

            </ul>

            {% if section.settings.socialMediaIconsStatus %}

                {% render 'social-media-buttons' class: 'site-mobile-navigation-social-media-buttons-container' %}

            {% endif %}

        </div>

    </nav>

    <div class="site-mobile-navigation-overlay"></div>

{%- endcapture -%}

{%- if section.settings.headerLayout == '1' -%}

    {%- assign sectionClasses = 'site-header-layout-1' -%}

    {%- if section.settings.announcementStatus and section.settings.announcementText -%}
        {%- assign sectionClasses = sectionClasses | append: ' has-announcement' -%}
    {%- endif -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}
        {% capture klarnaBanner %} has-klarna-{{ section.settings.announcementKlarnaType }}-banner{% endcapture %}
        {%- assign sectionClasses = sectionClasses | append: klarnaBanner -%}
    {%- endif -%}

    {%- render 'headers/layout-1', section: section, sectionContent: sectionContent, sectionClasses: sectionClasses -%}

{%- elsif section.settings.headerLayout == '2' -%}

    {%- assign sectionClasses = 'site-header-layout-2' -%}

    {%- if section.settings.announcementStatus and section.settings.announcementText -%}
        {%- assign sectionClasses = sectionClasses | append: ' has-announcement' -%}
    {%- endif -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}
        {% capture klarnaBanner %} has-klarna-{{ section.settings.announcementKlarnaType }}-banner{% endcapture %}
        {%- assign sectionClasses = sectionClasses | append: klarnaBanner -%}
    {%- endif -%}

    {%- render 'headers/layout-2', section: section, sectionContent: sectionContent, sectionClasses: sectionClasses -%}

{%- elsif section.settings.headerLayout == '3' -%}

    {%- assign sectionClasses = 'site-header-layout-3' -%}

    {%- if section.settings.announcementStatus and section.settings.announcementText -%}
        {%- assign sectionClasses = sectionClasses | append: ' has-announcement' -%}
    {%- endif -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}
        {% capture klarnaBanner %} has-klarna-{{ section.settings.announcementKlarnaType }}-banner{% endcapture %}
        {%- assign sectionClasses = sectionClasses | append: klarnaBanner -%}
    {%- endif -%}

    {%- render 'headers/layout-3', section: section, sectionContent: sectionContent, sectionClasses: sectionClasses, search: search -%}

{%- elsif section.settings.headerLayout == '4' -%}

    {%- assign sectionClasses = 'site-header-layout-4' -%}

    {%- if section.settings.announcementStatus and section.settings.announcementText -%}
        {%- assign sectionClasses = sectionClasses | append: ' has-announcement' -%}
    {%- endif -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}
        {% capture klarnaBanner %} has-klarna-{{ section.settings.announcementKlarnaType }}-banner{% endcapture %}
        {%- assign sectionClasses = sectionClasses | append: klarnaBanner -%}
    {%- endif -%}

    {%- render 'headers/layout-4', section: section, sectionContent: sectionContent, sectionClasses: sectionClasses -%}

{%- elsif section.settings.headerLayout == '5' -%}

    {%- assign sectionClasses = 'site-header-layout-5' -%}

    {%- if section.settings.announcementStatus and section.settings.announcementText -%}
        {%- assign sectionClasses = sectionClasses | append: ' has-announcement' -%}
    {%- endif -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}
        {% capture klarnaBanner %} has-klarna-{{ section.settings.announcementKlarnaType }}-banner{% endcapture %}
        {%- assign sectionClasses = sectionClasses | append: klarnaBanner -%}
    {%- endif -%}

    {%- render 'headers/layout-5', section: section, sectionContent: sectionContent, sectionClasses: sectionClasses -%}

{%- elsif section.settings.headerLayout == '6' -%}

    {%- assign sectionClasses = 'site-header-layout-6' -%}

    {%- if section.settings.announcementStatus and section.settings.announcementText -%}
        {%- assign sectionClasses = sectionClasses | append: ' has-announcement' -%}
    {%- endif -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}
        {% capture klarnaBanner %} has-klarna-{{ section.settings.announcementKlarnaType }}-banner{% endcapture %}
        {%- assign sectionClasses = sectionClasses | append: klarnaBanner -%}
    {%- endif -%}

    {%- render 'headers/layout-6', section: section, sectionContent: sectionContent, sectionClasses: sectionClasses -%}

{%- elsif section.settings.headerLayout == '7' -%}

    {%- assign sectionClasses = 'site-header-layout-7' -%}

    {%- if section.settings.announcementStatus and section.settings.announcementText -%}
        {%- assign sectionClasses = sectionClasses | append: ' has-announcement' -%}
    {%- endif -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}
        {% capture klarnaBanner %} has-klarna-{{ section.settings.announcementKlarnaType }}-banner{% endcapture %}
        {%- assign sectionClasses = sectionClasses | append: klarnaBanner -%}
    {%- endif -%}

    {%- render 'headers/layout-7', section: section, sectionContent: sectionContent, sectionClasses: sectionClasses -%}

{% endif %}

{% schema %}
{
    "name": {
        "en": "Header",
        "fi": "Ylätunniste"
    },
    "tag": "section",
    "is_creatable": false,
    "is_removable": false,
    "class": "section section-site-header",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Logo",
                                "fi": "Logo"
                            },
                            "settings": [
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Logo",
                                        "fi": "Logo"
                                    }
                                },
                                {
                                    "id": "logoImgSrc",
                                    "type": "image-picker"
                                },
                                {
                                    "id": "logoMaxSize",
                                    "label": {
                                        "en": "Logo size",
                                        "fi": "Logon koko"
                                    },
                                    "type": "range",
                                    "min": 20,
                                    "max": 100,
                                    "step": 1,
                                    "default": 60,
                                    "unit": "%"
                                },
                                {
                                    "id": "headerLayout",
                                    "type": "select",
                                    "label": {
                                        "en": "Logo position",
                                        "fi": "Logon sijainti"
                                    },
                                    "default": "1",
                                    "options": [
                                        {
                                            "value": "1",
                                            "label": {
                                                "en": "Centered at top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "5",
                                            "label": {
                                                "en": "Centered at top + hyphen",
                                                "fi": "Keskellä ylhäällä + väliviiva"
                                            }
                                        },
                                        {
                                            "value": "2",
                                            "label": {
                                                "en": "Top left",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "3",
                                            "label": {
                                                "en": "Top left + search field",
                                                "fi": "Vasemmalla ylhäällä + hakukenttä"
                                            }
                                        },
                                        {
                                            "value": "4",
                                            "label": {
                                                "en": "Left",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "6",
                                            "label": {
                                                "en": "Left + transparent background",
                                                "fi": "Vasemmalla + läpinäkyvä tausta"
                                            }
                                        },
                                        {
                                            "value": "7",
                                            "label": {
                                                "en": "Left + own colors",
                                                "fi": "Vasemmalla + omat värit"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "headerMenuItemColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Link color",
                                        "fi": "Linkin väri"
                                    },
                                    "default": "#000000",
                                    "conditions": [
                                        "headerLayout gte 6",
                                        "headerLayout lte 7"
                                    ]
                                },
                                {
                                    "id": "headerIndicatorColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Indicator color",
                                        "fi": "Osoittimien väri"
                                    },
                                    "default": "#000000",
                                    "conditions": [
                                        "headerLayout gte 6",
                                        "headerLayout lte 7"
                                    ]
                                },
                                {
                                    "id": "headerIconColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Icon color",
                                        "fi": "Kuvakkeen väri"
                                    },
                                    "default": "#000000",
                                    "conditions": [
                                        "headerLayout gte 6",
                                        "headerLayout lte 7"
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Announcement",
                                "fi": "Ilmoitus"
                            },
                            "settings": [
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Announcement",
                                        "fi": "Ilmoitus"
                                    }
                                },
                                {
                                    "id": "announcementStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Show announcement",
                                        "fi": "Näytä ilmoitus"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "announcementVisibility",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Visibility",
                                        "fi": "Näkyvyys"
                                    },
                                    "default": "all",
                                    "options": [
                                        {
                                            "value": "all",
                                            "label": {
                                                "en": "On all pages",
                                                "fi": "Kaikilla sivuilla"
                                            }
                                        },
                                        {
                                            "value": "frontpage",
                                            "label": {
                                                "en": "On frontpage",
                                                "fi": "Etusivulla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "announcementText",
                                    "type": "text",
                                    "label": {
                                        "en": "Text",
                                        "fi": "Teksti"
                                    },
                                    "conditions": ["announcementStatus eq true"]
                                },
                                {
                                    "id": "announcementLink",
                                    "type": "url",
                                    "label": {
                                        "en": "Announcement link",
                                        "fi": "Ilmoituksen linkki"
                                    },
                                    "conditions": ["announcementStatus eq true"]
                                },
                                {
                                    "id": "announcementLinkOpenInNewWindowStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Open link in a new window",
                                        "fi": "Avaa linkki uudessa ikkunassa"
                                    },
                                    "default": false,
                                    "conditions": ["announcementStatus eq true"]
                                },
                                {
                                    "id": "announcementBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Background color",
                                        "fi": "Taustanväri"
                                    },
                                    "default": "#000000",
                                    "conditions": ["announcementStatus eq true"]
                                },
                                {
                                    "id": "announcementTextColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Text color",
                                        "fi": "Tekstin väri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["announcementStatus eq true"]
                                },
                                {
                                    "type": "separator"
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Klarna banner",
                                        "fi": "Klarna banneri"
                                    }
                                },
                                {
                                    "id": "announcementKlarna",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Show banner",
                                        "fi": "Näytä banneri"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "announcementKlarnaType",
                                    "type": "select",
                                    "label": {
                                        "en": "Layout",
                                        "fi": "Asettelu"
                                    },
                                    "default": "top-strip-promotion-standard",
                                    "options": [
                                        {
                                            "value": "top-strip-promotion-standard",
                                            "label": {
                                                "en": "Banner 1",
                                                "fi": "Banneri 1"
                                            }
                                        },
                                        {
                                            "value": "top-strip-promotion-badge",
                                            "label": {
                                                "en": "Banner 2",
                                                "fi": "Banneri 2"
                                            }
                                        }
                                    ],
                                    "conditions": ["announcementKlarna eq true"]
                                },
                                {
                                    "id": "announcementKlarnaDark",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Dark theme",
                                        "fi": "Tumma teema"
                                    },
                                    "default": false,
                                    "conditions": ["announcementKlarna eq true"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Menus",
                                "fi": "Valikot"
                            },
                            "settings": [
                                {
                                    "type": "label",
                                    "label": {
                                        "en": "From here you can select menus. You edit the contents of the menus on the navigation page.",
                                        "fi": "Täältä valitset käytössä olevat valikot. Valikoiden sisältöä muokkaat navigaatio-sivulla."
                                    }
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Menu",
                                        "fi": "Valikko"
                                    }
                                },
                                {
                                    "id": "menu",
                                    "type": "menu",
                                    "label": {
                                        "en": "The current menu",
                                        "fi": "Käytössä oleva valikko"
                                    },
                                    "default": "main"
                                },
                                {
                                    "id": "stickyHeader",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Sticky header",
                                        "fi": "Ylätunniste jää paikoilleen"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "headerMegamenu",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Use megamenu",
                                        "fi": "Käytetään megavalikkoa"
                                    },
                                    "default": true
                                },
                                {
                                    "id": "headerSublevelAsSeparateMenu",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Show sublevel as separate menu",
                                        "fi": "Näytä alataso erillisenä valikkona"
                                    },
                                    "default": false,
                                    "conditions": ["headerMegamenu eq false"]
                                },
                                {
                                    "id": "headerSubmenuIndicator",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Show submenu indicator",
                                        "fi": "Näytetään alavalikon osoitin"
                                    },
                                    "default": false
                                },
                                {
                                    "type": "separator"
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Mobile menu",
                                        "fi": "Valikko mobiilissa"
                                    }
                                },
                                {
                                    "id": "mobileMenu",
                                    "type": "menu",
                                    "label": {
                                        "en": "The current menu",
                                        "fi": "Käytössä oleva valikko"
                                    },
                                    "default": "main"
                                },
                                {
                                    "id": "stickyMobileHeader",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Sticky header",
                                        "fi": "Ylätunniste jää paikoilleen"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "socialMediaIconsStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Show social media icons",
                                        "fi": "Näytä sosiaalisen median kuvakkeet"
                                    },
                                    "default": true
                                },
                                {
                                    "id": "addProductCategoriesToMobileNavigation",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Add categories to menu",
                                        "fi": "Lisää tuoteryhmät valikkoon"
                                    },
                                    "default": false
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": [
                    {
                        "type": "title",
                        "label": {
                            "en": "Color style",
                            "fi": "Värityyli"
                        }
                    },
                    {
                        "id": "sectionStyle",
                        "styles_id": "styles",
                        "type": "style-picker",
                        "default": "general",
                        "info": {
                            "en": "You can edit the color styles in the theme settings",
                            "fi": "Voit muokata värityylejä teeman asetuksista"
                        }
                    }
                ]
            }
        ]
    }
}
{% endschema %}