{%- assign mainMenu = linklists[section.settings.menu] -%}
{%- assign sectionHeight = 'off' -%}

{%- if section.settings.announcementStatus and section.settings.announcementText -%}
    <style>
        #finqu-section-{{ section.id }} .site-announcement {
            background-color: {{ section.settings.announcementBgColor }};
        }

        #finqu-section-{{ section.id }} .site-announcement .site-announcement-text {
            color: {{ section.settings.announcementTextColor }};
        }
    </style>
{%- endif -%}

{%- capture sectionContent -%}

    {%- if section.settings.announcementKlarna and settings.klarnaPlacementsClientId -%}

        {% assign theme = section.settings.announcementKlarnaDark | yepnope: 'dark', 'light' %}
        {% render 'klarna-placement', type:section.settings.announcementKlarnaType theme:theme %}

    {%- endif -%}

    {% if section.settings.announcementStatus and section.settings.announcementText %}

        <div class="site-announcement-container">

            <div class="site-announcement">

                {% if section.settings.announcementLink.url %}

                    <a href="{{- section.settings.announcementLink.url -}}" class="site-announcement-text"{% if section.settings.announcementLinkOpenInNewWindowStatus %} target="_blank"{% endif %}>

                        {{ section.settings.announcementText }}

                    </a>

                {% else %}

                    <span class="site-announcement-text">

                        {{ section.settings.announcementText }}

                    </span>

                {% endif %}

            </div>

        </div>

    {% endif %}

    <div class="site-header-container">

        <div class="site-header">

            <div class="site-header-top">

                <div class="container">

                    <div class="site-header-top-left">

                        <div class="site-header-item-container d-lg-none">

                            <div class="site-header-item">

                                <button type="button" class="site-mobile-navigation-toggle btn btn-text">

                                    {%- render 'icon', icon: 'navigation-menu-gWaHY4', class: 'svg-icon-fw' -%}

                                </button>

                            </div>

                        </div>

                        <div class="site-header-item-container">

                            <div class="site-header-item site-header-item-search">

                                <button type="button" id="site-header-search-toggle" class="btn btn-text">

                                    {%- render 'icon', icon: 'search-jUAwYE', class: 'svg-icon-fw' -%}

                                </button>

                                <div class="site-header-search-container">

                                    <div class="site-header-search">

                                        <div class="site-header-search-form-container">

                                            {% form 'search', id: 'site-header-search-form' %}

                                                <div class="site-header-search-form-icon">

                                                    {%- render 'icon', icon: 'search-jUAwYE', class: 'svg-icon-fw' -%}

                                                </div>

                                                <div class="site-header-search-form-input">

                                                    <input class="form-control me-2" type="search" placeholder="{{ 'general.search_products' | t }}" name="q" value="{{ search.search_term }}">

                                                </div>

                                            {% endform %}

                                        </div>

                                        <div class="site-header-search-results-container">

                                            <div class="site-header-search-results"></div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="site-header-top-logo">

                        <a href="/">

                            {%- assign imgSrc = section.settings.logoImgSrc -%}
                            {%- assign imgSizeSm = '150,50' -%}
                            {%- assign imgSizeLg = '160,100' -%}

                            {% if imgSrc %}

                                <picture>
                                    <source media="(min-width: 997px)" data-srcset="
                                        {{ imgSrc | thumb: imgSizeLg }} 1x,
                                        {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    <source data-srcset="
                                        {{ imgSrc | thumb: imgSizeSm }} 1x,
                                        {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                    <img
                                        alt="{{ item.name }}"
                                        src="{{ imgSrc | thumb: imgSizeSm }}"
                                        class="lazy d-block mx-auto img-fluid">
                                </picture>

                            {% else %}

                                <span class="site-header-top-logo-text">
                                    {{ store.name }}
                                </span>

                            {% endif %}

                        </a>

                    </div>

                    <div class="site-header-top-right">

                        {% if store.customer_accounts_enabled %}

                            {% if session.logged_in %}

                                <div class="site-header-item-container site-header-item-account-container">

                                    <div class="site-header-item site-header-item-account">

                                        <a href="{{ routes.account_url }}" class="btn btn-text">

                                            {%- render 'icon', icon: 'single-neutral-3ziDl0', class: 'svg-icon-fw' -%}

                                        </a>

                                    </div>

                                </div>

                                <div class="site-header-item-container">

                                    <div class="site-header-item site-header-item-wishlist">

                                        <a href="{{ routes.account_wishlist_url }}" class="btn btn-text">

                                            <span class="site-header-item-counter{% if wishlist.products.size > 0 %} has-items{% endif %}">

                                                <span class="site-header-item-counter-text" data-wislist-item-count>
                                                    {{ wishlist.products.size }}
                                                </span>

                                            </span>

                                            {%- render 'icon', icon: 'love-it-08UZOs', class: 'svg-icon-fw' -%}

                                        </a>

                                    </div>

                                </div>

                            {% else %}

                                <div class="site-header-item-container site-header-item-account-container">

                                    <div class="site-header-item site-header-item-account">

                                        <a href="{{ routes.account_login_url }}" class="btn btn-text">

                                            {%- render 'icon', icon: 'single-neutral-3ziDl0', class: 'svg-icon-fw' -%}

                                        </a>

                                    </div>

                                </div>

                            {% endif %}

                        {% endif %}

                        <div class="site-header-item-container site-header-item-cart-container">

                            <div class="site-header-item site-header-item-cart">

                                <a href="{{ routes.cart_url }}" class="btn btn-text">

                                    <span class="site-header-item-counter{% if cart.items.size > 0 %} has-items{% endif %}">

                                        <span class="site-header-item-counter-text" data-cart-item-count>
                                            {{ cart.item_count }}
                                        </span>

                                    </span>

                                    {%- render 'icon', icon: 'shopping-bag-tag-1-7QUX0n', class: 'svg-icon-fw' -%}

                                </a>

                            </div>

                        </div>

                        <div class="site-header-cart-container">

                            <div class="site-header-cart cart-mini" data-cart-mini-container>

                                <div class="cart-header">

                                    {%- render 'icon', icon: 'loading-half-7QUSw4' class: 'svg-spin svg-icon-fill svg-icon-4x' -%}

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <nav class="site-header-bottom">

                <div class="site-header-menu-container">

                    <div class="container">

                        <ul class="site-header-menu">

                            {% for item in mainMenu.links %}

                                <li class="site-header-menu-item{% if item.current %} site-header-menu-item-active{% endif %}"{% if item.links %} data-header-menu-child-id="{{ forloop.index }}"{% endif %}>

                                    {%- if item.url -%}

                                        <a href="{{ item.url }}" class="site-header-menu-item-text text-underline-indicator">
                                            {{ item.title }}
                                        </a>

                                    {%- else -%}

                                        <span class="site-header-menu-item-text text-underline-indicator">
                                            {{ item.title }}
                                        </span>

                                    {%- endif -%}

                                </li>

                            {% endfor %}

                        </ul>

                    </div>

                </div>

                <div class="site-header-submenus-container">

                    {% for item in mainMenu.links %}

                        {%- if item.links -%}

                            <div class="site-header-submenu" data-header-submenu-id="{{ forloop.index }}">

                                <div class="container">

                                    <div class="row">

                                        {% for item in item.links %}

                                            <div class="site-header-submenu-column col">

                                                <div class="site-header-submenu-column-title text-muted">

                                                    {%- if item.url -%}

                                                        <a href="{{ item.url }}" class="site-header-submenu-column-title-text">
                                                            {{ item.title }}
                                                        </a>

                                                    {%- else -%}

                                                        <span class="site-header-submenu-column-title-text">
                                                            {{ item.title }}
                                                        </span>

                                                    {%- endif -%}

                                                </div>

                                                <ul class="site-header-submenu-column-menu">

                                                    {% for item in item.links %}

                                                        <li class="site-header-submenu-column-menu-item{% if item.active %} site-header-submenu-column-menu-item-active{% endif %}">

                                                            {%- if item.url -%}

                                                                <a href="{{ item.url }}" class="site-header-submenu-column-menu-item-text text-underline-indicator">
                                                                    {{ item.title }}
                                                                </a>

                                                            {%- else -%}

                                                                <span class="site-header-submenu-column-menu-item-text text-underline-indicator">
                                                                    {{ item.title }}
                                                                </span>

                                                            {%- endif -%}

                                                        </li>

                                                    {% endfor %}

                                                </ul>

                                            </div>

                                        {% endfor %}

                                    </div>

                                </div>

                            </div>

                        {% endif %}

                    {% endfor %}

                </div>

            </nav>

        </div>

    </div>

    <nav class="site-mobile-navigation-container">

        <div class="site-mobile-navigation-overlay"></div>

        {% for item in mainMenu.links %}

            {%- assign parentIndex = forloop.index -%}

            {% if item.links %}

                <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ forloop.index }}">

                    <div class="site-mobile-navigation-header">

                        <div class="site-mobile-navigation-header-inner">

                            <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ forloop.index }}">
                                {%- render 'icon', icon: 'arrow-left-dzpnnb', class: 'svg-icon-fw' -%}
                            </button>

                            <span class="site-mobile-navigation-header-text">
                                {{ item.title }}
                            </span>

                        </div>

                    </div>

                    <ul class="site-mobile-navigation-menu">

                        {% for item in item.links %}

                            <li class="site-mobile-navigation-menu-item{% if item.links %} site-mobile-navigation-menu-item-parent{% endif %}{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                                {%- if item.url -%}

                                    <a href="{{ item.url }}" class="site-mobile-navigation-menu-item-text">
                                        {{ item.title }}
                                    </a>

                                    {%- if item.links -%}

                                        <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ parentIndex }}-{{ forloop.index }}">
                                            {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                        </button>

                                    {% endif %}

                                {%- else -%}

                                    <span class="site-mobile-navigation-menu-item-text">
                                        {{ item.title }}
                                    </span>

                                    {%- if item.links -%}

                                        <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ parentIndex }}-{{ forloop.index }}">
                                            {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                        </button>

                                    {% endif %}

                                {%- endif -%}

                            </li>

                        {% endfor %}

                    </ul>

                </div>

                {% for item in item.links %}

                    {% if item.links %}

                        <div class="site-mobile-navigation-layer site-mobile-navigation-layer-child" data-mobile-navigation-layer-id="{{ parentIndex }}-{{ forloop.index }}">

                            <div class="site-mobile-navigation-header">

                                <div class="site-mobile-navigation-header-inner">

                                    <button type="button" name="site-mobile-navigation-hide-layer" class="btn btn-text" value="{{ parentIndex }}-{{ forloop.index }}">
                                        {%- render 'icon', icon: 'arrow-left-dzpnnb', class: 'svg-icon-fw' -%}
                                    </button>

                                    <span class="site-mobile-navigation-header-text">
                                        {{ item.title }}
                                    </span>

                                </div>

                            </div>

                            <ul class="site-mobile-navigation-menu">

                                {% for item in item.links %}

                                    <li class="site-mobile-navigation-menu-item{% if item.links %} site-mobile-navigation-menu-item-parent{% endif %}{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                                        {%- if item.url -%}

                                            <a href="{{ item.url }}" class="site-mobile-navigation-menu-item-text">
                                                {{ item.title }}
                                            </a>

                                        {%- else -%}

                                            <span class="site-mobile-navigation-menu-item-text">
                                                {{ item.title }}
                                            </span>

                                        {%- endif -%}

                                    </li>

                                {% endfor %}

                            </ul>

                        </div>

                    {% endif %}

                {% endfor %}

            {% endif %}

        {% endfor %}

        <div class="site-mobile-navigation-layer site-mobile-navigation-layer-root">

            {% if store.customer_accounts_enabled %}

                <div class="site-mobile-navigation-account">

                    {% if session.logged_in %}

                        <a href="{{ routes.account_url }}">

                            <div class="site-mobile-navigation-account-inner">

                                <span class="site-mobile-navigation-account-text">
                                    {{ 'account.title' | t }}
                                </span>

                                {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}

                            </div>

                        </a>

                    {% else %}

                        <a href="{{ routes.account_login_url }}">

                            <div class="site-mobile-navigation-account-inner">

                                <span class="site-mobile-navigation-account-text">
                                    {{ 'login.title' | t }}
                                </span>

                                {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}

                            </div>

                        </a>

                    {% endif %}

                </div>

            {% endif %}

            <ul class="site-mobile-navigation-menu">

                {% for item in mainMenu.links %}

                    <li class="site-mobile-navigation-menu-item{% if item.active %} site-mobile-navigation-menu-item-active{% endif %}">

                        {%- if item.url -%}

                            <a href="{{ item.url }}" class="site-mobile-navigation-menu-item-text">
                                {{ item.title }}
                            </a>

                            {%- if item.links -%}

                                <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ forloop.index }}">
                                    {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                </button>

                            {% endif %}

                        {%- else -%}

                            <span class="site-mobile-navigation-menu-item-text">
                                {{ item.title }}
                            </span>

                            {%- if item.links -%}

                                <button type="button" name="site-mobile-navigation-show-layer" class="btn btn-text" value="{{ forloop.index }}">
                                    {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
                                </button>

                            {% endif %}

                        {%- endif -%}

                    </li>

                {% endfor %}

            </ul>

            {%- capture hasSocialMediaIcons -%}
                {{ settings.facebookPageUrl | yepnope: 'true', 'false' }},
                {{ settings.instagramPageUrl | yepnope: 'true', 'false' }},
                {{ settings.twitterPageUrl | yepnope: 'true', 'false' }},
                {{ settings.pinterestPageUrl | yepnope: 'true', 'false' }},
                {{ settings.youtubePageUrl | yepnope: 'true', 'false' }}
            {%- endcapture -%}

            {% if section.settings.socialMediaIconsStatus and hasSocialMediaIcons contains 'true' %}

                <div class="site-mobile-navigation-social-media-buttons-container">

                    {% if settings.facebookPageUrl %}

                        <div class="site-mobile-navigation-social-media-btn">

                            {% render 'social-media-button', type: 'facebook', url: settings.facebookPageUrl, style: 'minimal' %}

                        </div>

                    {% endif %}

                    {% if settings.instagramPageUrl %}

                        <div class="site-mobile-navigation-social-media-btn">

                            {% render 'social-media-button', type: 'instagram', url: settings.instagramPageUrl, style: 'minimal' %}

                        </div>

                    {% endif %}

                    {% if settings.twitterPageUrl %}

                        <div class="site-mobile-navigation-social-media-btn">

                            {% render 'social-media-button', type: 'twitter', url: settings.twitterPageUrl, style: 'minimal' %}

                        </div>

                    {% endif %}

                    {% if settings.pinterestPageUrl %}

                        <div class="site-mobile-navigation-social-media-btn">

                            {% render 'social-media-button', type: 'pinterest', url: settings.pinterestPageUrl, style: 'minimal' %}

                        </div>

                    {% endif %}

                    {% if settings.youtubePageUrl %}

                        <div class="site-mobile-navigation-social-media-btn">

                            {% render 'social-media-button', type: 'youtube', url: settings.youtubePageUrl, style: 'minimal' %}

                        </div>

                    {% endif %}

                </div>

            {% endif %}

        </div>

    </nav>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionHeight: sectionHeight, sectionContentContainer: 'none' %}

{% schema %}
{
    "name": {
        "en": "Header",
        "fi": "Ylätunniste"
    },
    "tag": "section",
    "is_creatable": false,
    "is_removable": false,
    "class": "section section-site-header",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "menu",
                        "type": "menu",
                        "label": {
                            "en": "Menu",
                            "fi": "Navigaatio"
                        },
                        "default": "main"
                    },
                    {
                        "id": "logoImgSrc",
                        "type": "image-picker",
                        "label": {
                            "en": "Logo",
                            "fi": "Logo"
                        }
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Mobile navigation",
                            "fi": "Mobiilinavigointi"
                        }
                    },
                    {
                        "id": "socialMediaIconsStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show Social media icons",
                            "fi": "Sosiaalisen median kuvakkeet"
                        },
                        "default": true
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Announcement",
                            "fi": "Ilmoitus"
                        }
                    },
                    {
                        "id": "announcementStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show",
                            "fi": "Näytä"
                        },
                        "default": false
                    },
                    {
                        "id": "announcementBgColor",
                        "type": "color",
                        "label": {
                            "en": "Background color",
                            "fi": "Taustanväri"
                        },
                        "default": "#000000",
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementTextColor",
                        "type": "color",
                        "label": {
                            "en": "Text color",
                            "fi": "Tekstin väri"
                        },
                        "default": "#ffffff",
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementText",
                        "type": "text",
                        "label": {
                            "en": "Text",
                            "fi": "Teksti"
                        },
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementLink",
                        "type": "url",
                        "label": {
                            "en": "Announcement link",
                            "fi": "Ilmoituksen linkki"
                        },
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "id": "announcementLinkOpenInNewWindowStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Open link in a new window",
                            "fi": "Avaa linkki uudessa ikkunassa"
                        },
                        "default": true,
                        "conditions": ["announcementStatus eq true"]
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Klarna",
                            "fi": "Klarna"
                        }
                    },
                    {
                        "id": "announcementKlarna",
                        "type": "checkbox",
                        "label": {
                            "en": "Show banner",
                            "fi": "Näytä banneri"
                        },
                        "default": false
                    },
                    {
                        "id": "announcementKlarnaType",
                        "type": "select",
                        "label": {
                            "en": "Layout",
                            "fi": "Asettelu"
                        },
                        "default": "top-strip-promotion-standard",
                        "options": [
                            {
                                "value": "top-strip-promotion-standard",
                                "label": {
                                    "en": "Banner 1",
                                    "fi": "Banneri 1"
                                }
                            },
                            {
                                "value": "top-strip-promotion-badge",
                                "label": {
                                    "en": "Banner 2",
                                    "fi": "Banneri 2"
                                }
                            },
                            {
                                "value": "top-strip-promotion-auto-size",
                                "label": {
                                    "en": "Banner 3",
                                    "fi": "Banneri 3"
                                }
                            }
                        ],
                        "conditions": ["announcementKlarna eq true"]
                    },
                    {
                        "id": "announcementKlarnaDark",
                        "type": "checkbox",
                        "label": {
                            "en": "Dark theme",
                            "fi": "Tumma teema"
                        },
                        "default": false,
                        "conditions": ["announcementKlarna eq true"]
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": [
                    {
                        "type": "title",
                        "label": {
                            "en": "Colors",
                            "fi": "Värit"
                        }
                    },
                    {
                        "id": "sectionStyle",
                        "styles_id": "styles",
                        "type": "style-picker",
                        "default": "general"
                    }
                ]
            }
        ]
    }
}
{% endschema %}