{%- capture preset1 -%}

	<div class="cart-mini" data-cart-mini-container>

        <div class="cart-header">

            {%- render 'icon', icon: 'loading-half-7QUSw4' class: 'svg-spin svg-icon-fill svg-icon-4x' -%}

        </div>

	</div>


    <div class="site-header-container">

        <div class="site-header">

            <div class="site-header-top">

                <div class="site-header-left">

                    <div class="site-header-icon-container">

                        <div class="site-header-icon">

                            <button type="button" id="mobile-menu-toggle" class="btn btn-text">

                                {%- render 'icon', icon: 'navigation-menu-gWaHY4' -%}

                            </a>

                        </div>

                    </div>

                    <div class="site-header-icon-container">

                        <div class="site-header-icon">

                            <button type="button" id="search-toggle" class="btn btn-text">

                                {%- render 'icon', icon: 'search-1-jUAiDQ' -%}

                            </a>

                        </div>

                    </div>

                </div>

                <div class="site-header-logo">

                    <a href="/">

                        {%- assign imgSrc = item.image | default: section.settings.logoImgSrc -%}
                        {%- assign imgSize = 120,30 -%}

                        {% if imgSrc %}

                            <picture>
                                <img
                                    alt="{{ item.name }}"
                                    data-src="{{ imgSrc | thumb: imgSize }}"
                                    data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb:'@2x' }} 2x"
                                    class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                            </picture>

                        {% else %}

                            <span class="site-header-logo-text">
                                {{ store.name }}
                            </span>

                        {% endif %}

                    </a>

                </div>

                <div class="site-header-right">

                    {% if store.customer_accounts_enabled %}

                        <div class="site-header-icon-container">

                            <div class="site-header-icon">

                                <a href="{{ routes.account_url }}" class="btn btn-text">

                                    {%- render 'icon', icon: 'single-neutral-3ziDl0' -%}

                                </a>

                            </div>

                        </div>

                        {% if store.session.logged_in %}

                            <div class="site-header-icon-container">

                                <div class="site-header-icon">

                                    <a href="{{ routes.account_wishlist_url }}" class="btn btn-text">

                                        {%- render 'icon', icon: 'love-it-08UZOs' -%}

                                    </a>

                                </div>

                            </div>

                        {% endif %}

                    {% endif %}

                    <div class="site-header-icon-container">

                        <div class="site-header-icon">

                            <a href="{{ routes.cart_url }}" class="btn btn-text">

                                {%- render 'icon', icon: 'shopping-bag-tag-1-7QUX0n' -%}

                            </a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="site-header-bottom">

            </div>

        </div>

    </div>

	{% for link in section.settings.menu.links %}

		{%- if link.url == blank -%}


			{% for link in section.settings.menu.links %}

				<a href="{{ link.url }}">
					{{ link.title }}
				</a>

			{% endfor %}



		{%- else -%}



		{%- endif -%}


	{% endfor %}

{%- endcapture -%}

{%- capture sectionContent -%}

	{%- if section.settings.preset == '1' -%}

		{{- preset1 -}}

	{%- endif -%}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle %}

{% schema %}
{
    "name": "Header",
    "tag": "section",
    "is_creatable": false,
    "is_removable": false,
    "class": "section section-site-header",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": "General",
                "settings": [
                    {
                        "id": "preset",
                        "type": "select",
                        "label": "Preset",
                        "default": "1",
                        "options": [
                            {
                                "value": "1",
                                "label": "Preset 1"
                            }
                        ]
                    },
                    {
                        "id": "menu",
                        "type": "menu",
                        "label": "Menu",
                        "default": "footer-menu"
                    }
                ]
            },
            {
                "title": "Section",
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": "Layout",
                            "settings": [
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": "Section height",
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": "Section inner spacing",
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentSpacing",
                                    "type": "radio-pill",
                                    "label": "Content spacing",
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": "Background",
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": "Image"
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": "Position",
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "left-top",
                                            "label": "Left Top"
                                        },
                                        {
                                            "value": "left-center",
                                            "label": "Left Center"
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": "Left Bottom"
                                        },
                                        {
                                            "value": "right-top",
                                            "label": "Right Top"
                                        },
                                        {
                                            "value": "right-center",
                                            "label": "Right Center"
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": "Right Bottom"
                                        },
                                        {
                                            "value": "center-top",
                                            "label": "Center Top"
                                        },
                                        {
                                            "value": "center-center",
                                            "label": "Center Center"
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": "Center Bottom"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": "Overlay",
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": 0,
                                    "unit": "%"
                                }
                            ]
                        },
                        {
                            "title": "Colors",
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}
{% endschema %}