{%- assign sectionHeight = 'off' -%}

{%- if section.settings.annoucementStatus and section.settings.annoucementText -%}
    <style>
        #finqu-section-{{ section.id }} .site-annoucement {
            background-color: {{ section.settings.annoucementBgColor }};
            color: {{ section.settings.annoucementTextColor }};
        }
    </style>
{%- endif -%}

{%- capture preset1 -%}

    {% if section.settings.annoucementStatus and section.settings.annoucementText %}

        <div class="site-annoucement-container">

            <div class="site-annoucement">

                <span class="site-annoucement-text">

                    {{ section.settings.annoucementText }}

                </span>

            </div>

        </div>

    {% endif %}

    <div class="site-header-container">

        <div class="site-header">

            <div class="container">

                <div class="site-header-top">

                    <div class="site-header-top-left">

                        <div class="site-header-item-container">

                            <div class="site-header-item site-header-item-mobile-menu-toggle">

                                <button type="button" id="mobile-menu-toggle" class="btn btn-text">

                                    {%- render 'icon', icon: 'navigation-menu-gWaHY4', class: 'svg-icon-fw' -%}

                                </button>

                            </div>

                        </div>

                        <div class="site-header-item-container">

                            <div class="site-header-item site-header-item-search">

                                <button type="button" id="search-toggle" class="btn btn-text">

                                    {%- render 'icon', icon: 'search-jUAwYE', class: 'svg-icon-fw' -%}

                                </button>

                            </div>

                        </div>

                    </div>

                    <div class="site-header-top-logo">

                        <a href="/">

                            {%- assign imgSrc = item.image | default: section.settings.logoImgSrc -%}
                            {%- assign imgSize = 120,30 -%}

                            {% if imgSrc %}

                                <picture>
                                    <img
                                        alt="{{ item.name }}"
                                        data-src="{{ imgSrc | thumb: imgSize }}"
                                        data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb:'@2x' }} 2x"
                                        class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                                </picture>

                            {% else %}

                                <span class="site-header-top-logo-text">
                                    {{ store.name }}
                                </span>

                            {% endif %}

                        </a>

                    </div>

                    <div class="site-header-top-right">

                        {% if store.customer_accounts_enabled %}

                            <div class="site-header-item-container">

                                <div class="site-header-item site-header-item-account">

                                    <a href="{{ routes.account_url }}" class="btn btn-text">

                                        {%- render 'icon', icon: 'single-neutral-3ziDl0', class: 'svg-icon-fw' -%}

                                    </a>

                                </div>

                            </div>

                            {% if store.session.logged_in %}

                                <div class="site-header-item-container">

                                    <div class="site-header-item site-header-item-wishlist">

                                        <a href="{{ routes.account_wishlist_url }}" class="btn btn-text">

                                            <span class="site-header-item-counter{% if store.wishlist.products.size > 0 %} has-items{% endif %}">

                                                <span class="site-header-item-counter-text" data-wislist-item-count>
                                                    {{ store.wishlist.products.size }}
                                                </span>

                                            </span>

                                            {%- render 'icon', icon: 'love-it-08UZOs', class: 'svg-icon-fw' -%}

                                        </a>

                                    </div>

                                </div>

                            {% endif %}

                        {% endif %}

                        <div class="site-header-item-container">

                            <div class="site-header-item site-header-item-cart">

                                <a href="{{ routes.cart_url }}" class="btn btn-text">

                                    <span class="site-header-item-counter{% if cart.items.size > 0 %} has-items{% endif %}">

                                        <span class="site-header-item-counter-text" data-cart-item-count>
                                            {{ cart.item_count }}
                                        </span>

                                    </span>

                                    {%- render 'icon', icon: 'shopping-bag-tag-1-7QUX0n', class: 'svg-icon-fw' -%}

                                </a>

                            </div>

                        </div>

                        <div class="site-header-cart-container">

                            <div class="site-header-cart cart-mini" data-cart-mini-container>

                                <div class="cart-header">

                                    {%- render 'icon', icon: 'loading-half-7QUSw4' class: 'svg-spin svg-icon-fill svg-icon-4x' -%}

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="site-header-bottom">

                </div>

            </div>

        </div>

    </div>

{%- endcapture -%}

{%- capture sectionContent -%}

	{%- if section.settings.preset == '1' -%}

		{{- preset1 -}}

	{%- endif -%}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionHeight: sectionHeight, sectionContentContainer: 'none' %}

{% schema %}
{
    "name": "Header",
    "tag": "section",
    "is_creatable": false,
    "is_removable": false,
    "class": "section section-site-header",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": "General",
                "settings": [
                    {
                        "id": "preset",
                        "type": "select",
                        "label": "Preset",
                        "default": "1",
                        "options": [
                            {
                                "value": "1",
                                "label": "Preset 1"
                            }
                        ]
                    },
                    {
                        "id": "menu",
                        "type": "menu",
                        "label": {
                            "en": "Menu",
                            "fi": "Navigaatio"
                        },
                        "default": "footer-menu"
                    },
                    {
                        "type": "spacer"
                    },
                    {
                        "type": "title",
                        "label": {
                            "en": "Annoucement",
                            "fi": "Ilmoitus"
                        }
                    },
                    {
                        "id": "annoucementStatus",
                        "type": "checkbox",
                        "label": {
                            "en": "Show",
                            "fi": "Näytä"
                        },
                        "default": false
                    },
                    {
                        "id": "annoucementBgColor",
                        "type": "color",
                        "label": {
                            "en": "Background color",
                            "fi": "Taustanväri"
                        },
                        "default": "#000000"
                    },
                    {
                        "id": "annoucementTextColor",
                        "type": "color",
                        "label": {
                            "en": "Text color",
                            "fi": "Tekstin väri"
                        },
                        "default": "#ffffff"
                    },
                    {
                        "id": "annoucementText",
                        "type": "text",
                        "label": {
                            "en": "Text",
                            "fi": "Teksti"
                        }
                    }
                ]
            },
            {
                "title": "Section",
                "settings": [
                    {
                        "type": "title",
                        "label": {
                            "en": "Colors",
                            "fi": "Värit"
                        }
                    },
                    {
                        "id": "sectionStyle",
                        "styles_id": "styles",
                        "type": "style-picker",
                        "default": "general"
                    }
                ]
            }
        ]
    }
}
{% endschema %}