{%- assign colsArr = section.settings.contentColumnArrangement | split: ',' -%}
{%- assign leftColSize = colsArr[0] -%}
{%- assign rightColSize = colsArr[1] -%}
{%- assign contentImgSide = section.settings.contentImgSide -%}

{%- capture imgColContent -%}

    {%- assign imgSrc = section.settings.contentImgSrc -%}
    {%- assign imgSizeSm = '374,374' -%}
    {%- assign imgSizeMd = '320,320' -%}

    {% if contentImgSide == 'left' %}

        {%- case leftColSize -%}
            {% when 6 %}
                {%- assign imgSizeLg = '630,630' -%}
            {% when 4 %}
                {%- assign imgSizeLg = '407,407' -%}
            {% when 8 %}
                {%- assign imgSizeLg = '854,854' -%}
            {% when 5 %}
                {%- assign imgSizeLg = '519,519' -%}
            {% when 7 %}
                {%- assign imgSizeLg = '742,742' -%}
            {% when 3 %}
                {%- assign imgSizeLg = '295,295' -%}
            {% when 9 %}
                {%- assign imgSizeLg = '965,965' -%}
        {%- endcase -%}

    {% else %}

        {%- case rightColSize -%}
            {% when 6 %}
                {%- assign imgSizeLg = '630,630' -%}
            {% when 4 %}
                {%- assign imgSizeLg = '407,407' -%}
            {% when 8 %}
                {%- assign imgSizeLg = '854,854' -%}
            {% when 5 %}
                {%- assign imgSizeLg = '519,519' -%}
            {% when 7 %}
                {%- assign imgSizeLg = '742,742' -%}
            {% when 3 %}
                {%- assign imgSizeLg = '295,295' -%}
            {% when 9 %}
                {%- assign imgSizeLg = '965,965' -%}
        {%- endcase -%}

    {% endif %}

    {% if imgSrc %}

        <picture>
            <source media="(min-width: 992px)" data-srcset="
                {{ imgSrc | thumb: imgSizeLg }} 1x,
                {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

            <source media="(min-width: 753px)" data-srcset="
                {{ imgSrc | thumb: imgSizeLg }} 1x,
                {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

            <source data-srcset="
                {{ imgSrc | thumb: imgSizeSm }} 1x,
                {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

            <img
                alt="{{ section.settings.contentImgAlt }}"
                data-src="{{ imgSrc | thumb: imgSizeSm }}"
                data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x,{{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                class="lazy d-block mx-auto img-fluid {% if section.settings.contentImgEffect != 'none' %} {{ section.settings.contentImgEffect }}{% endif %}"
                data-finqu-inline-editor="contentImgSrc">
        </picture>

    {% elsif request.design_mode %}

        <div data-finqu-inline-editor="contentImgSrc">

            {% render 'placeholder-svg', type: 'image', height: '400px' %}

        </div>

    {% endif %}

{%- endcapture -%}

{%- capture imgColContentWithAspectRatio -%}

    {%- assign imgSrc = section.settings.contentImgSrc -%}

    {% if section.settings.contentImgAspectRatio == '16:9' %}

        {%- assign imgSizeSm = '374,211' -%}
        {%- assign imgSizeMd = '320,180' -%}

        {% if contentImgSide == 'left' %}

            {%- case leftColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,355' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,229' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,480' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,292' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,418' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,166' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,543' -%}
            {%- endcase -%}

        {% else %}

            {%- case rightColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,910' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,588' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,1233' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,749' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,1072' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,427' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,1394' -%}
            {%- endcase -%}

        {% endif %}

    {% elsif section.settings.contentImgAspectRatio == '9:13' %}

        {%- assign imgSizeSm = '374,541' -%}
        {%- assign imgSizeMd = '320,463' -%}

        {% if contentImgSide == 'left' %}

            {%- case leftColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,910' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,588' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,1233' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,749' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,1072' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,427' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,1394' -%}
            {%- endcase -%}

        {% else %}

            {%- case rightColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,910' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,588' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,1233' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,749' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,1072' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,427' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,1394' -%}
            {%- endcase -%}

        {% endif %}

    {% elsif section.settings.contentImgAspectRatio == '4:3' %}

        {%- assign imgSizeSm = '374,281' -%}
        {%- assign imgSizeMd = '320,240' -%}

        {% if contentImgSide == 'left' %}

            {%- case leftColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,473' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,305' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,640' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,389' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,557' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,222' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,724' -%}
            {%- endcase -%}

        {% else %}

            {%- case rightColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,473' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,305' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,640' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,389' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,557' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,222' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,724' -%}
            {%- endcase -%}

        {% endif %}

    {% elsif section.settings.contentImgAspectRatio == '1:1' %}

        {%- assign imgSizeSm = '374,374' -%}
        {%- assign imgSizeMd = '320,320' -%}

        {% if contentImgSide == 'left' %}

            {%- case leftColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,630' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,407' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,854' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,519' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,742' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,295' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,965' -%}
            {%- endcase -%}

        {% else %}

            {%- case rightColSize -%}
                {% when 6 %}
                    {%- assign imgSizeLg = '630,630' -%}
                {% when 4 %}
                    {%- assign imgSizeLg = '407,407' -%}
                {% when 8 %}
                    {%- assign imgSizeLg = '854,854' -%}
                {% when 5 %}
                    {%- assign imgSizeLg = '519,519' -%}
                {% when 7 %}
                    {%- assign imgSizeLg = '742,742' -%}
                {% when 3 %}
                    {%- assign imgSizeLg = '295,295' -%}
                {% when 9 %}
                    {%- assign imgSizeLg = '965,965' -%}
            {%- endcase -%}

        {% endif %}

    {% endif %}

    <div class="aspect-ratio-{{ section.settings.contentImgAspectRatio | replace: ':', '-' }}">

        {% if imgSrc %}

            <div class="aspect-ratio-container">

                <picture>
                    <source media="(min-width: 992px)" data-srcset="
                        {{ imgSrc | thumb: imgSizeLg }} 1x,
                        {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                    <source media="(min-width: 753px)" data-srcset="
                        {{ imgSrc | thumb: imgSizeLg }} 1x,
                        {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                    <source data-srcset="
                        {{ imgSrc | thumb: imgSizeSm }} 1x,
                        {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                    <img
                        alt="{{ section.settings.contentImgAlt }}"
                        data-src="{{ imgSrc | thumb: imgSizeSm }}"
                        data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x,{{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                        class="lazy aspect-ratio-item {% if section.settings.contentImgFit %}aspect-ratio-item-cover{% else %}aspect-ratio-item-contain{% endif %}{% if section.settings.contentImgEffect != 'none' %} {{ section.settings.contentImgEffect }}{% endif %}"
                        data-finqu-inline-editor="contentImgSrc">
                </picture>

            </div>

        {% elsif request.design_mode %}

            <div class="aspect-ratio-container" data-finqu-inline-editor="contentImgSrc">

                {%- capture class -%}
                    aspect-ratio-item{% if section.settings.contentImgEffect != 'none' %} {{ section.settings.contentImgEffect }}{% endif %}
                {%- endcapture -%}

                {% render 'placeholder-svg', type: 'image', class: class %}

            </div>

        {% endif %}

    </div>

{%- endcapture -%}

{%- capture textColContent -%}

    <div data-finqu-inline-editor="contentRichtextHtml">{{ section.settings.contentRichtextHtml }}</div>

    {% if section.settings.contentBtnLabel %}

        {% if section.settings.contentBtnStyle == 'btn1' %}

            <a href="{{- section.settings.contentBtnResource.url -}}" class="btn btn-section mt-3">
                {{- section.settings.contentBtnLabel -}}
            </a>

        {% elsif section.settings.contentBtnStyle == 'btn2' %}

            <a href="{{- section.settings.contentBtnResource.url -}}" class="btn btn-outline-section mt-3">
                {{- section.settings.contentBtnLabel -}}
            </a>

        {% else %}

            <a href="{{- section.settings.contentBtnResource.url -}}" class="btn btn-link text-underline-indicator font-weight-bold mt-3">

                <span class="mr-2">
                    {{- section.settings.contentBtnLabel -}}
                </span>

                {%- render 'icon', icon: 'regular/arrow-right', class: 'svg-icon-fw' -%}
            </a>

        {% endif %}

    {% endif %}

{%- endcapture -%}

{%- capture sectionContent -%}

    {%- case section.settings.contentImgAlign -%}
        {% when 'top' %}
            {%- assign imgAlign = 'align-self-start' -%}
        {% when 'middle' %}
            {%- assign imgAlign = 'align-self-center' -%}
        {% when 'bottom' %}
            {%- assign imgAlign = 'align-self-end' -%}
    {%- endcase -%}

    {%- case section.settings.contentRichtextAlign -%}
        {% when 'top' %}
            {%- assign textAlign = 'align-self-start' -%}
        {% when 'middle' %}
            {%- assign textAlign = 'align-self-center' -%}
        {% when 'bottom' %}
            {%- assign textAlign = 'align-self-end' -%}
    {%- endcase -%}

    <div class="row">

        {%- if section.settings.contentImgSide == 'left' -%}

            <div class="col-12 col-md-6 col-lg-{{ leftColSize }} {{ imgAlign }}">

                {% if section.settings.contentImgAspectRatio != 'off' %}
                    {{ imgColContentWithAspectRatio }}
                {% else %}
                    {{- imgColContent -}}
                {% endif %}

            </div>

            <div class="col-12 pt-5 pt-md-0 col-md-6 col-lg-{{ rightColSize }} {{ textAlign }}">
                {{- textColContent -}}
            </div>

        {%- else -%}

            <div class="col-12 pt-5 pt-md-0 col-md-6 col-lg-{{ leftColSize }} {{ textAlign }} order-2 order-md-1">
                {{- textColContent -}}
            </div>

            <div class="col-12 col-md-6 col-lg-{{ rightColSize }} {{ imgAlign }} order-1 order-md-2">

                {% if section.settings.contentImgAspectRatio != 'off' %}
                    {{ imgColContentWithAspectRatio }}
                {% else %}
                    {{- imgColContent -}}
                {% endif %}

            </div>

        {%- endif -%}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent %}

{% schema %}
{
    "name": {
        "en": "Image and text",
        "fi": "Kuva ja teksti"
    },
    "tag": "section",
    "class": "section section-image-text has-lazy",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "contentColumnArrangement",
                        "type": "select",
                        "label": {
                            "en": "Column arrangement",
                            "fi": "Sarakejärjestely"
                        },
                        "default": "6,6",
                        "options": [
                            {
                                "value": "6,6",
                                "label": "6 | 6"
                            },
                            {
                                "value": "4,8",
                                "label": "4 | 8"
                            },
                            {
                                "value": "8,4",
                                "label": "8 | 4"
                            },
                            {
                                "value": "5,7",
                                "label": "5 | 7"
                            },
                            {
                                "value": "7,5",
                                "label": "7 | 5"
                            },
                            {
                                "value": "3,9",
                                "label": "3 | 9"
                            },
                            {
                                "value": "9,3",
                                "label": "9 | 3"
                            }
                        ]
                    },
                    {
                        "id": "contentImgSide",
                        "type": "radio-pill",
                        "label": {
                            "en": "Image side",
                            "fi": "Kuvan puoli"
                        },
                        "default": "left",
                        "options": [
                            {
                                "value": "left",
                                "label": "{# icon.alignLeftLight #}"
                            },
                            {
                                "value": "right",
                                "label": "{# icon.alignRightLight #}"
                            }
                        ]
                    },
                    {
                        "id": "contentImgAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Image align",
                            "fi": "Kuvan tasaus"
                        },
                        "default": "middle",
                        "options": [
                            {
                                "value": "top",
                                "label": "{# icon.alignTopLight #}"
                            },
                            {
                                "value": "middle",
                                "label": "{# icon.alignMiddleLight #}"
                            },
                            {
                                "value": "bottom",
                                "label": "{# icon.alignBottomLight #}"
                            }
                        ]
                    },
                    {
                        "id": "contentImgAlt",
                        "type": "text",
                        "label": {
                            "en": "Image alt",
                            "fi": "Kuvan alt-teksti"
                        }
                    },
                    {
                        "id": "contentImgEffect",
                        "type": "select",
                        "label": {
                            "en": "Image effect",
                            "fi": "Kuvan effekti"
                        },
                        "default": "none",
                        "options": [
                            {
                                "value": "none",
                                "label": {
                                    "en": "None",
                                    "fi": "Ei mitään"
                                }
                            },
                            {
                                "value": "rounded",
                                "label": {
                                    "en": "Rounded",
                                    "fi": "Pyöristetty"
                                }
                            },
                            {
                                "value": "rounded-circle",
                                "label": {
                                    "en": "Circle",
                                    "fi": "Ympyrä"
                                }
                            }
                        ]
                    },
                    {
                        "id": "contentImgAspectRatio",
                        "type": "select",
                        "label": {
                            "en": "Aspect ratio",
                            "fi": "Kuvasuhde"
                        },
                        "default": "1:1",
                        "options": [
                            {
                                "value": "off",
                                "label": {
                                    "en": "Original",
                                    "fi": "Alkuperäinen"
                                }
                            },
                            {
                                "value": "16:9",
                                "label": "16:9"
                            },
                            {
                                "value": "9:13",
                                "label": "9:13"
                            },
                            {
                                "value": "4:3",
                                "label": "4:3"
                            },
                            {
                                "value": "1:1",
                                "label": "1:1"
                            }
                        ]
                    },
                    {
                        "id": "contentImgFit",
                        "type": "checkbox",
                        "label": {
                            "en": "Image area fill",
                            "fi": "Kuva-alueen täyttö"
                        },
                        "default": false,
                        "conditions": ["!contentImgAspectRatio eq off"]
                    },
                    {
                        "id": "contentRichtextAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Text align",
                            "fi": "Tekstin tasaus"
                        },
                        "default": "middle",
                        "options": [
                            {
                                "value": "top",
                                "label": "{# icon.alignTopLight #}"
                            },
                            {
                                "value": "middle",
                                "label": "{# icon.alignMiddleLight #}"
                            },
                            {
                                "value": "bottom",
                                "label": "{# icon.alignBottomLight #}"
                            }
                        ]
                    },
                    {
                        "id": "contentBtnLabel",
                        "type": "text",
                        "label": {
                            "en": "Button label",
                            "fi": "Napin teksti"
                        }
                    },
                    {
                        "id": "contentBtnResource",
                        "type": "url",
                        "label": {
                            "en": "Button link",
                            "fi": "Napin linkki"
                        }
                    },
                    {
                        "id": "contentBtnStyle",
                        "type": "radio-pill",
                        "label": {
                            "en": "Button style",
                            "fi": "Napin tyyli"
                        },
                        "default": "btn1",
                        "options": [
                            {
                                "value": "btn1",
                                "label": {
                                    "en": "Button 1",
                                    "fi": "Nappi 1"
                                }
                            },
                            {
                                "value": "btn2",
                                "label": {
                                    "en": "Button 2",
                                    "fi": "Nappi 2"
                                }
                            },
                            {
                                "value": "link",
                                "label": {
                                    "en": "Link",
                                    "fi": "Linkki"
                                }
                            }
                        ]
                    },
                    {
                        "id": "contentImgSrc",
                        "type": "image-picker",
                        "inline": "true"
                    },
                    {
                        "id": "contentRichtextHtml",
                        "type": "richtext",
                        "inline": "true"
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Color style",
                                "fi": "Värityyli"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general",
                                    "info": {
                                        "en": "You can edit the color styles in the theme settings",
                                        "fi": "Voit muokata värityylejä teeman asetuksista"
                                    }
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Background",
                                "fi": "Tausta"
                            },
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Image",
                                        "fi": "Kuva"
                                    }
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": {
                                        "en": "Image position",
                                        "fi": "Kuvan sijainti"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "left-top",
                                            "label": {
                                                "en": "Left Top",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "left-center",
                                            "label": {
                                                "en": "Left Center",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": {
                                                "en": "Left Bottom",
                                                "fi": "Vasemmalla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "right-top",
                                            "label": {
                                                "en": "Right Top",
                                                "fi": "Oikealla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "right-center",
                                            "label": {
                                                "en": "Right Center",
                                                "fi": "Oikealla"
                                            }
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": {
                                                "en": "Right Bottom",
                                                "fi": "Oikealla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "center-top",
                                            "label": {
                                                "en": "Center Top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "center-center",
                                            "label": {
                                                "en": "Center Center",
                                                "fi": "Keskellä"
                                            }
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": {
                                                "en": "Center Bottom",
                                                "fi": "Keskellä alhaalla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Blur",
                                        "fi": "Taustan sumeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " "
                                },
                                {
                                    "id": "sectionContentBgColorStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Enable content background",
                                        "fi": "Näytä sisällön tausta"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "sectionContentBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Content background color",
                                        "fi": "Sisällön taustaväri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["sectionContentBgColorStatus:truthy eq true"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Settings",
                                "fi": "Asetukset"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        },
                                        {
                                            "value": "custom",
                                            "label": "{# icon.pencilRegular #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeightCustomTop",
                                    "label": {
                                        "en": "Top height",
                                        "fi": "Yläosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionHeightCustomBottom",
                                    "label": {
                                        "en": "Bottom height",
                                        "fi": "Alaosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Inner spacing",
                                        "fi": "Sisäinen tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content spacing",
                                        "fi": "Sisällön tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentWidth",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content width",
                                        "fi": "Sisällön leveys"
                                    },
                                    "default": "12",
                                    "options": [
                                        {
                                            "value": "6",
                                            "label": "50 %"
                                        },
                                        {
                                            "value": "9",
                                            "label": "75 %"
                                        },
                                        {
                                            "value": "12",
                                            "label": "100 %"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content alignment",
                                        "fi": "Sisällön ryhmittyminen"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-text",
            "settings": {
                "contentColumnArrangement": "6,6",
                "contentImgSide": "left",
                "contentImgAlign": "middle",
                "contentImgAlt": null,
                "contentImgEffect": "none",
                "contentImgAspectRatio": "1:1",
                "contentImgFit": false,
                "contentRichtextAlign": "middle",
                "contentBtnLabel": null,
                "contentBtnResource": null,
                "contentBtnStyle": "btn1",
                "contentImgSrc": "",
                "contentRichtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>",
                "sectionHeight": "",
                "sectionInnerSpacing": "",
                "sectionContentSpacing": "",
                "sectionContentWidth": "12",
                "sectionContentAlign": "center",
                "sectionBgImgSrc": null,
                "sectionBgImgPos": "",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionContentBgColorStatus": false,
                "sectionContentBgColor": "#ffffff",
                "sectionStyle": "general"
            }
        },
        {
            "category": "theme-text",
            "settings": {
                "contentColumnArrangement": "4,8",
                "contentImgSide": "right",
                "contentImgAlign": "middle",
                "contentImgAlt": "",
                "contentImgEffect": "none",
                "contentImgAspectRatio": "16:9",
                "contentImgFit": false,
                "contentRichtextAlign": "middle",
                "contentBtnLabel": "Button label",
                "contentBtnResource": {
                    "type": "url",
                    "record_id": "",
                    "url": ""
                },
                "contentBtnStyle": "link",
                "contentImgSrc": "",
                "contentRichtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>",
                "sectionHeight": "",
                "sectionHeightCustomTop": "0",
                "sectionHeightCustomBottom": "0",
                "sectionInnerSpacing": "",
                "sectionContentSpacing": "",
                "sectionContentWidth": "12",
                "sectionContentAlign": "center",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionContentBgColorStatus": false,
                "sectionContentBgColor": "#ffffff",
                "sectionStyle": "general"
            }
        }
    ]
}
{% endschema %}