{%- capture carouselSettings -%} data-carousel-autoplay="{{- section.settings.autoplay | json -}}"{%- endcapture -%}

{%- if section.settings.autoplay -%}
    {% capture autoplaySpeedAttr %} data-carousel-autoplay-speed="{{- section.settings.autoplaySpeed -}}"{% endcapture %}
    {%- assign carouselSettings = carouselSettings | append: autoplaySpeedAttr -%}
{%- endif -%}

{% capture paginationAttr %} data-carousel-pagination="{{- section.settings.pagination -}}"{% endcapture %}
{%- assign carouselSettings = carouselSettings | append: paginationAttr -%}

{% capture loopAttr %} data-carousel-loop="{{ section.settings.loop | json }}"{% endcapture %}
{%- assign carouselSettings = carouselSettings | append: loopAttr -%}

{% capture effectAttr %} data-carousel-effect="{{- section.settings.effect -}}"{% endcapture %}
{%- assign carouselSettings = carouselSettings | append: effectAttr -%}

{%- assign carouselClasses = '' -%}
{%- assign sectionHeight = section.settings.sectionHeight | default: settings.sectionHeight -%}

{%- if section.settings.pagination == 'hover' -%}
    {% capture paginationHoverClass %} swiper-pagination-hover{% endcapture %}
    {%- assign carouselClasses = carouselClasses | append: paginationHoverClass -%}
{%- endif -%}

{%- if section.settings.navigation == 'hover' -%}
    {% capture navigationHoverClass %} swiper-navigation-hover{% endcapture %}
    {%- assign carouselClasses = carouselClasses | append: navigationHoverClass -%}
{%- endif -%}

{%- if section.settings.slideImgOverlay -%}
    <style>
        #finqu-section-{{ section.id }} .swiper-slide::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(0deg, rgb(0,0,0, {{ section.settings.slideImgOverlay }}%), rgb(0,0,0, {{ section.settings.slideImgOverlay }}%))
        }
    </style>
{%- endif -%}

{%- capture content -%}

    {% for item in section.settings.setting_blocks.items %}

        {%- assign imgSrc = item.settings.imgSrc -%}
        {%- assign imgSizeSm = '768,400' -%}

        {%- case sectionHeight -%}
            {%- when 'sm' -%}
                {%- assign imgSizeMd = '768,400' -%}
                {%- assign imgSizeLg = '1100,400' -%}
                {%- assign imgSizeXl = '1905,400' -%}
            {%- when 'md' -%}
                {%- assign imgSizeMd = '768,600' -%}
                {%- assign imgSizeLg = '1100,600' -%}
                {%- assign imgSizeXl = '1905,600' -%}
            {%- when 'lg' -%}
                {%- assign imgSizeMd = '768,800' -%}
                {%- assign imgSizeLg = '1100,800' -%}
                {%- assign imgSizeXl = '1905,800' -%}
            {%- when 'xl' -%}
                {%- assign imgSizeMd = '768,945' -%}
                {%- assign imgSizeLg = '1100,945' -%}
                {%- assign imgSizeXl = '1905,945' -%}
        {%- endcase -%}

        <div class="swiper-slide">

            {% if item.settings.imgPlaceholder and imgSrc == '' %}

                <div class="slide-bg-img slide-bg-placeholder">

                    {% render 'placeholder-svg', type: 'background' %}

                </div>

            {% elsif imgSrc %}

                <div class="slide-bg-img">

                    <picture>

                        <source media="(min-width: 768px)" data-srcset="
                            {{ imgSrc | thumb: imgSizeMd }} 1x,
                            {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                        <source media="(min-width: 992px)" data-srcset="
                            {{ imgSrc | thumb: imgSizeLg }} 1x,
                            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                        <source media="(min-width: 1200px)" data-srcset="
                            {{ imgSrc | thumb: imgSizeXl }} 1x,
                            {{ imgSrc | thumb: imgSizeXl | thumb:'@2x' }} 2x">

                        <img
                            alt="{{ item.settings.imgAlt }}"
                            data-src="{{ imgSrc | thumb: imgSizeMobile }}"
                            data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x,{{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                            class="lazy slide-lazy-img">

                    </picture>

                </div>

            {% endif %}

            <div class="container h-100">

                <div class="row h-100">

                    <div class="col align-self-center justify-content-center flex-column">

                        {% if item.settings.title %}

                            <div class="slide-title">

                                <h3>
                                    {{ item.settings.title }}
                                </h3>

                            </div>

                        {% endif %}

                        {% if item.settings.description %}

                            <div class="slide-description">

                                <p>
                                    {{ item.settings.description }}
                                </p>

                            </div>

                        {% endif %}

                        {% if item.settings.btnLabel %}

                            <div class="slide-action">

                                <a href="{{- item.settings.btnResource.url -}}" class="btn btn-section"{% if item.settings.btnResourceOpenInNewWindowStatus %} target="_blank"{% endif %}>
                                    {{ item.settings.btnLabel }}
                                </a>

                            </div>

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    {% endfor %}

{%- endcapture -%}

{%- capture sectionContent -%}

    <div class="swiper-container{{ carouselClasses }}" {{ carouselSettings }}>

        <div class="swiper-wrapper">

            {{- content -}}

        </div>

        {%- if section.settings.navigation -%}

            <div class="swiper-button-prev">
                {%- render 'icon', icon: 'arrow-left-1-itskPx' -%}
            </div>

            <div class="swiper-button-next">
                {%- render 'icon', icon: 'arrow-right-1-Ei8Dl0' -%}
            </div>

        {%- endif -%}

        {%- if section.settings.pagination -%}

            <div class="swiper-pagination"></div>

        {%- endif -%}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionContentContainer: 'none' %}

{% schema %}
{
    "name": {
        "en": "Image carousel",
        "fi": "Kuvakaruselli"
    },
    "tag": "section",
    "class": "section section-image-carousel has-lazy",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "id": "items",
                "max_blocks": 4,
                "call_to_action": {
                    "en": "Add a item",
                    "fi": "Lisää kohde"
                },
                "is_sortable": true,
                "setting_blocks": [
                    {
                        "type": "item",
                        "title": {
                            "en": "Item",
                            "fi": "Kohde"
                        },
                        "settings": [
                            {
                                "id": "imgPlaceholder",
                                "type": "hidden"
                            },
                            {
                                "id": "imgSrc",
                                "type": "image-picker",
                                "label": {
                                    "en": "Image",
                                    "fi": "Kuva"
                                }
                            },
                            {
                                "id": "imgAlt",
                                "type": "text",
                                "label": {
                                    "en": "Image alt",
                                    "fi": "Kuvan alt-teksti"
                                }
                            },
                            {
                                "id": "title",
                                "type": "text",
                                "label": {
                                    "en": "Title",
                                    "fi": "Otsikko"
                                }
                            },
                            {
                                "id": "description",
                                "type": "textarea",
                                "label": {
                                    "en": "Description",
                                    "fi": "Kuvaus"
                                }
                            },
                            {
                                "id": "btnLabel",
                                "type": "text",
                                "label": {
                                    "en": "Button label",
                                    "fi": "Napin teksti"
                                }
                            },
                            {
                                "id": "btnResource",
                                "type": "url",
                                "label": {
                                    "en": "Button link",
                                    "fi": "Napin linkki"
                                }
                            },
                            {
                                "id": "btnResourceOpenInNewWindowStatus",
                                "type": "checkbox",
                                "label": {
                                    "en": "Open link in a new window",
                                    "fi": "Avaa linkki uudessa ikkunassa"
                                },
                                "default": true
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Section",
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Settings",
                                "fi": "Asetukset"
                            },
                            "settings": [
                                {
                                    "id": "loop",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Loop",
                                        "fi": "Silmukka"
                                    },
                                    "default": true
                                },
                                {
                                    "id": "autoplay",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Autoplay",
                                        "fi": "Automaattinen toisto"
                                    },
                                    "default": true
                                },
                                {
                                    "id": "autoplaySpeed",
                                    "label": {
                                        "en": "Autoplay speed",
                                        "fi": "Automaattisen toiston nopeus"
                                    },
                                    "type": "range",
                                    "min": 3,
                                    "max": 20,
                                    "step": 1,
                                    "default": 3,
                                    "unit": "s",
                                    "conditions": ["autoplay:truthy eq true"]
                                },
                                {
                                    "id": "navigation",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show navigation buttons",
                                        "fi": "Näytä navigointipainikkeet"
                                    },
                                    "default": "hover",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": {
                                                "en": "Off",
                                                "fi": "Off"
                                            }
                                        },
                                        {
                                            "value": "hover",
                                            "label": {
                                                "en": "On hover",
                                                "fi": "Osoitin päällä"
                                            }
                                        },
                                        {
                                            "value": "on",
                                            "label": {
                                                "en": "Always",
                                                "fi": "Aina"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "pagination",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Show pagination",
                                        "fi": "Näytä sivutus"
                                    },
                                    "default": "hover",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": {
                                                "en": "Off",
                                                "fi": "Off"
                                            }
                                        },
                                        {
                                            "value": "hover",
                                            "label": {
                                                "en": "On hover",
                                                "fi": "Osoitin päällä"
                                            }
                                        },
                                        {
                                            "value": "on",
                                            "label": {
                                                "en": "Always",
                                                "fi": "Aina"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "effect",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Effect",
                                        "fi": "Effekti"
                                    },
                                    "default": "slide",
                                    "options": [
                                        {
                                            "value": "slide",
                                            "label": {
                                                "en": "Slide",
                                                "fi": "Liuku"
                                            }
                                        },
                                        {
                                            "value": "fade",
                                            "label": {
                                                "en": "Fade",
                                                "fi": "Häivytä"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                },
                                {
                                    "id": "slideImgOverlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Colors",
                                "fi": "Värit"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-basic",
            "settings": {
                "loop": true,
                "autoplay": true,
                "autoplaySpeed": "3",
                "navigation": "hover",
                "pagination": "hover",
                "effect": "slide",
                "sectionHeight": "",
                "slideImgOverlay": "0",
                "sectionStyle": "general",
                "setting_blocks": {
                    "items": {
                        "F4c98887-2f85-4be6-a1b8-607600aa691c": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgPlaceholder": true,
                                "title": "",
                                "description": "",
                                "btnLabel": "",
                                "btnResource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "btnResourceOpenInNewWindowStatus": true
                            }
                        },
                        "81e92083-2c17-4507-89d8-5e5487784360": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgPlaceholder": true,
                                "title": "",
                                "description": "",
                                "btnLabel": "",
                                "btnResource": {
                                    "type": "url",
                                    "record_id": "",
                                    "url": ""
                                },
                                "btnResourceOpenInNewWindowStatus": true
                            }
                        }
                    }
                }
            }
        }
    ]
}
{% endschema %}