{%- assign colsArr = section.settings.contentColumnArrangement | split: ',' -%}
{%- assign leftColSize = colsArr[0] -%}
{%- assign rightColSize = colsArr[1] -%}

{%- capture imgColContent -%}

    {%- assign imgSizeSm = '420' -%}
    {%- assign imgSizeLg = '755' -%}

    {% if section.settings.contentImgPlaceholder and section.settings.contentImgSrc == '' %}

        <div data-finqu-inline-editor="contentImgSrc">

            {% render 'placeholder-svg', type: 'image' %}

        </div>

    {% elsif section.settings.contentImgSrc %}

        <picture>
            <source media="(min-width: 768px)" data-srcset="
                {{ section.settings.contentImgSrc | thumb: imgSizeLg }} 1x,
                {{ section.settings.contentImgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

            <img
                alt="{{ section.settings.contentImgAlt }}"
                data-src="{{ section.settings.contentImgSrc | thumb: imgSizeSm }}"
                data-srcset="{{ section.settings.contentImgSrc | thumb: imgSizeSm }} 1x,{{ section.settings.contentImgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                class="lazy d-block mx-auto img-fluid {% if section.settings.contentImgEffect != 'none' %} {{ section.settings.contentImgEffect }}{% endif %}"
                data-finqu-inline-editor="contentImgSrc">
        </picture>

    {% endif %}

{%- endcapture -%}

{%- capture textColContent -%}

    <div data-finqu-inline-editor="contentRichtextHtml">{{ section.settings.contentRichtextHtml }}</div>

    {% if section.settings.contentBtnLabel %}

        {% if section.settings.contentBtnStyle == 'btn' %}

            <a href="{{- section.settings.contentBtnResource.url -}}" class="btn btn-section mt-3">
                {{- section.settings.contentBtnLabel -}}
            </a>

        {% else %}

            <a href="{{- section.settings.contentBtnResource.url -}}" class="btn btn-link text-underline-indicator font-weight-bold mt-3">

                <span class="mr-2">
                    {{- section.settings.contentBtnLabel -}}
                </span>

                {%- render 'icon', icon: 'arrow-right-Nc34uf', class: 'svg-icon-fw' -%}
            </a>

        {% endif %}

    {% endif %}

{%- endcapture -%}

{%- capture sectionContent -%}

    {%- case section.settings.contentImgAlign -%}
        {% when 'top' %}
            {%- assign imgAlign = 'align-self-start' -%}
        {% when 'middle' %}
            {%- assign imgAlign = 'align-self-center' -%}
        {% when 'bottom' %}
            {%- assign imgAlign = 'align-self-end' -%}
    {%- endcase -%}

    {%- case section.settings.contentRichtextAlign -%}
        {% when 'top' %}
            {%- assign textAlign = 'align-self-start' -%}
        {% when 'middle' %}
            {%- assign textAlign = 'align-self-center' -%}
        {% when 'bottom' %}
            {%- assign textAlign = 'align-self-end' -%}
    {%- endcase -%}

    <div class="row">

        {%- if section.settings.contentImgSide == 'left' -%}

            <div class="col-12 col-md-{{ leftColSize }} {{ imgAlign }}">
                {{- imgColContent -}}
            </div>

            <div class="col-12 pt-5 pt-md-0 col-md-{{ rightColSize }} {{ textAlign }}">
                {{- textColContent -}}
            </div>

        {%- else -%}

            <div class="col-12 pt-5 pt-md-0 col-md-{{ leftColSize }} {{ textAlign }} order-2 order-md-1">
                {{- textColContent -}}
            </div>

            <div class="col-12 col-md-{{ rightColSize }} {{ imgAlign }} order-1 order-md-2">
                {{- imgColContent -}}
            </div>

        {%- endif -%}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent %}

{% schema %}
{
    "name": {
        "en": "Image and text",
        "fi": "Kuva ja teksti"
    },
    "tag": "section",
    "class": "section section-image-text has-lazy",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "contentImgPlaceholder",
                        "type": "hidden"
                    },
                    {
                        "id": "contentColumnArrangement",
                        "type": "select",
                        "label": {
                            "en": "Column arrangement",
                            "fi": "Sarakejärjestely"
                        },
                        "default": "6,6",
                        "options": [
                            {
                                "value": "6,6",
                                "label": "6 | 6"
                            },
                            {
                                "value": "4,8",
                                "label": "4 | 8"
                            },
                            {
                                "value": "8,4",
                                "label": "8 | 4"
                            },
                            {
                                "value": "5,7",
                                "label": "5 | 7"
                            },
                            {
                                "value": "7,5",
                                "label": "7 | 5"
                            },
                            {
                                "value": "3,9",
                                "label": "3 | 9"
                            },
                            {
                                "value": "9,3",
                                "label": "9 | 3"
                            }
                        ]
                    },
                    {
                        "id": "contentImgSide",
                        "type": "radio-pill",
                        "label": {
                            "en": "Image side",
                            "fi": "Kuvan puoli"
                        },
                        "default": "left",
                        "options": [
                            {
                                "value": "left",
                                "label": "{# icon.alignLeftLight #}"
                            },
                            {
                                "value": "right",
                                "label": "{# icon.alignRightLight #}"
                            }
                        ]
                    },
                    {
                        "id": "contentImgAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Image align",
                            "fi": "Kuvan tasaus"
                        },
                        "default": "middle",
                        "options": [
                            {
                                "value": "top",
                                "label": "{# icon.alignTopLight #}"
                            },
                            {
                                "value": "middle",
                                "label": "{# icon.alignMiddleLight #}"
                            },
                            {
                                "value": "bottom",
                                "label": "{# icon.alignBottomLight #}"
                            }
                        ]
                    },
                    {
                        "id": "contentImgAlt",
                        "type": "text",
                        "label": {
                            "en": "Image alt",
                            "fi": "Kuvan alt-teksti"
                        }
                    },
                    {
                        "id": "contentImgEffect",
                        "type": "select",
                        "label": {
                            "en": "Image effect",
                            "fi": "Kuvan effekti"
                        },
                        "default": "none",
                        "options": [
                            {
                                "value": "none",
                                "label": {
                                    "en": "None",
                                    "fi": "Ei mitään"
                                }
                            },
                            {
                                "value": "rounded",
                                "label": {
                                    "en": "Rounded",
                                    "fi": "Pyöristetty"
                                }
                            }
                        ]
                    },
                    {
                        "id": "contentRichtextAlign",
                        "type": "radio-pill",
                        "label": {
                            "en": "Text align",
                            "fi": "Tekstin tasaus"
                        },
                        "default": "middle",
                        "options": [
                            {
                                "value": "top",
                                "label": "{# icon.alignTopLight #}"
                            },
                            {
                                "value": "middle",
                                "label": "{# icon.alignMiddleLight #}"
                            },
                            {
                                "value": "bottom",
                                "label": "{# icon.alignBottomLight #}"
                            }
                        ]
                    },
                    {
                        "id": "contentBtnLabel",
                        "type": "text",
                        "label": {
                            "en": "Button label",
                            "fi": "Napin teksti"
                        }
                    },
                    {
                        "id": "contentBtnResource",
                        "type": "url",
                        "label": {
                            "en": "Button link",
                            "fi": "Napin linkki"
                        }
                    },
                    {
                        "id": "contentBtnStyle",
                        "type": "radio-pill",
                        "label": {
                            "en": "Button style",
                            "fi": "Napin tyyli"
                        },
                        "default": "btn",
                        "options": [
                            {
                                "value": "btn",
                                "label": {
                                    "en": "Button",
                                    "fi": "Nappi"
                                }
                            },
                            {
                                "value": "link",
                                "label": {
                                    "en": "Link",
                                    "fi": "Linkki"
                                }
                            }
                        ]
                    },
                    {
                        "id": "contentImgSrc",
                        "type": "image-picker",
                        "inline": "true"
                    },
                    {
                        "id": "contentRichtextHtml",
                        "type": "richtext",
                        "inline": "true"
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Layout",
                                "fi": "Näkymä"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        },
                                        {
                                            "value": "custom",
                                            "label": "{# icon.pencilRegular #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeightCustomTop",
                                    "label": {
                                        "en": "Top height",
                                        "fi": "Yläosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionHeightCustomBottom",
                                    "label": {
                                        "en": "Bottom height",
                                        "fi": "Alaosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Inner spacing",
                                        "fi": "Sisäinen tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content spacing",
                                        "fi": "Sisällön tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentWidth",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content width",
                                        "fi": "Sisällön leveys"
                                    },
                                    "default": "12",
                                    "options": [
                                        {
                                            "value": "6",
                                            "label": "50 %"
                                        },
                                        {
                                            "value": "9",
                                            "label": "75 %"
                                        },
                                        {
                                            "value": "12",
                                            "label": "100 %"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content alignment",
                                        "fi": "Sisällön ryhmittyminen"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Background",
                                "fi": "Tausta"
                            },
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Image",
                                        "fi": "Kuva"
                                    }
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": {
                                        "en": "Image position",
                                        "fi": "Kuvan sijainti"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "left-top",
                                            "label": {
                                                "en": "Left Top",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "left-center",
                                            "label": {
                                                "en": "Left Center",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": {
                                                "en": "Left Bottom",
                                                "fi": "Vasemmalla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "right-top",
                                            "label": {
                                                "en": "Right Top",
                                                "fi": "Oikealla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "right-center",
                                            "label": {
                                                "en": "Right Center",
                                                "fi": "Oikealla"
                                            }
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": {
                                                "en": "Right Bottom",
                                                "fi": "Oikealla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "center-top",
                                            "label": {
                                                "en": "Center Top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "center-center",
                                            "label": {
                                                "en": "Center Center",
                                                "fi": "Keskellä"
                                            }
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": {
                                                "en": "Center Bottom",
                                                "fi": "Keskellä alhaalla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "sectionContentBgColorStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Enable content background",
                                        "fi": "Näytä sisällön tausta"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "sectionContentBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Content background color",
                                        "fi": "Sisällön taustaväri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["sectionContentBgColorStatus:truthy eq true"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Colors",
                                "fi": "Värit"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-basic",
            "settings": {
                "contentColumnArrangement": "6,6",
                "contentImgSide": "left",
                "contentImgAlign": "middle",
                "contentImgAlt": null,
                "contentImgEffect": "none",
                "contentRichtextAlign": "middle",
                "contentBtnLabel": null,
                "contentBtnResource": null,
                "contentBtnStyle": "btn",
                "contentImgSrc": "",
                "contentImgPlaceholder": true,
                "contentRichtextHtml": "<h2>Lorem ipsum dolor sit amet, consectetuer<\/h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit. Sed augue orci, lacinia eu tincidunt et eleifend nec lacus. Donec ultricies nisl ut felis, suspendisse potenti. Lorem ipsum ligula ut hendrerit mollis, ipsum erat vehicula risus, eu suscipit sem libero nec erat. Aliquam erat volutpat. Sed congue augue vitae neque. Nulla consectetuer porttitor pede. Fusce purus morbi tortor magna condimentum vel, placerat id blandit sit amet tortor.<\/p>",
                "sectionHeight": "",
                "sectionInnerSpacing": "",
                "sectionContentSpacing": "",
                "sectionContentWidth": "12",
                "sectionContentAlign": "center",
                "sectionBgImgSrc": null,
                "sectionBgImgPos": "",
                "sectionBgImgOverlay": "0",
                "sectionContentBgColorStatus": false,
                "sectionContentBgColor": "#ffffff",
                "sectionStyle": "general"
            }
        }
    ]
}
{% endschema %}