{%- assign sectionTitle = section.settings.sectionTitle -%}
{%- assign sectionTitleTag = section.settings.sectionTitleTag -%}
{%- assign sectionSubtitle = section.settings.sectionSubtitle -%}
{%- assign sectionSubtitleTag = section.settings.sectionSubtitleTag -%}
{%- assign sectionHeaderTextAlign = section.settings.textAlign -%}

{%- case section.settings.textAlign -%}
    {% when 'left' %}
        {%- assign contentAlign = 'mr-auto' -%}
    {% when 'center' %}
        {%- assign contentAlign = 'mx-auto' -%}
    {% when 'right' %}
        {%- assign contentAlign = 'ml-auto' -%}
{%- endcase -%}

{%- capture sectionContent -%}

    {% if section.settings.text %}

        <div class="text-{{ section.settings.textAlign }}">

            {{ section.settings.text }}

        </div>

    {% endif %}

    <div class="text-{{ section.settings.textAlign }} mt-8">

        {% form 'customer', customer %}

            {% if form.posted_successfully? %}

                <script type="application/javascript">
                    document.addEventListener('DOMContentLoaded', function() {
                        document.dispatchEvent(new CustomEvent('theme:newsletter:subscribe', {
                            detail: {
                                email: {{ form.email | json }}
                            }
                        }));
                    });
                </script>

            {% endif %}

            {% if customer and customer.accepts_marketing %}

                <span class="d-block font-weight-bold">
                    {{ 'general.newsletter_subscribed' | t }}
                </span>

            {% elsif form.posted_successfully? %}

                <span class="d-block font-weight-bold">
                    {{ 'general.newsletter_subscribed' | t }}
                </span>

            {% else %}

                <div class="input-group input-container {{ contentAlign }}">

                    <div class="form-floating flex-grow-1">

                        <input id="{{ section.id }}-newsletter" class="form-control" type="email" name="email" value="" placeholder="{{ 'general.email' | t }}" required>

                        <label for="{{ section.id }}-newsletter">
                            {{ 'general.email' | t }}
                        </label>

                    </div>

                    <button type="submit" class="btn btn-section ml-2">
                        {{ 'general.subscribe' | t }}
                    </button>

                </div>

                {% render 'form-error', error: form.error, class: 'form-group mt-4' %}

            {% endif %}

        {% endform %}

    </div>

    {% if section.settings.showSocialMediaIcons %}

        {%- capture class -%}
            social-media-buttons-container mt-6 text-{{ section.settings.textAlign }}
        {%- endcapture -%}

        {% render 'social-media-buttons' class: class %}

    {% endif %}

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent, sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionSubtitle: sectionSubtitle, sectionSubtitleTag: sectionSubtitleTag, sectionHeaderTextAlign: sectionHeaderTextAlign %}

{% schema %}
{
    "name": {
        "en": "Newsletter",
        "fi": "Uutiskirje"
    },
    "tag": "section",
    "class": "section section-newsletter has-lazy",
    "category": "theme-form",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Content",
                                "fi": "Sisältö"
                            },
                            "settings": [
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Text",
                                        "fi": "Teksti"
                                    }
                                },
                                {
                                    "id": "sectionTitle",
                                    "type": "text",
                                    "label": {
                                        "en": "Heading text",
                                        "fi": "Otsikon teksti"
                                    }
                                },
                                {
                                    "id": "sectionSubtitle",
                                    "type": "text",
                                    "label": {
                                        "en": "Subtitle text",
                                        "fi": "Alaotsikon teksti"
                                    }
                                },
                                {
                                    "id": "textAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Text align",
                                        "fi": "Tekstin tasaus"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "text",
                                    "type": "richtext",
                                    "label": {
                                        "en": "Content",
                                        "fi": "Sisältö"
                                    }
                                },
                                {
                                    "id": "showSocialMediaIcons",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Show social media icons",
                                        "fi": "Sosiaalisen median kuvakkeet"
                                    },
                                    "default": true
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Settings",
                                "fi": "Asetukset"
                            },
                            "settings": [
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Seo",
                                        "fi": "Seo"
                                    }
                                },
                                {
                                    "id": "sectionTitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Heading SEO priority",
                                        "fi": "Otsikon SEO-prioriteetti"
                                    },
                                    "default": "h2",
                                    "options": [
                                        {
                                            "value": "h1",
                                            "label": "H1"
                                        },
                                        {
                                            "value": "h2",
                                            "label": "H2"
                                        },
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionSubtitleTag",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Subtitle SEO priority",
                                        "fi": "Alaotsikon SEO-prioriteetti"
                                    },
                                    "default": "h3",
                                    "options": [
                                        {
                                            "value": "h3",
                                            "label": "H3"
                                        },
                                        {
                                            "value": "span",
                                            "label": {
                                                "en": "Text",
                                                "fi": "Teksti"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "type": "spacer"
                                },
                                {
                                    "type": "title",
                                    "label": {
                                        "en": "Section",
                                        "fi": "Osio"
                                    }
                                },
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        },
                                        {
                                            "value": "custom",
                                            "label": "{# icon.pencilRegular #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeightCustomTop",
                                    "label": {
                                        "en": "Top height",
                                        "fi": "Yläosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionHeightCustomBottom",
                                    "label": {
                                        "en": "Bottom height",
                                        "fi": "Alaosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Inner spacing",
                                        "fi": "Sisäinen tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentWidth",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content area width",
                                        "fi": "Sisältöalueen leveys"
                                    },
                                    "default": "12",
                                    "options": [
                                        {
                                            "value": "6",
                                            "label": "50 %"
                                        },
                                        {
                                            "value": "9",
                                            "label": "75 %"
                                        },
                                        {
                                            "value": "12",
                                            "label": "100 %"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content area alignment",
                                        "fi": "Sisältöalueen ryhmittyminen"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Color style",
                                "fi": "Värityyli"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general",
                                    "info": {
                                        "en": "You can edit the color styles in the theme settings",
                                        "fi": "Voit muokata värityylejä teeman asetuksista"
                                    }
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Background",
                                "fi": "Tausta"
                            },
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Image",
                                        "fi": "Kuva"
                                    }
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": {
                                        "en": "Image position",
                                        "fi": "Kuvan sijainti"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "left-top",
                                            "label": {
                                                "en": "Left Top",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "left-center",
                                            "label": {
                                                "en": "Left Center",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": {
                                                "en": "Left Bottom",
                                                "fi": "Vasemmalla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "right-top",
                                            "label": {
                                                "en": "Right Top",
                                                "fi": "Oikealla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "right-center",
                                            "label": {
                                                "en": "Right Center",
                                                "fi": "Oikealla"
                                            }
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": {
                                                "en": "Right Bottom",
                                                "fi": "Oikealla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "center-top",
                                            "label": {
                                                "en": "Center Top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "center-center",
                                            "label": {
                                                "en": "Center Center",
                                                "fi": "Keskellä"
                                            }
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": {
                                                "en": "Center Bottom",
                                                "fi": "Keskellä alhaalla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Blur",
                                        "fi": "Taustan sumeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " "
                                },
                                {
                                    "id": "sectionColumnBgColorStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Enable column background",
                                        "fi": "Näytä sarakkeen tausta"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "sectionColumnBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Column background color",
                                        "fi": "Sarakkeen taustaväri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["sectionColumnBgColorStatus:truthy eq true"]
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-form",
            "settings": {
                "sectionTitle": "Subscribe to our newsletter",
                "sectionTitleTag": "h2",
                "sectionSubtitle": "",
                "sectionSubtitleTag": "h3",
                "textAlign": "center",
                "text": "<p>We announce in a newsletter about promotions, new products and sales.<\/p>",
                "showSocialMediaIcons": true,
                "sectionHeight": "",
                "sectionHeightCustomTop": "0",
                "sectionHeightCustomBottom": "0",
                "sectionInnerSpacing": "",
                "sectionContentWidth": "12",
                "sectionContentAlign": "center",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionColumnBgColorStatus": false,
                "sectionColumnBgColor": "#ffffff",
                "sectionStyle": "general"
            }
        }
    ]
}
{% endschema %}