{%- capture sectionContent -%}

    <div class="row">

        <div class="col-md-6">

            <div class="product-media-container">

                <div class="product-media row">

                    <div id="product-thumb-media-swiper" class="swiper-container d-none d-lg-block col-2 mr-5 p-0">

                        <div class="swiper-wrapper">

                            {%- assign hasMediaImg = false -%}

                            {% for media in product.media %}

                                {% if media.type == "image" %}

                                    <div class="swiper-slide">

                                        {%- unless hasMediaImg -%}
                                            {%- assign hasMediaImg = true -%}
                                        {%- endunless -%}

                                        {%- assign imgSrc = media.thumb | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                        {%- assign imgSize = 120,120 -%}

                                        <img
                                            class="lazy d-block mx-auto img-fluid c-pointer"
                                            alt="{{ product.name }}"
                                            data-src="{{ imgSrc | thumb: imgSize }}"
                                            data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                    </div>

                                {% endif %}

                            {% endfor %}

                            {% if product.variants.size > 0 %}

                                {% for variant in product.variants %}

                                    {% for option in variant.options %}

                                        {% if option.image %}

                                            {%- unless hasMediaImg -%}
                                                {%- assign hasMediaImg = true -%}
                                            {%- endunless -%}

                                            <div class="swiper-slide">

                                                {%- assign imgSrc = option.image | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                                {%- assign imgSize = 120,120 -%}

                                                <img
                                                    class="lazy d-block mx-auto img-fluid c-pointer"
                                                    alt="{{ product.name }}"
                                                    data-src="{{ imgSrc | thumb: imgSize }}"
                                                    data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                            </div>

                                        {% endif %}

                                    {% endfor %}

                                {% endfor %}

                            {% endif %}

                            {% unless hasMediaImg %}

                                <div class="swiper-slide">

                                    {%- assign imgSrc = settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                    {%- assign imgSize = 120,120 -%}

                                    <img
                                        class="lazy d-block mx-auto img-fluid c-pointer"
                                        alt="{{ product.name }}"
                                        data-src="{{ imgSrc | thumb: imgSize }}"
                                        data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                </div>

                            {% endunless %}

                            {% for media in product.media %}

                                {% if media.type == "video" %}

                                    <div class="swiper-slide">

                                        {%- assign imgSrc = media.thumb | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                        {%- assign imgSize = 120,120 -%}

                                        <img
                                            class="lazy d-block mx-auto img-fluid c-pointer"
                                            alt="{{ product.name }}"
                                            data-src="{{ imgSrc | thumb: imgSize }}"
                                            data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                        <div class="swiper-button-prev">
                            {%- render 'icon', icon: 'arrow-left-1-itskPx' -%}
                        </div>

                        <div class="swiper-button-next">
                            {%- render 'icon', icon: 'arrow-right-1-Ei8Dl0' -%}
                        </div>

                    </div>

                    <div id="product-main-media-swiper" class="swiper-container swiper-navigation-hide-on-desktop col">

                        {% render 'product-badges', product: product, position: 'top-left' %}

                        <div class="swiper-wrapper">

                            {%- assign hasMediaImg = false -%}

                            {% for media in product.media %}

                                {% if media.type == "image" %}

                                    {%- unless hasMediaImg -%}
                                        {%- assign hasMediaImg = true -%}
                                    {%- endunless -%}

                                    <div class="swiper-slide gallery-item">

                                        <div class="product-media-img-container aspect-ratio-container" data-gallery-item-init>

                                            {%- assign imgSrc = media.thumb | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                            {%- assign imgSizeSm = 420,420 -%}
                                            {%- assign imgSizeLg = 490,700 -%}

                                            <picture>
                                                <source media="(min-width: 768px)" srcset="
                                                    {{ imgSrc | thumb: imgSizeLg }} 1x,
                                                    {{ imgSrc | thumb: imgSizeLg | thumb: '@2x' }} 2x">

                                                <source srcset="
                                                    {{ imgSrc | thumb: imgSizeSm }} 1x,
                                                    {{ imgSrc | thumb: imgSizeSm | thumb: '@2x' }} 2x">

                                                <img
                                                    class="d-block mx-auto img-fluid aspect-ratio-item c-zoom-in"
                                                    alt="{{ product.name }}"
                                                    data-gallery-img-src="{{ media.original }}"
                                                    src="{{ imgSrc | thumb: imgSizeSm }}">
                                            </picture>

                                        </div>

                                    </div>

                                {% elsif media.type == "video" %}

                                {% endif %}

                            {% endfor %}

                            {% if product.variants.size > 0 %}

                                {% for variant in product.variants %}

                                    {% for option in variant.options %}

                                        {% if option.image %}

                                            {%- unless hasMediaImg -%}
                                                {%- assign hasMediaImg = true -%}
                                            {%- endunless -%}

                                            <div class="swiper-slide gallery-item">

                                                <div class="product-media-img-container aspect-ratio-container" data-gallery-item-init>

                                                    {%- assign imgSrc = option.image | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                                    {%- assign imgSizeSm = 420,420 -%}
                                                    {%- assign imgSizeLg = 490,700 -%}

                                                    <picture>
                                                        <source media="(min-width: 768px)" srcset="
                                                            {{ imgSrc | thumb: imgSizeLg }} 1x,
                                                            {{ imgSrc | thumb: imgSizeLg | thumb: '@2x' }} 2x">

                                                        <source srcset="
                                                            {{ imgSrc | thumb: imgSizeSm }} 1x,
                                                            {{ imgSrc | thumb: imgSizeSm | thumb: '@2x' }} 2x">

                                                        <img
                                                            class="d-block mx-auto img-fluid aspect-ratio-item c-zoom-in"
                                                            alt="{{ product.name }}"
                                                            data-gallery-img-src="{{ imgSrc }}"
                                                            src="{{ imgSrc | thumb: imgSizeSm }}">
                                                    </picture>

                                                </div>

                                            </div>

                                        {% endif %}

                                    {% endfor %}

                                {% endfor %}

                            {% endif %}

                            {% unless hasMediaImg %}

                                <div class="swiper-slide gallery-item">

                                    <div class="product-media-img-container aspect-ratio-container" data-gallery-item-init>

                                        {%- assign imgSrc = settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                        {%- assign imgSizeSm = 420,420 -%}
                                        {%- assign imgSizeLg = 490,700 -%}

                                        <picture>
                                            <source media="(min-width: 768px)" srcset="
                                                {{ imgSrc | thumb: imgSizeLg }} 1x,
                                                {{ imgSrc | thumb: imgSizeLg | thumb: '@2x' }} 2x">

                                            <source srcset="
                                                {{ imgSrc | thumb: imgSizeSm }} 1x,
                                                {{ imgSrc | thumb: imgSizeSm | thumb: '@2x' }} 2x">

                                            <img
                                                class="d-block mx-auto img-fluid aspect-ratio-item c-zoom-in"
                                                alt="{{ product.name }}"
                                                data-gallery-img-src="{{ imgSrc }}"
                                                src="{{ imgSrc | thumb: imgSizeSm }}">
                                        </picture>

                                    </div>

                                </div>

                            {% endunless %}

                            {% for media in product.media %}

                                {% if media.type == "video" %}

                                    <div class="swiper-slide gallery-item">

                                        <div class="product-media-video-container aspect-ratio-container" data-gallery-item-init>

                                            {%- assign imgSrc = media.thumb | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                            {%- assign imgSize = 120,120 -%}

                                            <div class="product-media-video-icon-container c-zoom-in">
                                                {%- render 'icon', icon: 'controls-play-af7Jis', class: 'svg-icon-fw product-media-video-icon '' -%}
                                            </div>

                                            <img
                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item"
                                                alt="{{ product.name }}"
                                                data-src="{{ imgSrc | thumb: imgSize }}"
                                                data-gallery-video-src="{{ media.url }}"
                                                data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                        </div>

                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                        <div class="swiper-button-prev">
                            {%- render 'icon', icon: 'arrow-left-1-itskPx' -%}
                        </div>

                        <div class="swiper-button-next">
                            {%- render 'icon', icon: 'arrow-right-1-Ei8Dl0' -%}
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-5 ml-lg-8">

            <div class="product-info">

                <div class="product-manufacturer">

                    <a href="{{ product.manufacturer | link }}" class="product-manufacturer-text h3">
                        {{ product.manufacturer.name }}
                    </a>

                </div>

                <div class="product-name">

                    <h1 class="product-name-text">{{ product.name }}</h1>

                </div>

                <div class="product-pricing">

                    {% if product.has_discount %}

                        <div class="product-discount">

                            <span class="product-discount-text text-sale-price">
                                {{ 'product.discount_dynamic' | t, amount: product.discount_percent }}
                            </span>

                        </div>

                    {% endif %}

                    <div class="product-price-container">

                        {% if product.has_discount %}

                            <span class="product-sale-price-text text-sale-price font-weight-bold mr-1" data-product-price-dynamic>
                                {{ product.price | in_currency }}
                            </span>

                            <span class="product-price text-decoration-line-through text-muted">
                                {{ product.original_price | in_currency }}
                            </span>

                        {% else %}

                            <span class="product-price text-price" data-product-price-dynamic>
                                {{ product.price | in_currency }}
                            </span>

                        {% endif %}

                    </div>

                    <div class="product-vat">

                        <span class="product-vat-text text-muted">

                            {%- assign productTaxPercent = product.taxpercent | round -%}

                            {{ 'product.vat_included_dynamic' | t, amount: productTaxPercent }}
                        </span>

                    </div>

                </div>

                {% if product.is_reviewed or product.can_be_reviewed %}

                    <div class="product-review-rating">

                        <button type="button" id="product-show-reviews" class="btn btn-text">

                            <div class="product-review-icons">

                                {% for rating in (1..product.max_rating) %}

                                    <div class="product-review-icon">

                                        {% if product.rating >= rating %}

                                            {%- render 'icon', icon: 'rating-star-gWaXzP' -%}

                                        {% else %}

                                            {%- render 'icon', icon: 'rating-star-J4vaWN' -%}

                                        {% endif %}

                                    </div>

                                {% endfor %}

                            </div>

                            <span class="product-review-text">
                                {{ product.review_count }}
                            </span>

                        </button>

                    </div>

                {% endif %}

                {% if product.short_description %}

                    <div class="product-short-description">

                        <span>{{ product.short_description }}</span>

                    </div>

                {% endif %}

                {% if product.bulkrates %}

                    <div class="product-bulk-discounts">

                        <div class="product-bulk-discount-header row no-gutters">

                            <div class="col-6">

                                <span class="product-bulk-discount-info-text">
                                    {{ 'product.bulk_discount' | t }}
                                </span>

                            </div>

                            <div class="col-6">

                                <span class="product-bulk-discount-info-text">
                                    {{ 'product.discount_rate' | t }}
                                </span>

                            </div>

                        </div>

                        {% for rate in product.bulkrates %}

                            {% if rate.is_percentage %}

                                <div class="product-bulk-discount-item row no-gutters">

                                    <div class="col-6">

                                        <span class="product-bulk-discount-rate-quantity-text">
                                            {% if rate.quantity > 1 %}+ {%endif %}{{ rate.quantity }} {{ product.unit }}
                                        </span>

                                    </div>

                                    <div class="col-6">

                                        <span class="product-bulk-discount-rate-amount-text">
                                            {{ rate.amount }} %
                                        </span>

                                    </div>

                                </div>

                            {% endif %}

                        {% endfor %}

                    </div>

                {% endif %}

                {% if product.related.size > 0 %}

                    <div class="product-related-items">

                        {% for relatedItem in product.related %}

                            {% if relatedItem.is_visible %}

                                <div class="product-related-item">

                                    <a href="{{ relatedItem | link }}">

                                        <div class="product-related-item-media">

                                            <div class="product-related-media-img-container aspect-ratio-container">

                                                {%- assign imgSrc = relatedItem.image | default: settings.placeholderImgSrc | default: settings.placeholderDefaultImgSrc | asset_url -%}
                                                {%- assign imgSize = 60,80 -%}

                                                <picture>
                                                    <img
                                                        alt="{{ relatedItem.name }}"
                                                        data-src="{{ imgSrc | thumb: imgSize }}"
                                                        data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x"
                                                        class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                                                </picture>

                                            </div>

                                        </div>

                                    </a>

                                </div>

                            {% endif %}

                        {% endfor %}

                    </div>

                {% endif %}

                {% if store.customer_accounts_optional == true or customer %}

                    {% if store.customer_accounts_require_approval == false or customer.has_access %}
                        {%- assign hasApprovedAccess = true -%}
                    {% endif %}

                    {% if store.customer_accounts_require_approval == false or hasApprovedAccess %}

                        {% if product.ignore_storage or product.in_stock and product.only_preview != true %}

                            <div class="product-form">

                                {% form 'product', product %}

                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="hidden" name="quantity" value="{{ product.min_amount }}">

                                    {% if product.variants.size > 0 %}

                                        <div class="product-variants">

                                            {% assign showVariantPrice = true %}
                                            {% assign showVariantTotalPrice = true %}
                                            {% assign showVariantStock = false %}

                                            {% for variant in product.variants %}

                                                {%- if variant.input_type == 'select' -%}

                                                    {% render 'product-variants/select', variant: variant %}

                                                {%- elsif variant.input_type == 'radio' -%}

                                                    {% render 'product-variants/radio', variant: variant %}

                                                {%- elsif variant.input_type == 'checkbox' -%}

                                                    {% render 'product-variants/checkbox', variant: variant %}

                                                {%- elsif variant.input_type == 'text' -%}

                                                    {% render 'product-variants/text', variant: variant %}

                                                {%- endif -%}

                                            {% endfor %}

                                        </div>

                                    {% endif %}

                                    <div class="product-action-add-to-cart d-flex">

                                        <button type="button" class="btn btn-section btn-lg btn-block" data-cart-add data-cart-form>
                                            {{ 'cart.add' | t }}
                                        </button>

                                        {% if store.session.logged_in %}

                                            <button type="button" class="btn btn-text ml-1 btn btn-text p-2 product-wishlist-action bordered" data-wishlist-toggle="{{ product.id }}" aria-pressed="{{ product.in_wishlist | yepnope: 'true', 'false' }}">
                                                {%- render 'icon', icon: 'love-it-08UZOs', class: 'svg-icon-lg svg-icon-fw' -%}
                                            </button>

                                        {% endif %}

                                    </div>

                                    {% render 'form-error', error: form.error %}

                                {% endform %}

                            </div>

                        {% elsif product.ignore_storage == false and product.in_stock == false and product.only_preview != true %}

                            {% if product.in_stock == false %}

                                <div class="product-info-out-of-stock">

                                    <span class="product-info-out-of-stock-text btn btn-section btn-block disabled">
                                        {{ 'product.out-of-stock' | t }}
                                    </span>

                                </div>

                            {% endif %}

                        {% endif %}

                    {% endif %}

                {% endif %}

                <div class="product-details accordion">

                    {% if product.description %}

                        <div class="card">

                            <div class="card-header">

                                <button class="btn btn-block btn-text d-flex" data-toggle="collapse" data-target="#accordion-product-description">

                                    <span>
                                        {{ 'product.description' | t }}
                                    </span>

                                    <span class="accordion-indicator">
                                        {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}
                                    </span>

                                </button>

                            </div>

                            <div id="accordion-product-description" class="collapse">

                                <div class="product-description card-body">
                                    {{ product.description }}
                                </div>

                            </div>

                        </div>

                    {% endif %}

                    {% if product.attachments.size %}

                        <div class="card">

                            <div class="card-header">

                                <button class="btn btn-block btn-text d-flex" data-toggle="collapse" data-target="#accordion-product-attachments">

                                    <span>
                                        {{ 'product.attachments' | t }}
                                    </span>

                                    <span class="accordion-indicator">
                                        {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}
                                    </span>

                                </button>

                            </div>

                            <div id="accordion-product-attachments" class="collapse">

                                <div class="product-attachments card-body">

                                    {% for attachment in product.attachments %}

                                        <a href="{{ attachment.href }}" class="product-attachment-item d-flex align-items-center">

                                            {%- render 'icon', icon: 'download-bottom-M5p7BQ', class: 'svg-icon-2x' -%}

                                            <span class="ml-3">{{ attachment.name }}</span>
                                        </a>

                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                    {% endif %}

                    {% if product.is_reviewed or product.can_be_reviewed %}

                        <div class="card">

                            <div class="card-header">

                                <button class="btn btn-block btn-text d-flex" data-toggle="collapse" data-target="#accordion-product-reviews">

                                    <span class="mr-2">{{ 'product.reviews' | t }} ({{ product.review_count }})</span>

                                    <div class="product-review-icons">

                                        {% for rating in (1..product.max_rating) %}

                                            <div class="product-review-icon">

                                                {% if product.rating >= rating %}

                                                    {%- render 'icon', icon: 'rating-star-gWaXzP' -%}

                                                {% else %}

                                                    {%- render 'icon', icon: 'rating-star-J4vaWN' -%}

                                                {% endif %}

                                            </div>

                                        {% endfor %}

                                    </div>

                                    <span class="accordion-indicator">
                                        {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}
                                    </span>

                                </button>

                            </div>

                            <div id="accordion-product-reviews" class="collapse">

                                <div class="product-reviews card-body">

                                    {% if product.can_be_reviewed %}

                                        <button id="product-review-create" class="btn btn-outline-section">
                                            {{ 'product.create_review' | t }}
                                        </button>

                                        <div class="product-review-form d-none">

                                            {% form 'product_review' %}

                                                <input type="hidden" name="product_id" value="{{ product.id }}">

                                                <div class="form-group">

                                                    <fieldset class="product-review-rating">

                                                        <input type="radio" id="product-review-rating-5" name="rating" value="5"{% if form.submitted.rating | escape == '5' %} checked{% endif %}>
                                                        <label for="product-review-rating-5" title="5">
                                                            {%- render 'icon', icon: 'rating-star-gWaXzP', class: 'svg-icon-fill' -%}
                                                        </label>

                                                        <input type="radio" id="product-review-rating-4" name="rating" value="4"{% if form.submitted.rating | escape == '4' %} checked{% endif %}>
                                                        <label for="product-review-rating-4" title="4">
                                                            {%- render 'icon', icon: 'rating-star-gWaXzP', class: 'svg-icon-fill' -%}
                                                        </label>

                                                        <input type="radio" id="product-review-rating-3" name="rating" value="3"{% if form.submitted.rating | escape == '3' %} checked{% endif %}>
                                                        <label for="product-review-rating-3" title="3">
                                                           {%- render 'icon', icon: 'rating-star-gWaXzP', class: 'svg-icon-fill' -%}
                                                        </label>

                                                        <input type="radio" id="product-review-rating-2" name="rating" value="2"{% if form.submitted.rating | escape == '2' %} checked{% endif %}>
                                                        <label for="product-review-rating-2" title="2">
                                                            {%- render 'icon', icon: 'rating-star-gWaXzP', class: 'svg-icon-fill' -%}
                                                        </label>

                                                        <input type="radio" id="product-review-rating-1" name="rating" value="1"{% if form.submitted.rating | escape == '1' %} checked{% endif %}>
                                                        <label for="product-review-rating-1" title="1">
                                                            {%- render 'icon', icon: 'rating-star-gWaXzP', class: 'svg-icon-fill' -%}
                                                        </label>

                                                    </fieldset>

                                                </div>

                                                <div class="form-group form-floating">

                                                    <input name="review_title" type="text" id="product-review-title" class="form-control" placeholder="{{ 'general.title' | t }}" value="{{ form.submitted.review_title | escape }}" required>

                                                    <label for="product-review-title">
                                                        {{ 'general.title' | t }}
                                                    </label>

                                                </div>

                                                <div class="form-group">

                                                    <textarea name="review_comment" class="form-control" rows="5" placeholder="{{ 'product.create_review' | t }}" value="{{ form.submitted.review_comment | escape }}" required></textarea>

                                                </div>

                                                <div class="form-group text-right">

                                                    <button type="button" id="product-review-cancel" class="btn btn-outline-section">{{ 'general.cancel' | t }}</button>

                                                    <button type="submit" class="btn btn-section">{{ 'general.submit' | t }}</button>

                                                </div>

                                                {% render 'form-error', error: form.error %}

                                            {% endform %}

                                        </div>

                                    {% elsif store.session.logged_in and product.is_reviewed == false %}

                                        <span>
                                            {{ 'product.review_product_purchase_required' | t }}
                                        </span>

                                    {% endif %}

                                    {% for review in product.reviews %}

                                        <div class="product-review">

                                            <div class="product-review-title">

                                                <span class="product-review-title">
                                                    {{ review.title }}
                                                </span>

                                            </div>

                                            <div class="product-review-date">

                                                {%- assign dateFormat = 'general.date_format' | t  -%}

                                                <i><time datetime="{{ review.created_at | date: "%F" }}">{{ review.created_at  | date: dateFormat }}</time></i>

                                            </div>

                                            <div class="product-review-rating">

                                                <div class="product-review-icons">

                                                    {% for rating in (1..product.max_rating) %}

                                                        <div class="product-review-icon">

                                                            {% if product.rating >= rating %}

                                                                {%- render 'icon', icon: 'rating-star-gWaXzP' -%}

                                                            {% else %}

                                                                {%- render 'icon', icon: 'rating-star-J4vaWN' -%}

                                                            {% endif %}

                                                        </div>

                                                    {% endfor %}

                                                </div>

                                            </div>

                                            <div class="product-review-content">
                                                {{ review.review }}
                                            </div>

                                        </div>

                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent %}

{% schema %}
{
    "name": "Product",
    "tag": "div",
    "class": "section section-product-card",
    "is_creatable": false
}
{% endschema %}