{%- capture sectionContent -%}

    {% if request.uri contains 'create_review=true' and product.customer_has_reviewed == false and product.reviews_are_enabled %}

        <div class="product-create-review-layout">

            {% form 'review', product id: 'product-review-form' %}

                <div class="form-group form-floating">

                    <input name="name" type="text" id="product-review-name" class="form-control" placeholder="{{ 'general.name' | t }}" value="{{ form.submitted.name | escape }}" required>

                    <label for="product-review-name">
                        {{ 'general.name' | t }}
                    </label>

                </div>

                <div class="form-group form-floating">

                    <input name="title" type="text" id="product-review-title" class="form-control" placeholder="{{ 'general.title' | t }}" value="{{ form.submitted.title | escape }}" required>

                    <label for="product-review-title">
                        {{ 'general.title' | t }}
                    </label>

                </div>

                <div class="form-group">

                    <textarea name="comment" class="form-control" rows="5" placeholder="{{ 'product.write_review' | t }}" value="{{ form.submitted.comment | escape }}" required></textarea>

                </div>

                <div class="form-group d-flex justify-content-between align-items-center">

                    <span class="h5 mb-0">
                        {{ 'product.review_grade' | t }}
                    </span>

                    <fieldset class="product-review-rating ml-2">

                        <input type="radio" id="product-review-rating-5" name="rating" value="5"{% if form.submitted.rating | escape == '5' %} checked{% endif %}>
                        <label for="product-review-rating-5" title="5">
                            {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                        </label>

                        <input type="radio" id="product-review-rating-4" name="rating" value="4"{% if form.submitted.rating | escape == '4' %} checked{% endif %}>
                        <label for="product-review-rating-4" title="4">
                            {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                        </label>

                        <input type="radio" id="product-review-rating-3" name="rating" value="3"{% if form.submitted.rating | escape == '3' %} checked{% endif %}>
                        <label for="product-review-rating-3" title="3">
                           {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                        </label>

                        <input type="radio" id="product-review-rating-2" name="rating" value="2"{% if form.submitted.rating | escape == '2' %} checked{% endif %}>
                        <label for="product-review-rating-2" title="2">
                            {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                        </label>

                        <input type="radio" id="product-review-rating-1" name="rating" value="1"{% if form.submitted.rating | escape == '1' %} checked{% endif %}>
                        <label for="product-review-rating-1" title="1">
                            {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                        </label>

                    </fieldset>

                </div>

                {% render 'form-error', error: form.error, class: 'form-group' %}

                <div class="form-group text-right mb-0">

                    <button type="submit" class="btn btn-section">{{ 'general.submit' | t }}</button>

                </div>

            {% endform %}

        </div>

    {% else %}

        <div class="row justify-content-between">

            <div class="col-12 col-md-6 col-lg-6 pr-lg-8">

                <div class="product-media-container">

                    <div class="product-media row no-gutters">

                        <div id="product-thumb-media-swiper" class="swiper d-none d-lg-block col-2 mr-5 p-0">

                            <div class="swiper-wrapper">

                                {%- assign hasMediaImg = false -%}

                                {% for media in product.media %}

                                    {% if media.type == "image" %}

                                        <div class="swiper-slide aspect-ratio-product">

                                            <div class="aspect-ratio-container">

                                                {%- unless hasMediaImg -%}
                                                    {%- assign hasMediaImg = true -%}
                                                {%- endunless -%}

                                                {% if media.thumb %}

                                                    {%- assign imgSrc = media.thumb | asset_url -%}

                                                    {% if settings.aspectRatioProductImage == '9:13' %}

                                                        {%- assign imgSize = '99,143' -%}

                                                    {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                        {%- assign imgSize = '99,75' -%}

                                                    {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                        {%- assign imgSize = '99,99' -%}

                                                    {% endif %}

                                                    <img
                                                        class="lazy d-block mx-auto img-fluid aspect-ratio-item c-pointer"
                                                        alt="{{ product.name }}"
                                                        data-src="{{ imgSrc | thumb: imgSize }}"
                                                        data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                                {% else %}

                                                    {%- capture imgSrc -%}
                                                        {% render 'placeholder-svg', type: 'image', base64: true %}
                                                    {%- endcapture -%}

                                                    <img
                                                        class="lazy d-block mx-auto img-fluid aspect-ratio-item c-pointer svg-placeholder"
                                                        alt="{{ product.name }}"
                                                        data-src="{{ imgSrc }}">

                                                {% endif %}

                                            </div>

                                        </div>

                                    {% endif %}

                                {% endfor %}

                                {% if product.attributes.size > 0 %}

                                    {% for attribute in product.attributes %}

                                        {% for option in attribute.options %}

                                            {% if option.image %}

                                                {%- unless hasMediaImg -%}
                                                    {%- assign hasMediaImg = true -%}
                                                {%- endunless -%}

                                                <div class="swiper-slide aspect-ratio-product" data-product-option-image="{{ option.id }}">

                                                    <div class="aspect-ratio-container">

                                                        {% if option.image %}

                                                            {%- assign imgSrc = option.image | asset_url -%}

                                                            {% if settings.aspectRatioProductImage == '9:13' %}

                                                                {%- assign imgSize = '99,143' -%}

                                                            {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                                {%- assign imgSize = '99,75' -%}

                                                            {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                                {%- assign imgSize = '99,99' -%}

                                                            {% endif %}

                                                            <img
                                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item c-pointer"
                                                                alt="{{ product.name }}"
                                                                data-src="{{ imgSrc | thumb: imgSize }}"
                                                                data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                                        {% else %}

                                                            {%- capture imgSrc -%}
                                                                {% render 'placeholder-svg', type: 'image', base64: true %}
                                                            {%- endcapture -%}

                                                            <img
                                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item c-pointer svg-placeholder"
                                                                alt="{{ product.name }}"
                                                                data-src="{{ imgSrc }}">

                                                        {% endif %}

                                                    </div>

                                                </div>

                                            {% endif %}

                                            {% if option.subattribute %}

                                                {% for option in option.subattribute.options %}

                                                    {% if option.image %}

                                                        {%- unless hasMediaImg -%}
                                                            {%- assign hasMediaImg = true -%}
                                                        {%- endunless -%}

                                                        <div class="swiper-slide aspect-ratio-product" data-product-option-image="{{ option.id }}">

                                                            <div class="aspect-ratio-container">

                                                                {% if option.image %}

                                                                    {%- assign imgSrc = option.image | asset_url -%}

                                                                    {% if settings.aspectRatioProductImage == '9:13' %}

                                                                        {%- assign imgSize = '99,143' -%}

                                                                    {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                                        {%- assign imgSize = '99,75' -%}

                                                                    {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                                        {%- assign imgSize = '99,99' -%}

                                                                    {% endif %}

                                                                    <img
                                                                        class="lazy d-block mx-auto img-fluid aspect-ratio-item c-pointer"
                                                                        alt="{{ product.name }}"
                                                                        data-src="{{ imgSrc | thumb: imgSize }}"
                                                                        data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                                                {% else %}

                                                                    {%- capture imgSrc -%}
                                                                        {% render 'placeholder-svg', type: 'image', base64: true %}
                                                                    {%- endcapture -%}

                                                                    <img
                                                                        class="lazy d-block mx-auto img-fluid aspect-ratio-item c-pointer svg-placeholder"
                                                                        alt="{{ product.name }}"
                                                                        data-src="{{ imgSrc }}">

                                                                {% endif %}

                                                            </div>

                                                        </div>

                                                    {% endif %}

                                                {% endfor %}

                                            {% endif %}

                                        {% endfor %}

                                    {% endfor %}

                                {% endif %}

                                {% unless hasMediaImg %}

                                    <div class="swiper-slide aspect-ratio-product">

                                        <div class="aspect-ratio-container">

                                            {%- capture imgSrc -%}
                                                {% render 'placeholder-svg', type: 'image', base64: true %}
                                            {%- endcapture -%}

                                            <img
                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item c-pointer svg-placeholder"
                                                alt="{{ product.name }}"
                                                data-src="{{ imgSrc }}">

                                        </div>

                                    </div>

                                {% endunless %}

                                {% for media in product.media %}

                                    {% if media.type == "video" %}

                                        <div class="swiper-slide aspect-ratio-product">

                                            <div class="aspect-ratio-container">

                                                {% if media.thumb %}

                                                    {%- assign imgSrc = media.thumb | asset_url -%}

                                                    {% if settings.aspectRatioProductImage == '9:13' %}

                                                        {%- assign imgSize = '99,143' -%}

                                                    {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                        {%- assign imgSize = '99,75' -%}

                                                    {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                        {%- assign imgSize = '99,99' -%}

                                                    {% endif %}

                                                    <img
                                                        class="lazy d-block mx-auto img-fluid c-pointer aspect-ratio-item"
                                                        alt="{{ product.name }}"
                                                        data-src="{{ imgSrc | thumb: imgSize }}"
                                                        data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x">

                                                {% else %}

                                                    {%- capture imgSrc -%}
                                                        {% render 'placeholder-svg', type: 'image', base64: true %}
                                                    {%- endcapture -%}

                                                    <img
                                                        class="lazy d-block mx-auto img-fluid c-pointer aspect-ratio-item svg-placeholder"
                                                        alt="{{ product.name }}"
                                                        data-src="{{ imgSrc }}">

                                                {% endif %}

                                            </div>

                                        </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                            <div class="swiper-button-prev">
                                {%- render 'icon', icon: 'light/arrow-left-1' -%}
                            </div>

                            <div class="swiper-button-next">
                                {%- render 'icon', icon: 'light/arrow-right-1' -%}
                            </div>

                        </div>

                        <div id="product-main-media-swiper" class="swiper swiper-navigation-hide-on-desktop col">

                            {% render 'product-badges', product: product, position: 'top-left' %}

                            <div class="swiper-wrapper">

                                {%- assign hasMediaImg = false -%}

                                {% for media in product.media %}

                                    {% if media.type == "image" %}

                                        {%- unless hasMediaImg -%}
                                            {%- assign hasMediaImg = true -%}
                                        {%- endunless -%}

                                        <div class="swiper-slide gallery-item aspect-ratio-product">

                                            <div class="product-media-img-container aspect-ratio-container" data-gallery-item-init>

                                                {% if media.thumb %}

                                                    {%- assign imgSrc = media.thumb | asset_url -%}

                                                    {% if settings.aspectRatioProductImage == '9:13' %}

                                                        {%- assign imgSizeSm = '374,540' -%}
                                                        {%- assign imgSizeMd = '696,1005' -%}
                                                        {%- assign imgSizeLg = '486,702' -%}

                                                    {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                        {%- assign imgSizeSm = '374,280' -%}
                                                        {%- assign imgSizeMd = '696,522' -%}
                                                        {%- assign imgSizeLg = '486,365' -%}

                                                    {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                        {%- assign imgSizeSm = '374,374' -%}
                                                        {%- assign imgSizeMd = '696,696' -%}
                                                        {%- assign imgSizeLg = '486,486' -%}

                                                    {% endif %}

                                                    <picture>
                                                        <source media="(min-width: 992px)" data-srcset="
                                                            {{ imgSrc | thumb: imgSizeLg }} 1x,
                                                            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                                        <source media="(min-width: 576px)" data-srcset="
                                                            {{ imgSrc | thumb: imgSizeMd }} 1x,
                                                            {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                                        <source data-srcset="
                                                            {{ imgSrc | thumb: imgSizeSm }} 1x,
                                                            {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                                        <img
                                                            class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in{% if settings.aspectRatioProductImage == '9:13' %} aspect-ratio-item-position-top{% endif %}"
                                                            alt="{{ product.name }}"
                                                            data-gallery-img-src="{{ media.original }}"
                                                            src="{{ imgSrc | thumb: imgSizeSm }}">
                                                    </picture>

                                                {% else %}

                                                    {%- capture imgSrc -%}
                                                        {% render 'placeholder-svg', type: 'image', base64: true %}
                                                    {%- endcapture -%}

                                                    <img
                                                        class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in svg-placeholder"
                                                        alt="{{ product.name }}"
                                                        data-gallery-img-src="{{ imgSrc }}"
                                                        data-src="{{ imgSrc }}">

                                                {% endif %}

                                            </div>

                                        </div>

                                    {% endif %}

                                {% endfor %}

                                {% if product.attributes.size > 0 %}

                                    {% for attribute in product.attributes %}

                                        {% for option in attribute.options %}

                                            {% if option.image %}

                                                {%- unless hasMediaImg -%}
                                                    {%- assign hasMediaImg = true -%}
                                                {%- endunless -%}

                                                <div class="swiper-slide gallery-item aspect-ratio-product" data-product-option-image="{{ option.id }}">

                                                    <div class="product-media-img-container aspect-ratio-container" data-gallery-item-init>

                                                        {% if option.image %}

                                                            {%- assign imgSrc = option.image | asset_url -%}

                                                            {% if settings.aspectRatioProductImage == '9:13' %}

                                                                {%- assign imgSizeSm = '374,540' -%}
                                                                {%- assign imgSizeMd = '696,1005' -%}
                                                                {%- assign imgSizeLg = '486,702' -%}

                                                            {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                                {%- assign imgSizeSm = '374,280' -%}
                                                                {%- assign imgSizeMd = '696,522' -%}
                                                                {%- assign imgSizeLg = '486,365' -%}

                                                            {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                                {%- assign imgSizeSm = '374,374' -%}
                                                                {%- assign imgSizeMd = '696,696' -%}
                                                                {%- assign imgSizeLg = '486,486' -%}

                                                            {% endif %}

                                                            <picture>
                                                                <source media="(min-width: 992px)" data-srcset="
                                                                    {{ imgSrc | thumb: imgSizeLg }} 1x,
                                                                    {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                                                <source media="(min-width: 576px)" data-srcset="
                                                                    {{ imgSrc | thumb: imgSizeMd }} 1x,
                                                                    {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                                                <source data-srcset="
                                                                    {{ imgSrc | thumb: imgSizeSm }} 1x,
                                                                    {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                                                <img
                                                                    class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in{% if settings.aspectRatioProductImage == '9:13' %} aspect-ratio-item-position-top{% endif %}"
                                                                    alt="{{ product.name }}"
                                                                    data-gallery-img-src="{{ imgSrc }}"
                                                                    src="{{ imgSrc | thumb: imgSizeSm }}">
                                                            </picture>

                                                        {% else %}

                                                            {%- capture imgSrc -%}
                                                                {% render 'placeholder-svg', type: 'image', base64: true %}
                                                            {%- endcapture -%}

                                                            <img
                                                                class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in svg-placeholder"
                                                                alt="{{ product.name }}"
                                                                data-gallery-img-src="{{ imgSrc }}"
                                                                data-src="{{ imgSrc }}">

                                                        {% endif %}

                                                    </div>

                                                </div>

                                            {% endif %}

                                            {% if option.subattribute %}

                                                {% for option in option.subattribute.options %}

                                                    {% if option.image %}

                                                        {%- unless hasMediaImg -%}
                                                            {%- assign hasMediaImg = true -%}
                                                        {%- endunless -%}

                                                        <div class="swiper-slide gallery-item aspect-ratio-product" data-product-option-image="{{ option.id }}">

                                                            <div class="product-media-img-container aspect-ratio-container" data-gallery-item-init>

                                                                {% if option.image %}

                                                                    {%- assign imgSrc = option.image | asset_url -%}

                                                                    {% if settings.aspectRatioProductImage == '9:13' %}

                                                                        {%- assign imgSizeSm = '374,540' -%}
                                                                        {%- assign imgSizeMd = '696,1005' -%}
                                                                        {%- assign imgSizeLg = '486,702' -%}

                                                                    {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                                        {%- assign imgSizeSm = '374,280' -%}
                                                                        {%- assign imgSizeMd = '696,522' -%}
                                                                        {%- assign imgSizeLg = '486,365' -%}

                                                                    {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                                        {%- assign imgSizeSm = '374,374' -%}
                                                                        {%- assign imgSizeMd = '696,696' -%}
                                                                        {%- assign imgSizeLg = '486,486' -%}

                                                                    {% endif %}

                                                                    <picture>
                                                                        <source media="(min-width: 992px)" data-srcset="
                                                                            {{ imgSrc | thumb: imgSizeLg }} 1x,
                                                                            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                                                        <source media="(min-width: 576px)" data-srcset="
                                                                            {{ imgSrc | thumb: imgSizeMd }} 1x,
                                                                            {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                                                        <source data-srcset="
                                                                            {{ imgSrc | thumb: imgSizeSm }} 1x,
                                                                            {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                                                        <img
                                                                            class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in{% if settings.aspectRatioProductImage == '9:13' %} aspect-ratio-item-position-top{% endif %}"
                                                                            alt="{{ product.name }}"
                                                                            data-gallery-img-src="{{ imgSrc }}"
                                                                            src="{{ imgSrc | thumb: imgSizeSm }}">
                                                                    </picture>

                                                                {% else %}

                                                                    {%- capture imgSrc -%}
                                                                        {% render 'placeholder-svg', type: 'image', base64: true %}
                                                                    {%- endcapture -%}

                                                                    <img
                                                                        class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in svg-placeholder"
                                                                        alt="{{ product.name }}"
                                                                        data-gallery-img-src="{{ imgSrc }}"
                                                                        data-src="{{ imgSrc }}">

                                                                {% endif %}

                                                            </div>

                                                        </div>

                                                    {% endif %}

                                                {% endfor %}

                                            {% endif %}

                                        {% endfor %}

                                    {% endfor %}

                                {% endif %}

                                {% unless hasMediaImg %}

                                    <div class="swiper-slide gallery-item aspect-ratio-product">

                                        <div class="product-media-img-container aspect-ratio-container" data-gallery-item-init>

                                            {%- capture imgSrc -%}
                                                {% render 'placeholder-svg', type: 'image', base64: true %}
                                            {%- endcapture -%}

                                            <img
                                                class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in svg-placeholder{% if settings.aspectRatioProductImage == '9:13' %} aspect-ratio-item-position-top{% endif %}"
                                                alt="{{ product.name }}"
                                                data-gallery-img-src="{{ imgSrc }}"
                                                data-src="{{ imgSrc }}">

                                        </div>

                                    </div>

                                {% endunless %}

                                {% for media in product.media %}

                                    {% if media.type == "video" %}

                                        <div class="swiper-slide gallery-item">

                                            <div class="product-media-video-container" data-gallery-item-init>

                                                {% if media.thumb %}

                                                    {%- assign imgSrc = media.thumb | asset_url -%}

                                                    {% if settings.aspectRatioProductImage == '9:13' %}

                                                        {%- assign imgSizeSm = '374,540' -%}
                                                        {%- assign imgSizeMd = '696,1005' -%}
                                                        {%- assign imgSizeLg = '486,702' -%}

                                                    {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                        {%- assign imgSizeSm = '374,280' -%}
                                                        {%- assign imgSizeMd = '696,522' -%}
                                                        {%- assign imgSizeLg = '486,365' -%}

                                                    {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                        {%- assign imgSizeSm = '374,374' -%}
                                                        {%- assign imgSizeMd = '696,696' -%}
                                                        {%- assign imgSizeLg = '486,486' -%}

                                                    {% endif %}

                                                    <div class="product-media-video-icon-container c-zoom-in">
                                                        {%- render 'icon', icon: 'regular/controls-play', class: 'svg-icon-fw product-media-video-icon '' -%}
                                                    </div>

                                                    <picture>
                                                        <source media="(min-width: 992px)" data-srcset="
                                                            {{ imgSrc | thumb: imgSizeLg }} 1x,
                                                            {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                                        <source media="(min-width: 576px)" data-srcset="
                                                            {{ imgSrc | thumb: imgSizeMd }} 1x,
                                                            {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">

                                                        <source data-srcset="
                                                            {{ imgSrc | thumb: imgSizeSm }} 1x,
                                                            {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                                        <img
                                                            class="lazy lazy-disable-transition d-block mx-auto img-fluid aspect-ratio-item c-zoom-in{% if settings.aspectRatioProductImage == '9:13' %} aspect-ratio-item-position-top{% endif %}"
                                                            alt="{{ product.name }}"
                                                            data-gallery-video-src="{{ media.url }}"
                                                            src="{{ imgSrc | thumb: imgSizeSm }}">
                                                    </picture>

                                                {% else %}

                                                    {%- capture imgSrc -%}
                                                        {% render 'placeholder-svg', type: 'image', base64: true %}
                                                    {%- endcapture -%}

                                                    <img
                                                        class="lazy lazy-disable-transition d-block mx-auto img-fluid svg-placeholder"
                                                        alt="{{ product.name }}"
                                                        data-src="{{ imgSrc }}"
                                                        data-gallery-video-src="{{ media.url }}"
                                                        data-srcset="{{ imgSrc }}">

                                                {% endif %}

                                            </div>

                                        </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                            <div class="swiper-button-prev">
                                {%- render 'icon', icon: 'light/arrow-left-1' -%}
                            </div>

                            <div class="swiper-button-next">
                                {%- render 'icon', icon: 'light/arrow-right-1' -%}
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-5">

                <div class="product-info">

                    {% if product.manufacturer %}

                        <div class="product-manufacturer">

                            <a href="{{ product.manufacturer | link }}" class="product-manufacturer-text h3">
                                {{ product.manufacturer.name }}
                            </a>

                        </div>

                    {% endif %}

                    <div class="product-name">

                        <h1 class="product-name-text">
                            {{ product.name }}
                        </h1>

                    </div>

                    {%- if store.customer_accounts_require_approval == true and customer.has_access -%}
                        {%- assign accountHasApproval = true -%}
                    {%- endif -%}

                    {% if store.customer_accounts_require_approval == false or accountHasApproval %}

                        <div class="product-pricing">

                            {% if product.has_discount %}

                                <div class="product-discount">

                                    <span class="product-discount-text text-sale-price">
                                        {{ 'product.discount_dynamic' | t, amount: product.discount_percent }}
                                    </span>

                                </div>

                            {% endif %}

                            <div class="product-price-container">

                                {%- if settings.taxFreePrices -%}
                                    {% assign itemPrice = product.net_price %}
                                    {% assign itemOriginalPrice = product.original_net_price %}
                                    {% assign itemTaxPercent = 0 %}
                                {%- else -%}
                                    {% assign itemPrice = product.price %}
                                    {% assign itemOriginalPrice = product.original_price %}
                                    {% assign itemTaxPercent = product.taxpercent | round %}
                                {%- endif -%}

                                {% if product.has_discount %}

                                    <span class="product-sale-price-text text-sale-price font-weight-bold mr-1" data-product-price-dynamic>
                                        {{ itemPrice | in_currency }}
                                    </span>

                                    <span class="product-price text-decoration-line-through text-muted">
                                        {{ itemOriginalPrice | in_currency }}
                                    </span>

                                {% else %}

                                    <span class="product-price text-price" data-product-price-dynamic>
                                        {{ itemPrice | in_currency }}
                                    </span>

                                {% endif %}

                            </div>

                            <div class="product-vat">

                                <span class="product-vat-text text-muted">
                                    {{ 'product.vat_included_dynamic' | t, amount: itemTaxPercent }}
                                </span>

                            </div>

                        </div>

                    {% endif %}

                    {% if product.review_count > 0 and product.reviews_are_enabled %}

                        <div class="product-review-rating">

                            <button type="button" id="product-show-reviews" class="btn btn-text">

                                <div class="product-review-icons">

                                    {% for rating in (1..product.max_rating) %}

                                        <div class="product-review-icon">

                                            {% if product.rating >= rating %}

                                                {%- render 'icon', icon: 'bold/rating-star' -%}

                                            {% else %}

                                                {%- render 'icon', icon: 'regular/rating-star' -%}

                                            {% endif %}

                                        </div>

                                    {% endfor %}

                                </div>

                                <span class="product-review-text">
                                    {{ product.review_count }}
                                </span>

                            </button>

                        </div>

                    {% endif %}

                    {% if product.short_description %}

                        <div class="product-short-description">

                            <span>{{ product.short_description }}</span>

                        </div>

                    {% endif %}

                    {% if product.bulkrates %}

                        <div class="product-bulk-discounts">

                            <div class="product-bulk-discount-header row no-gutters">

                                <div class="col-6">

                                    <span class="product-bulk-discount-info-text">
                                        {{ 'product.bulk_discount' | t }}
                                    </span>

                                </div>

                                <div class="col-6">

                                    <span class="product-bulk-discount-info-text">
                                        {{ 'product.discount_rate' | t }}
                                    </span>

                                </div>

                            </div>

                            {% for rate in product.bulkrates %}

                                {% if rate.is_percentage %}

                                    <div class="product-bulk-discount-item row no-gutters">

                                        <div class="col-6">

                                            <span class="product-bulk-discount-rate-quantity-text">
                                                {% if rate.quantity > 1 %}+ {%endif %}{{ rate.quantity }} {{ product.unit }}
                                            </span>

                                        </div>

                                        <div class="col-6">

                                            <span class="product-bulk-discount-rate-amount-text">
                                                {{ rate.amount }} %
                                            </span>

                                        </div>

                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                    {% endif %}

                    {% if product.related.size > 0 %}

                        <div class="product-related-items">

                            {% for relatedItem in product.related %}

                                {% if relatedItem.is_visible %}

                                    <div class="product-related-item">

                                        <a href="{{ relatedItem | link }}">

                                            <div class="product-related-item-media aspect-ratio-product">

                                                <div class="product-related-media-img-container aspect-ratio-container">

                                                    {% if relatedItem.image %}

                                                        {%- assign imgSrc = relatedItem.image | asset_url -%}

                                                        {% if settings.aspectRatioProductImage == '9:13' %}

                                                            {%- assign imgSize = '78,113' -%}

                                                        {% elsif settings.aspectRatioProductImage == '4:3' %}

                                                            {%- assign imgSize = '78,59' -%}

                                                        {% elsif settings.aspectRatioProductImage == '1:1' %}

                                                            {%- assign imgSize = '78,78' -%}

                                                        {% endif %}

                                                        <picture>
                                                            <img
                                                                alt="{{ relatedItem.name }}"
                                                                data-src="{{ imgSrc | thumb: imgSize }}"
                                                                data-srcset="{{ imgSrc | thumb: imgSize }} 1x, {{ imgSrc | thumb: imgSize | thumb: '@2x' }} 2x"
                                                                class="lazy d-block mx-auto img-fluid aspect-ratio-item">
                                                        </picture>

                                                    {% else %}

                                                        {%- capture imgSrc -%}
                                                            {% render 'placeholder-svg', type: 'image', base64: true %}
                                                        {%- endcapture -%}

                                                        <img
                                                            class="lazy d-block mx-auto img-fluid aspect-ratio-item svg-placeholder"
                                                            alt="{{ relatedItem.name }}"
                                                            data-src="{{ imgSrc }}">

                                                    {% endif %}

                                                </div>

                                            </div>

                                        </a>

                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                    {% endif %}

                    {% if store.customer_accounts_enabled == false or store.customer_accounts_optional == true or customer %}

                        {% if store.customer_accounts_require_approval == false or customer.has_access %}

                            {% if product.inventory_policy == 'continue' or product.in_stock and product.only_preview == false %}

                                <div class="product-form">

                                    {% form 'product', product %}

                                        <input type="hidden" name="product_id" value="{{ product.id }}">

                                        {% unless section.settings.showQuantitySelect %}
                                            <input type="hidden" name="quantity" value="{{ product.min_amount }}">
                                        {% endunless %}

                                        {% if product.attributes.size > 0 %}

                                            <div class="product-attributes">

                                                {% assign showOptionPrice = section.settings.showProductOptionPrice %}
                                                {% assign showOptionTotalPrice = section.settings.showProductOptionTotalPrice %}
                                                {% assign showOptionStockBalance = section.settings.showProductOptionStockBalance %}
                                                {% assign inventoryPolicy = product.inventory_policy %}
                                                {% assign isPreviewProduct = product.only_preview %}
                                                {% assign unit = product.unit %}

                                                {% for attribute in product.attributes %}

                                                    {%- if attribute.input_type == 'select' -%}

                                                        {% render 'product-attributes/select', attribute: attribute, showOptionPrice: showOptionPrice, showOptionTotalPrice: showOptionTotalPrice, showOptionStockBalance: showOptionStockBalance, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct, unit: unit %}

                                                    {%- elsif attribute.input_type == 'radio' -%}

                                                        {% render 'product-attributes/radio', attribute: attribute, showOptionPrice: showOptionPrice, showOptionTotalPrice: showOptionTotalPrice, showOptionStockBalance: showOptionStockBalance, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct, unit: unit %}

                                                    {%- elsif attribute.input_type == 'checkbox' -%}

                                                        {% render 'product-attributes/checkbox', attribute: attribute, showOptionPrice: showOptionPrice, showOptionTotalPrice: showOptionTotalPrice, showOptionStockBalance: showOptionStockBalance, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct, unit: unit %}

                                                    {%- elsif attribute.input_type == 'text' -%}

                                                        {% render 'product-attributes/text', attribute: attribute, showOptionPrice: showOptionPrice, showOptionTotalPrice: showOptionTotalPrice, showOptionStockBalance: showOptionStockBalance, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct, unit: unit %}

                                                    {%- endif -%}

                                                {% endfor %}

                                            </div>

                                        {% endif %}

                                        {% if section.settings.showQuantitySelect %}

                                            <div class="product-quantity-container form-group">

                                                <label for="product-quantity-input">
                                                    {{ 'general.quantity' | t }}
                                                </label>

                                                <div class="product-quantity">

                                                    <button type="button" class="btn btn-text product-quantity-decrease">
                                                        {%- render 'icon', icon: 'light/subtract' -%}
                                                    </button>

                                                    <input type="tel" id="product-quantity-input" name="quantity" class="product-quantity-input" value="{{ product.min_amount }}" min="{% if product.min_amount %}{{ product.min_amount }}{% else %}1{% endif %}"{% if product.max_amount %} max="{{ product.max_amount }}"{% endif %} pattern="[0-9]{1,3}">

                                                    <button type="button" class="btn btn-text product-quantity-increase">
                                                        {%- render 'icon', icon: 'light/add' -%}
                                                    </button>

                                                </div>

                                            </div>

                                        {% endif %}

                                        <div class="product-action-add-to-cart d-flex">

                                            <button type="button" class="btn btn-section btn-lg btn-block" data-cart-add data-cart-form>
                                                {{ 'cart.add' | t }}
                                            </button>

                                            {% if session.logged_in %}

                                                <button type="button" class="btn btn-text ml-1 btn btn-text p-2 product-wishlist-action bordered" data-wishlist-toggle="{{ product.id }}" aria-pressed="{{ product.in_customers_wishlist | yepnope: 'true', 'false' }}">
                                                    {%- render 'icon', icon: 'regular/love-it', class: 'svg-icon-lg svg-icon-fw' -%}
                                                </button>

                                            {% endif %}

                                        </div>

                                        {% render 'form-error', error: form.error, class: 'form-group' %}

                                        {% if settings.klarnaPlacementsClientId %}

                                            {%- if settings.taxFreePrices -%}
                                                {% assign itemPrice = product.net_price %}
                                            {%- else -%}
                                                {% assign itemPrice = product.price %}
                                            {%- endif -%}

                                            <div class="mt-3">

                                                {% render 'klarna-placement', type: 'credit-promotion-auto-size', purchaseAmount: itemPrice %}

                                            </div>

                                        {% endif %}

                                        {%- if section.settings.showStockBalance and product.inventory_policy == 'deny' and product.only_preview == false -%}
                                            {%- assign showStockBalance = true -%}
                                        {%- endif -%}

                                        {% if showStockBalance %}

                                            <div class="product-stock-balance">

                                                {%- render 'icon', icon: 'regular/warehouse-storage-2', class: 'svg-icon-fw svg-icon-lg' -%}

                                                <span class="font-weight-bold ml-3">
                                                    {{ 'product.stock_balance_available' | t }} {{ product.stock | default: '0' }} {{ product.unit }}
                                                </span>

                                            </div>

                                        {% endif %}

                                        {% if product.deliverytime and product.deliverytime.max.days > 0 %}

                                            <div class="product-delivery-time">

                                                {%- render 'icon', icon: 'regular/delivery-truck-clock', class: 'svg-icon-fw svg-icon-lg' -%}

                                                <span class="font-weight-bold ml-3">
                                                    {{ 'product.delivery_time_dynamic' | t: min_days: product.deliverytime.min.days, max_days: product.deliverytime.max.days }}
                                                </span>

                                            </div>

                                        {% endif %}

                                        {% if product.returntime and product.returntime.days %}

                                            <div class="product-return-time">

                                                {%- render 'icon', icon: 'regular/keyboard-arrow-return', class: 'svg-icon-fw svg-icon-lg' -%}

                                                <span class="font-weight-bold ml-3">
                                                    {{ 'product.return_time_dynamic' | t: days: product.returntime.days }}
                                                </span>

                                            </div>

                                        {% endif %}

                                    {% endform %}

                                </div>

                            {% elsif product.inventory_policy == 'deny' and product.in_stock == false and product.only_preview == false %}

                                <div class="product-form">

                                    <div class="product-info-out-of-stock">

                                        <span class="product-info-out-of-stock-text btn btn-section btn-block disabled">
                                            {{ 'product.out_of_stock' | t }}
                                        </span>

                                    </div>

                                </div>

                            {% endif %}

                        {% endif %}

                    {% endif %}

                    <div class="product-details accordion">

                        {% if product.description %}

                            <div class="card">

                                <div class="card-header">

                                    <button class="btn btn-block btn-text d-flex" data-toggle="collapse" data-target="#accordion-product-description">

                                        <span>
                                            {{ 'product.description' | t }}
                                        </span>

                                        <span class="accordion-indicator">
                                            {%- render 'icon', icon: 'regular/arrow-down-1' -%}
                                        </span>

                                    </button>

                                </div>

                                <div id="accordion-product-description" class="collapse">

                                    <div class="product-description card-body">
                                        {{ product.description }}
                                    </div>

                                </div>

                            </div>

                        {% endif %}

                        {% if product.attachments.size %}

                            <div class="card">

                                <div class="card-header">

                                    <button class="btn btn-block btn-text d-flex" data-toggle="collapse" data-target="#accordion-product-attachments">

                                        <span>
                                            {{ 'product.attachments' | t }}
                                        </span>

                                        <span class="accordion-indicator">
                                            {%- render 'icon', icon: 'regular/arrow-down-1' -%}
                                        </span>

                                    </button>

                                </div>

                                <div id="accordion-product-attachments" class="collapse">

                                    <div class="product-attachments card-body">

                                        {% for attachment in product.attachments %}

                                            <a href="{{ attachment.href }}" class="product-attachment-item d-flex align-items-center">

                                                {%- render 'icon', icon: 'regular/download-bottom', class: 'svg-icon-2x' -%}

                                                <span class="ml-3">{{ attachment.name }}</span>
                                            </a>

                                        {% endfor %}

                                    </div>

                                </div>

                            </div>

                        {% endif %}

                        {% if product.reviews_are_enabled %}

                            <div class="card">

                                <div class="card-header">

                                    <button class="btn btn-block btn-text d-flex align-items-center" data-toggle="collapse" data-target="#accordion-product-reviews">

                                        <span class="mr-2">{{ 'product.reviews' | t }} ({{ product.review_count }})</span>

                                        <div class="product-review-icons">

                                            {% for rating in (1..product.max_rating) %}

                                                <div class="product-review-icon">

                                                    {% if product.rating >= rating %}

                                                        {%- render 'icon', icon: 'bold/rating-star' -%}

                                                    {% else %}

                                                        {%- render 'icon', icon: 'regular/rating-star' -%}

                                                    {% endif %}

                                                </div>

                                            {% endfor %}

                                        </div>

                                        <span class="accordion-indicator">
                                            {%- render 'icon', icon: 'regular/arrow-down-1' -%}
                                        </span>

                                    </button>

                                </div>

                                <div id="accordion-product-reviews" class="collapse{% if submitted_form.id == 'product-review-form'%} show{% endif %}">

                                    <div class="product-reviews card-body">

                                        {% if product.reviews_are_enabled %}

                                            <div class="mb-4">

                                                {% if product.customer_can_review %}

                                                    <button id="product-review-create" class="btn btn-outline-section{% if submitted_form.id == 'product-review-form' and submitted_form.error %} d-none{% endif %}">
                                                        {{ 'product.write_review' | t }}
                                                    </button>

                                                    <div class="product-review-form{% unless submitted_form.id == 'product-review-form' and submitted_form.error %} d-none{% endunless %}">

                                                        {% form 'review', product id: 'product-review-form' %}

                                                            <div class="form-group form-floating">

                                                                <input name="name" type="text" id="product-review-name" class="form-control" placeholder="{{ 'general.name' | t }}" value="{{ form.submitted.name | escape }}" required>

                                                                <label for="product-review-name">
                                                                    {{ 'general.name' | t }}
                                                                </label>

                                                            </div>

                                                            <div class="form-group form-floating">

                                                                <input name="title" type="text" id="product-review-title" class="form-control" placeholder="{{ 'general.title' | t }}" value="{{ form.submitted.title | escape }}" required>

                                                                <label for="product-review-title">
                                                                    {{ 'general.title' | t }}
                                                                </label>

                                                            </div>

                                                            <div class="form-group">

                                                                <textarea name="comment" class="form-control" rows="5" placeholder="{{ 'product.write_review' | t }}" value="{{ form.submitted.comment | escape }}" required></textarea>

                                                            </div>

                                                            <div class="form-group d-flex justify-content-between align-items-center">

                                                                <span class="h5 mb-0">
                                                                    {{ 'product.review_grade' | t }}
                                                                </span>

                                                                <fieldset class="product-review-rating ml-2">

                                                                    <input type="radio" id="product-review-rating-5" name="rating" value="5"{% if form.submitted.rating | escape == '5' %} checked{% endif %}>
                                                                    <label for="product-review-rating-5" title="5">
                                                                        {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                                                                    </label>

                                                                    <input type="radio" id="product-review-rating-4" name="rating" value="4"{% if form.submitted.rating | escape == '4' %} checked{% endif %}>
                                                                    <label for="product-review-rating-4" title="4">
                                                                        {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                                                                    </label>

                                                                    <input type="radio" id="product-review-rating-3" name="rating" value="3"{% if form.submitted.rating | escape == '3' %} checked{% endif %}>
                                                                    <label for="product-review-rating-3" title="3">
                                                                       {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                                                                    </label>

                                                                    <input type="radio" id="product-review-rating-2" name="rating" value="2"{% if form.submitted.rating | escape == '2' %} checked{% endif %}>
                                                                    <label for="product-review-rating-2" title="2">
                                                                        {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                                                                    </label>

                                                                    <input type="radio" id="product-review-rating-1" name="rating" value="1"{% if form.submitted.rating | escape == '1' %} checked{% endif %}>
                                                                    <label for="product-review-rating-1" title="1">
                                                                        {%- render 'icon', icon: 'bold/rating-star', class: 'svg-icon-fill' -%}
                                                                    </label>

                                                                </fieldset>

                                                            </div>

                                                            {% render 'form-error', error: form.error, class: 'form-group' %}

                                                            <div class="form-group text-right">

                                                                <button type="button" id="product-review-cancel" class="btn btn-outline-section">{{ 'general.cancel' | t }}</button>

                                                                <button type="submit" class="btn btn-section">{{ 'general.submit' | t }}</button>

                                                            </div>

                                                        {% endform %}

                                                    </div>

                                                {% elsif session.logged_in == false and product.reviews_require_account %}

                                                    <span>
                                                        {{ 'product.review_account_required' | t }}
                                                    </span>

                                                {% elsif product.customer_has_purchased == false and product.reviews_require_purchase %}

                                                    <span>
                                                        {{ 'product.review_purchase_required' | t }}
                                                    </span>

                                                {% elsif product.customer_has_reviewed %}

                                                    {% if product.reviews_require_approval %}

                                                        <span>
                                                            {{ 'product.review_publish_pending' | t }}
                                                        </span>

                                                    {% else %}

                                                        <span>
                                                            {{ 'product.review_already_given' | t }}
                                                        </span>

                                                    {% endif %}

                                                {% endif %}

                                            </div>

                                        {% endif %}

                                        {% for review in product.reviews %}

                                            <div class="product-review">

                                                <div class="product-review-title mb-0">

                                                    <span class="product-review-title">
                                                        {{ review.name }}
                                                    </span>

                                                </div>

                                                <div class="product-review-date">

                                                    {%- assign dateFormat = 'general.date_format' | t  -%}

                                                    <i><time datetime="{{ review.created_at | date: "%F" }}">{{ review.created_at  | date: dateFormat }}</time></i>

                                                </div>

                                                <div class="product-review-rating">

                                                    <div class="product-review-icons">

                                                        {% for rating in (1..product.max_rating) %}

                                                            <div class="product-review-icon">

                                                                {% if review.rating >= rating %}

                                                                    {%- render 'icon', icon: 'bold/rating-star' -%}

                                                                {% else %}

                                                                    {%- render 'icon', icon: 'regular/rating-star' -%}

                                                                {% endif %}

                                                            </div>

                                                        {% endfor %}

                                                    </div>

                                                </div>

                                                <div class="product-review-content">

                                                    <p class="mb-0"><strong>{{ review.title }}</strong></p>

                                                    {{ review.review }}

                                                </div>

                                            </div>

                                        {% endfor %}

                                    </div>

                                </div>

                            </div>

                        {% endif %}

                        {% if product.model or product.gtin %}

                            <div class="card">

                                <div class="card-header">

                                    <button class="btn btn-block btn-text d-flex" data-toggle="collapse" data-target="#accordion-product-additional-information">

                                        <span>
                                            {{ 'product.additional_information' | t }}
                                        </span>

                                        <span class="accordion-indicator">
                                            {%- render 'icon', icon: 'regular/arrow-down-1' -%}
                                        </span>

                                    </button>

                                </div>

                                <div id="accordion-product-additional-information" class="collapse">

                                    <div class="product-additional-information card-body">

                                        {% if product.model %}

                                            <div class="d-flex{% if product.gtin %} mb-2{% endif %}">

                                                <span class="font-weight-bold">
                                                    {{ 'product.model_number' | t }}:
                                                </span>

                                                <span class="ml-2">
                                                    {{ product.model }}
                                                </span>

                                            </div>

                                        {% endif %}

                                        {% if product.gtin %}

                                            <div class="product-additional-information-item d-flex">

                                                <span class="font-weight-bold">
                                                    {{ 'product.product_identifier' | t }}:
                                                </span>

                                                <span class="ml-2">
                                                    {{ product.gtin }}
                                                </span>

                                            </div>

                                        {% endif %}

                                    </div>

                                </div>

                            </div>

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

        {% if product.similar.size > 0 or request.design_mode %}

            {%- assign carouselTitle = 'product.similar_products' | t -%}

            <div class="mt-4">

                {% render 'section-header', sectionTitle: carouselTitle, sectionContentContainer: 'none' %}

                <div class="product-carousel mt-4">
                    {% render 'product-carousel', items: product.similar, navigation: 'hover', pagination: 'hover', productShowAddToCart: false %}
                </div>

            </div>

        {% endif %}

        {% if product.compatible.size > 0 or request.design_mode %}

            {%- assign carouselTitle = 'product.compatible_products' | t -%}

            <div class="mt-4">

                {% render 'section-header', sectionTitle: carouselTitle, sectionContentContainer: 'none' %}

                <div class="product-carousel mt-4">
                    {% render 'product-carousel', items: product.compatible, navigation: 'hover', pagination: 'hover', productShowAddToCart: false %}
                </div>

            </div>

        {% endif %}

    {% endif %}

{%- endcapture -%}

{% if request.uri contains 'create_review=true' and product.customer_has_reviewed == false and product.reviews_are_enabled  %}

    {%- assign sectionTitle = 'product.write_product_review' | t -%}
    {%- assign sectionSubtitle = product.name -%}

    {% render 'section', sectionTitle: sectionTitle, sectionSubtitle: sectionSubtitle, sectionContent: sectionContent, sectionContentContainer: 'tiny', sectionOverlay: true %}

{% else %}

    {% if section.settings.showBreadcrumbs %}
        {%- assign sectionBreadcrumbs = product.breadcrumbs -%}
    {% endif %}

    {% render 'section', section: section, sectionContent: sectionContent, sectionBreadcrumbs: sectionBreadcrumbs %}

{% endif %}

{% render 'schemas/product', product: product %}
{% render 'schemas/breadcrumb-list', breadcrumb: product.breadcrumbs %}

{% schema %}
{
    "name": {
        "en": "Product",
        "fi": "Tuote"
    },
    "tag": "div",
    "class": "section section-product-card has-lazy",
    "is_creatable": false,
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "showBreadcrumbs",
                        "type": "checkbox",
                        "label": {
                            "en": "Show breadcrumbs",
                            "fi": "Nyt leivnmuru"
                        },
                        "default": true
                    },
                    {
                        "id": "showQuantitySelect",
                        "type": "checkbox",
                        "label": {
                            "en": "Show quantity select",
                            "fi": "Nyt mrvalinta"
                        },
                        "default": false
                    },
                    {
                        "id": "showStockBalance",
                        "type": "checkbox",
                        "label": {
                            "en": "Show stock balance",
                            "fi": "Nyt varastosaldo"
                        },
                        "default": false
                    },
                    {
                        "id": "showProductOptionPrice",
                        "type": "checkbox",
                        "label": {
                            "en": "Show product option price",
                            "fi": "Nyt tuotevalinnan hinta"
                        },
                        "default": true
                    },
                    {
                        "id": "showProductOptionTotalPrice",
                        "type": "checkbox",
                        "label": {
                            "en": "Show total price of the product and product option in the product option",
                            "fi": "Nyt tuotevalinnassa tuotteen ja tuotevalinnan yhteishinta"
                        },
                        "default": false
                    },
                    {
                        "id": "showProductOptionStockBalance",
                        "type": "checkbox",
                        "label": {
                            "en": "Show product option stock balance",
                            "fi": "Nyt tuotevalinnan varastosaldo"
                        },
                        "default": false
                    }
                ]
            }
        ]
    }
}
{% endschema %}