{%- assign itemCount = search.results.size -%}

{%- capture sectionContent -%}

	{%- paginate search.results by 100 -%}

		<div class="row">

            <div class="col-auto">

                <span class="text-muted">
                    {% if itemCount == 1 %}
                        {{ 'general.product_count' | t: amount: itemCount }}
                    {% else %}
                        {{ 'general.product_plural_count' | t: amount: itemCount }}
                    {% endif %}
                </span>

            </div>

            <div class="col text-right">

                {% form 'sort' id: 'product-sort' %}

                	{%- assign activeSortByFilter = request.get.sort-by | default: 'default' -%}
                    {%- assign sortByFilters = "default,price-ascending,price-descending,title-ascending,title-descending,created-ascending,created-descending" | split: ',' -%}

                    <input type="hidden" name="sort-by" value="{% if request.get.sort-by %}{{ request.get.sort-by }}{% else %}default{% endif %}">

                    <div class="dropdown">

                        <button type="button" class="btn btn-text text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="mr-1">

                                {% for filter in sortByFilters %}

                                    {% if filter == activeSortByFilter %}
                                        {{ filter | prepend: 'filters.sort-by.' | t }}
                                    {% endif %}

                                {% endfor %}

                            </span>

                            {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}

                        </button>

                        <div class="dropdown-menu dropdown-menu-right">

                            {% for filter in sortByFilters %}

                                <button type="button" class="sort-by-action dropdown-item" value="{{ filter }}">
                                    {{ filter | prepend: 'filters.sort-by.' | t }}
                                </button>

                            {% endfor %}

                        </div>

                    </div>

                {% endform %}

            </div>

        </div>

	    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ section.settings.itemsPerRow }}">

            {% for product in search.results %}

                <div class="col pt-3 pb-4">

                    {%- render 'product-card-grid', product: product, wishlist: 'toggle', itemsPerRow: section.settings.itemsPerRow, showBadges: section.settings.showBadges, showManufacturer: section.settings.showManufacturer, showProductName: section.settings.showProductName, showPricing: section.settings.showPricing -%}

                </div>

            {% endfor %}

        </div>

	    <div class="row">

	        <div class="col">

	            {% render 'pagination', paginate: paginate %}

	        </div>

	    </div>

	{%- endpaginate -%}

{%- endcapture -%}

{%- if search.results.size > 1 -%}

	{% if search.search_term | rstrip > 1 %}

		{%- capture sectionTitle -%}
			{{ 'general.search_results_for' | t }} "{{ search.search_term }}"
		{%- endcapture -%}

		{% assign sectionTitle = sectionTitle %}
		{% assign sectionSubtitle = '' %}

	{% else %}

		{% assign sectionTitle = 'general.product_catalog' | t %}

	{% endif %}

{% else %}

	{%- capture sectionTitle -%}
		{{ 'general.search_results_for' | t }} "{{ search.search_term }}"
	{%- endcapture -%}

	{% assign sectionTitle = sectionTitle %}
	{% assign sectionSubtitle = 'general.search_no_results' | t %}
	{% assign sectionContent = false %}

{%- endif -%}

{% render 'section', sectionTitle: sectionTitle, sectionSubtitle: sectionSubtitle, sectionContent: sectionContent %}

{% schema %}
{
    "name": {
        "en": "Search",
        "fi": "Haku"
    },
    "tag": "div",
    "class": "section section-search",
    "is_creatable": false,
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "itemsPerRow",
                        "label": {
                            "en": "Products per row",
                            "fi": "Tuotteita per rivi"
                        },
                        "type": "range",
                        "min": 2,
                        "max": 6,
                        "step": 1,
                        "default": 4,
                        "unit": " "
                    },
                    {
                        "id": "showBadges",
                        "type": "checkbox",
                        "label": {
                            "en": "Show badges",
                            "fi": "Näytä merkit"
                        },
                        "default": true
                    },
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Show manufacturer",
                            "fi": "Näytä valmistaja"
                        },
                        "default": true
                    },
                    {
                        "id": "showProductName",
                        "type": "checkbox",
                        "label": {
                            "en": "Show product name",
                            "fi": "Näytä tuotteen nimi"
                        },
                        "default": true
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Show price infomration",
                            "fi": "Näytä hintatiedot"
                        },
                        "default": true
                    }
                ]
            }
        ]
    }
}
{% endschema %}