{%- assign itemCount = search.results.size -%}
{%- assign searchTerm = search.search_term | rstrip -%}
{%- assign activeSortOption = search.sort_by | default: search.default_sort_by -%}
{%- assign sortOptions = search.sort_options -%}

{%- capture sectionContent -%}

	{%- paginate search.results by 100 -%}

		<div class="row {{ search.term }}">

            <div class="col-auto">

                <span class="text-muted">
                    {% if itemCount == 1 %}
                        {{ 'general.product_count' | t: amount: itemCount }}
                    {% else %}
                        {{ 'general.product_plural_count' | t: amount: itemCount }}
                    {% endif %}
                </span>

            </div>

            <div class="col text-right">

                <div class="dropdown">

                    <button type="button" class="btn btn-text text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="mr-1">

                            {% for option in sortOptions %}

                                {% if option == activeSortOption %}
                                    {{ option | prepend: 'filters.sort-by.' | t }}
                                {% endif %}

                            {% endfor %}

                        </span>

                        {%- render 'icon', icon: 'arrow-down-1-dzphtd' -%}

                    </button>

                    <div class="dropdown-menu dropdown-menu-right">

                        {% for option in sortOptions %}

                            <button type="button" class="sort-by-action dropdown-item" value="{{ option }}">
                                {{ option | prepend: 'filters.sort-by.' | t }}
                            </button>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

	    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-{{ section.settings.itemsPerRow }}">

            {% for product in search.results %}

                <div class="col pt-3 pb-4">

                    {%- render 'product-card-grid', product: product, wishlist: 'toggle', itemsPerRow: section.settings.itemsPerRow, showBadges: section.settings.showBadges, showManufacturer: section.settings.showManufacturer, showProductName: section.settings.showProductName, showPricing: section.settings.showPricing -%}

                </div>

            {% endfor %}

        </div>

	    <div class="row">

	        <div class="col">

	            {% render 'pagination', paginate: paginate %}

	        </div>

	    </div>

	{%- endpaginate -%}

{%- endcapture -%}

{%- if itemCount > 0 -%}

	{% if searchTerm.size > 0 %}

		{%- capture sectionTitle -%}
			{{ 'general.search_results_for' | t }} "{{ searchTerm }}"
		{%- endcapture -%}

		{% assign sectionTitle = sectionTitle %}
		{% assign sectionSubtitle = '' %}

	{% else %}

		{% assign sectionTitle = 'general.product_catalog' | t %}

	{% endif %}

{% else %}

	{%- capture sectionTitle -%}
		{{ 'general.search_results_for' | t }} "{{ searchTerm }}"
	{%- endcapture -%}

	{% assign sectionTitle = sectionTitle %}
	{% assign sectionSubtitle = 'general.search_no_results' | t %}
	{% assign sectionContent = false %}

{%- endif -%}

{% render 'section', sectionTitle: sectionTitle, sectionSubtitle: sectionSubtitle, sectionContent: sectionContent %}

{% schema %}
{
    "name": {
        "en": "Search",
        "fi": "Haku"
    },
    "tag": "div",
    "class": "section section-search",
    "is_creatable": false,
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "General",
                    "fi": "Yleinen"
                },
                "settings": [
                    {
                        "id": "itemsPerRow",
                        "label": {
                            "en": "Products per row",
                            "fi": "Tuotteita per rivi"
                        },
                        "type": "range",
                        "min": 2,
                        "max": 6,
                        "step": 1,
                        "default": 4,
                        "unit": " "
                    },
                    {
                        "id": "showBadges",
                        "type": "checkbox",
                        "label": {
                            "en": "Show badges",
                            "fi": "Näytä merkit"
                        },
                        "default": true
                    },
                    {
                        "id": "showManufacturer",
                        "type": "checkbox",
                        "label": {
                            "en": "Show manufacturer",
                            "fi": "Näytä valmistaja"
                        },
                        "default": true
                    },
                    {
                        "id": "showProductName",
                        "type": "checkbox",
                        "label": {
                            "en": "Show product name",
                            "fi": "Näytä tuotteen nimi"
                        },
                        "default": true
                    },
                    {
                        "id": "showPricing",
                        "type": "checkbox",
                        "label": {
                            "en": "Show price information",
                            "fi": "Näytä hintatiedot"
                        },
                        "default": true
                    }
                ]
            }
        ]
    }
}
{% endschema %}