{%- capture sectionContent -%}

    <div class="row">

        {% for item in section.settings.setting_blocks.items %}

            {%- assign imgSrc = item.settings.imgSrc -%}

            <div class="col-12 col-lg{% if section.settings.setting_blocks.items.size > 1 %} col-md-6{% endif %} py-4">

                {% if item.settings.imgAspectRatio != 'off' %}

                    {% if item.settings.imgPlaceholder and imgSrc == '' %}

                        <div class="aspect-ratio-{{ item.settings.imgAspectRatio | replace: ':', '-' }} mb-4">

                            <div class="aspect-ratio-container" data-finqu-inline-editor="items.{{ item.id }}.imgSrc">

                                {%- capture class -%}
                                    aspect-ratio-item{% if item.settings.imgEffect != 'none' %} {{ item.settings.imgEffect }}{% endif %}
                                {%- endcapture -%}

                                {% render 'placeholder-svg', type: 'image', class: class %}

                            </div>

                        </div>

                    {% elsif imgSrc %}

                        <div class="aspect-ratio-{{ item.settings.imgAspectRatio | replace: ':', '-' }} mb-4">

                            {% if item.settings.imgAspectRatio == '16:9' %}

                                {%- assign imgSizeSm = '374,211' -%}
                                {%- assign imgSizeMd = '320,180' -%}

                                {%- case section.settings.setting_blocks.items.size -%}
                                    {% when 1 %}
                                        {%- assign imgSizeLg = '1300,732' -%}
                                    {% when 2 %}
                                        {%- assign imgSizeLg = '630,355' -%}
                                    {% when 3 %}
                                        {%- assign imgSizeLg = '407,229' -%}
                                    {% when 4 %}
                                        {%- assign imgSizeLg = '295,166' -%}
                                {%- endcase -%}

                            {% elsif item.settings.imgAspectRatio == '9:13' %}

                                {%- assign imgSizeSm = '374,541' -%}
                                {%- assign imgSizeMd = '320,463' -%}

                                {%- case section.settings.setting_blocks.items.size -%}
                                    {% when 1 %}
                                        {%- assign imgSizeLg = '1300,1878' -%}
                                    {% when 2 %}
                                        {%- assign imgSizeLg = '630,910' -%}
                                    {% when 3 %}
                                        {%- assign imgSizeLg = '407,588' -%}
                                    {% when 4 %}
                                        {%- assign imgSizeLg = '295,427' -%}
                                {%- endcase -%}

                            {% elsif item.settings.imgAspectRatio == '4:3' %}

                                {%- assign imgSizeSm = '374,281' -%}
                                {%- assign imgSizeMd = '320,240' -%}

                                {%- case section.settings.setting_blocks.items.size -%}
                                    {% when 1 %}
                                        {%- assign imgSizeLg = '1300,975' -%}
                                    {% when 2 %}
                                        {%- assign imgSizeLg = '630,473' -%}
                                    {% when 3 %}
                                        {%- assign imgSizeLg = '407,305' -%}
                                    {% when 4 %}
                                        {%- assign imgSizeLg = '295,222' -%}
                                {%- endcase -%}

                            {% elsif item.settings.imgAspectRatio == '1:1' %}

                                {%- assign imgSizeSm = '374,374' -%}
                                {%- assign imgSizeMd = '320,320' -%}

                                {%- case section.settings.setting_blocks.items.size -%}
                                    {% when 1 %}
                                        {%- assign imgSizeLg = '1300,1300' -%}
                                    {% when 2 %}
                                        {%- assign imgSizeLg = '630,630' -%}
                                    {% when 3 %}
                                        {%- assign imgSizeLg = '407,407' -%}
                                    {% when 4 %}
                                        {%- assign imgSizeLg = '295,295' -%}
                                {%- endcase -%}

                            {% endif %}

                            <div class="aspect-ratio-container">

                                <picture>
                                    <source media="(min-width: 992px)" data-srcset="
                                        {{ imgSrc | thumb: imgSizeLg }} 1x,
                                        {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                    {%- if section.settings.setting_blocks.items.size == 1 -%}
                                        <source media="(min-width: 576px)" data-srcset="
                                            {{ imgSrc | thumb: imgSizeMd }} 1x,
                                            {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">
                                    {%- endif -%}

                                    <source data-srcset="
                                        {{ imgSrc | thumb: imgSizeSm }} 1x,
                                        {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                    <img
                                        alt="{{ item.settings.imgAlt }}"
                                        data-src="{{ imgSrc | thumb: imgSizeSm }}"
                                        data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x,{{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                        class="lazy aspect-ratio-item {% if item.settings.imgFit %}aspect-ratio-item-cover{% else %}aspect-ratio-item-contain{% endif %}{% if item.settings.imgEffect != 'none' %} {{ item.settings.imgEffect }}{% endif %}"
                                        data-finqu-inline-editor="items.{{ item.id }}.imgSrc">
                                </picture>

                            </div>

                        </div>

                    {% endif %}

                {% else %}

                    <div class="mb-4">

                        {% if item.settings.imgPlaceholder and imgSrc == '' %}

                            <div data-finqu-inline-editor="items.{{ item.id }}.imgSrc">

                                {% render 'placeholder-svg', type: 'image' %}

                            </div>

                        {% elsif imgSrc %}

                            {%- assign imgSizeSm = '375,375' -%}
                            {%- assign imgSizeMd = '680,680' -%}

                            {%- case section.settings.setting_blocks.items.size -%}
                                {% when 1 %}
                                    {%- assign imgSizeLg = '1100,1100' -%}
                                {% when 2 %}
                                    {%- assign imgSizeLg = '530,530' -%}
                                {% when 3 %}
                                    {%- assign imgSizeLg = '340,340' -%}
                                {% when 4 %}
                                    {%- assign imgSizeLg = '245,245' -%}
                            {%- endcase -%}

                            <picture>

                                <source media="(min-width: 992px)" data-srcset="
                                    {{ imgSrc | thumb: imgSizeLg }} 1x,
                                    {{ imgSrc | thumb: imgSizeLg | thumb:'@2x' }} 2x">

                                {%- if section.settings.setting_blocks.items.size == 1 -%}
                                    <source media="(min-width: 576px)" data-srcset="
                                        {{ imgSrc | thumb: imgSizeMd }} 1x,
                                        {{ imgSrc | thumb: imgSizeMd | thumb:'@2x' }} 2x">
                                {%- endif -%}

                                <source data-srcset="
                                    {{ imgSrc | thumb: imgSizeSm }} 1x,
                                    {{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x">

                                <img
                                    alt="{{ item.settings.imgAlt }}"
                                    data-src="{{ imgSrc | thumb: imgSizeSm }}"
                                    data-srcset="{{ imgSrc | thumb: imgSizeSm }} 1x,{{ imgSrc | thumb: imgSizeSm | thumb:'@2x' }} 2x"
                                    class="lazy d-block mx-auto img-fluid {% if item.settings.imgEffect != 'none' %} {{ item.settings.imgEffect }}{% endif %}"
                                    data-finqu-inline-editor="items.{{ item.id }}.imgSrc">
                            </picture>

                        {% endif %}

                    </div>

                {% endif %}

                <div data-finqu-inline-editor="items.{{ item.id }}.richtextHtml">{{ item.settings.richtextHtml }}</div>

            </div>

        {% endfor %}

    </div>

{%- endcapture -%}

{% render 'section', section: section, sectionContent: sectionContent %}

{% schema %}
{
    "name": {
        "en": "Text columns",
        "fi": "Tekstisarakkeet"
    },
    "tag": "section",
    "class": "section section-text-columns has-lazy",
    "settings": {
        "list_type": "tabs",
        "groups": [
            {
                "title": {
                    "en": "Content",
                    "fi": "Sisältö"
                },
                "id": "items",
                "max_blocks": 4,
                "call_to_action": {
                    "en": "Add a item",
                    "fi": "Lisää kohde"
                },
                "is_sortable": true,
                "setting_blocks": [
                    {
                        "type": "item",
                        "title": {
                            "en": "Item",
                            "fi": "Kohde"
                        },
                        "settings": [
                            {
                                "id": "imgPlaceholder",
                                "type": "hidden"
                            },
                            {
                                "id": "imgSrc",
                                "type": "image-picker",
                                "label": {
                                    "en": "Image",
                                    "fi": "Kuva"
                                }
                            },
                            {
                                "id": "imgAlt",
                                "type": "text",
                                "label": {
                                    "en": "Image alt",
                                    "fi": "Kuvan alt-teksti"
                                }
                            },
                            {
                                "id": "imgEffect",
                                "type": "select",
                                "label": {
                                    "en": "Image effect",
                                    "fi": "Kuvan effekti"
                                },
                                "default": "none",
                                "options": [
                                    {
                                        "value": "none",
                                        "label": {
                                            "en": "None",
                                            "fi": "Ei mitään"
                                        }
                                    },
                                    {
                                        "value": "rounded",
                                        "label": {
                                            "en": "Rounded",
                                            "fi": "Pyöristetty"
                                        }
                                    },
                                    {
                                        "value": "rounded-circle",
                                        "label": {
                                            "en": "Circle",
                                            "fi": "Ympyrä"
                                        }
                                    }
                                ]
                            },
                            {
                                "id": "imgAspectRatio",
                                "type": "select",
                                "label": {
                                    "en": "Aspect ratio",
                                    "fi": "Kuvasuhde"
                                },
                                "default": "1:1",
                                "options": [
                                    {
                                        "value": "off",
                                        "label": {
                                            "en": "Original",
                                            "fi": "Alkuperäinen"
                                        }
                                    },
                                    {
                                        "value": "16:9",
                                        "label": "16:9"
                                    },
                                    {
                                        "value": "9:13",
                                        "label": "9:13"
                                    },
                                    {
                                        "value": "4:3",
                                        "label": "4:3"
                                    },
                                    {
                                        "value": "1:1",
                                        "label": "1:1"
                                    }
                                ]
                            },
                            {
                                "id": "imgFit",
                                "type": "checkbox",
                                "label": {
                                    "en": "Image area fill",
                                    "fi": "Kuva-alueen täyttö"
                                },
                                "default": false,
                                "conditions": ["!imgAspectRatio eq off"]
                            },
                            {
                                "id": "richtextHtml",
                                "type": "richtext",
                                "label": {
                                    "en": "Text",
                                    "fi": "Teksti"
                                },
                                "inline": "true"
                            }
                        ]
                    }
                ]
            },
            {
                "title": {
                    "en": "Section",
                    "fi": "Osio"
                },
                "settings": {
                    "list_type": "tabs",
                    "groups": [
                        {
                            "title": {
                                "en": "Layout",
                                "fi": "Näkymä"
                            },
                            "settings": [
                                {
                                    "id": "sectionHeight",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Height",
                                        "fi": "Korkeus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        },
                                        {
                                            "value": "custom",
                                            "label": "{# icon.pencilRegular #}"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionHeightCustomTop",
                                    "label": {
                                        "en": "Top height",
                                        "fi": "Yläosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionHeightCustomBottom",
                                    "label": {
                                        "en": "Bottom height",
                                        "fi": "Alaosan korkeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 100,
                                    "step": 5,
                                    "default": "0",
                                    "unit": "px",
                                    "conditions": ["sectionHeight eq custom"]
                                },
                                {
                                    "id": "sectionInnerSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Inner spacing",
                                        "fi": "Sisäinen tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "off",
                                            "label": "OFF"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentSpacing",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content spacing",
                                        "fi": "Sisällön tilavuus"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "",
                                            "label": "Auto"
                                        },
                                        {
                                            "value": "sm",
                                            "label": "S"
                                        },
                                        {
                                            "value": "md",
                                            "label": "M"
                                        },
                                        {
                                            "value": "lg",
                                            "label": "L"
                                        },
                                        {
                                            "value": "xl",
                                            "label": "XL"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentWidth",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content width",
                                        "fi": "Sisällön leveys"
                                    },
                                    "default": "12",
                                    "options": [
                                        {
                                            "value": "6",
                                            "label": "50 %"
                                        },
                                        {
                                            "value": "9",
                                            "label": "75 %"
                                        },
                                        {
                                            "value": "12",
                                            "label": "100 %"
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionContentAlign",
                                    "type": "radio-pill",
                                    "label": {
                                        "en": "Content alignment",
                                        "fi": "Sisällön ryhmittyminen"
                                    },
                                    "default": "center",
                                    "options": [
                                        {
                                            "value": "left",
                                            "label": "{# icon.alignLeftLight #}"
                                        },
                                        {
                                            "value": "center",
                                            "label": "{# icon.alignCenterLight #}"
                                        },
                                        {
                                            "value": "right",
                                            "label": "{# icon.alignRightLight #}"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Background",
                                "fi": "Tausta"
                            },
                            "settings": [
                                {
                                    "id": "sectionBgImgSrc",
                                    "type": "image-picker",
                                    "label": {
                                        "en": "Image",
                                        "fi": "Kuva"
                                    }
                                },
                                {
                                    "id": "sectionBgImgPos",
                                    "type": "select",
                                    "label": {
                                        "en": "Image position",
                                        "fi": "Kuvan sijainti"
                                    },
                                    "default": "",
                                    "options": [
                                        {
                                            "value": "left-top",
                                            "label": {
                                                "en": "Left Top",
                                                "fi": "Vasemmalla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "left-center",
                                            "label": {
                                                "en": "Left Center",
                                                "fi": "Vasemmalla"
                                            }
                                        },
                                        {
                                            "value": "left-bottom",
                                            "label": {
                                                "en": "Left Bottom",
                                                "fi": "Vasemmalla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "right-top",
                                            "label": {
                                                "en": "Right Top",
                                                "fi": "Oikealla ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "right-center",
                                            "label": {
                                                "en": "Right Center",
                                                "fi": "Oikealla"
                                            }
                                        },
                                        {
                                            "value": "right-bottom",
                                            "label": {
                                                "en": "Right Bottom",
                                                "fi": "Oikealla alhaalla"
                                            }
                                        },
                                        {
                                            "value": "center-top",
                                            "label": {
                                                "en": "Center Top",
                                                "fi": "Keskellä ylhäällä"
                                            }
                                        },
                                        {
                                            "value": "center-center",
                                            "label": {
                                                "en": "Center Center",
                                                "fi": "Keskellä"
                                            }
                                        },
                                        {
                                            "value": "center-bottom",
                                            "label": {
                                                "en": "Center Bottom",
                                                "fi": "Keskellä alhaalla"
                                            }
                                        }
                                    ]
                                },
                                {
                                    "id": "sectionBgImgOverlay",
                                    "label": "Overlay",
                                    "label": {
                                        "en": "Overlay",
                                        "fi": "Taustan tummuus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 90,
                                    "step": 10,
                                    "default": "0",
                                    "unit": "%"
                                },
                                {
                                    "id": "sectionBgImgBlur",
                                    "label": {
                                        "en": "Blur",
                                        "fi": "Taustan sumeus"
                                    },
                                    "type": "range",
                                    "min": 0,
                                    "max": 10,
                                    "step": 1,
                                    "default": "0",
                                    "unit": " "
                                },
                                {
                                    "id": "sectionColumnBgColorStatus",
                                    "type": "checkbox",
                                    "label": {
                                        "en": "Enable column background",
                                        "fi": "Näytä sarakkeen tausta"
                                    },
                                    "default": false
                                },
                                {
                                    "id": "sectionColumnBgColor",
                                    "type": "color",
                                    "label": {
                                        "en": "Column background color",
                                        "fi": "Sarakkeen taustaväri"
                                    },
                                    "default": "#ffffff",
                                    "conditions": ["sectionColumnBgColorStatus:truthy eq true"]
                                }
                            ]
                        },
                        {
                            "title": {
                                "en": "Colors",
                                "fi": "Värit"
                            },
                            "settings": [
                                {
                                    "id": "sectionStyle",
                                    "styles_id": "styles",
                                    "type": "style-picker",
                                    "default": "general"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    },
    "presets": [
        {
            "category": "theme-text",
            "settings": {
                "sectionHeight": "",
                "sectionInnerSpacing": "",
                "sectionContentSpacing": "",
                "sectionContentWidth": "12",
                "sectionContentAlign": "center",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionColumnBgColorStatus": false,
                "sectionColumnBgColor": "#ffffff",
                "sectionStyle": "general",
                "setting_blocks": {
                    "items": {
                        "A82d6f21-fe88-48f7-9a65-b3b74befa415": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        },
                        "A024a4fb-7d95-49d0-9016-73820b1d3902": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        },
                        "A02ba9dc-5093-40b7-9210-f14f3d3df83a": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        }
                    }
                }
            }
        },
        {
            "category": "theme-text",
            "settings": {
                "sectionHeight": "",
                "sectionInnerSpacing": "",
                "sectionContentSpacing": "",
                "sectionContentWidth": "12",
                "sectionContentAlign": "center",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionColumnBgColorStatus": false,
                "sectionColumnBgColor": "#ffffff",
                "sectionStyle": "general",
                "setting_blocks": {
                    "items": {
                        "B82d6f21-fe88-48f7-9a65-b3b74befa415": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        },
                        "B024a4fb-7d95-49d0-9016-73820b1d3902": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        }
                    }
                }
            }
        },
        {
            "category": "theme-text",
            "settings": {
                "sectionHeight": "",
                "sectionInnerSpacing": "",
                "sectionContentSpacing": "",
                "sectionContentWidth": "12",
                "sectionContentAlign": "center",
                "sectionBgImgSrc": "",
                "sectionBgImgPos": "left-top",
                "sectionBgImgOverlay": "0",
                "sectionBgImgBlur": "0",
                "sectionColumnBgColorStatus": false,
                "sectionColumnBgColor": "#ffffff",
                "sectionStyle": "general",
                "setting_blocks": {
                    "items": {
                        "A82d6f21-fe88-48f7-9a65-b3b74befa415": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgPlaceholder": true,
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        },
                        "A024a4fb-7d95-49d0-9016-73820b1d3902": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgPlaceholder": true,
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        },
                        "A02ba9dc-5093-40b7-9210-f14f3d3df83a": {
                            "type": "item",
                            "settings": {
                                "imgSrc": "",
                                "imgAlt": "",
                                "imgPlaceholder": true,
                                "imgEffect": "none",
                                "imgAspectRatio": "1:1",
                                "imgFit": false,
                                "richtextHtml": "<h2>Heading<\/h2><p>Pair text with an image to focus on your chosen product, article or brand and tell your customers about it.<\/p>"
                            }
                        }
                    }
                }
            }
        }
    ]
}
{% endschema %}