<div class="product-attribute-container form-group">

    {% if attribute.name %}<label>{{ attribute.name }}</label>{% endif %}

    {% for option in attribute.options %}

        {%- if settings.taxFreePrices -%}
            {% assign itemPrice = option.net_price %}
        {%- else -%}
            {% assign itemPrice = option.price %}
        {%- endif -%}

        <div class="form-group form-check">

            {% if itemPrice > 0 and showAttributePrice and showAttributeTotalPrice and option.in_stock == true %}

                {% assign arg1 = true %}

            {% endif %}

            {% if itemPrice > 0 and showAttributePrice and showAttributeTotalPrice and inventoryPolicy == 'continue' %}

                {% assign arg2 = true %}

            {% endif %}

            <input class="product-attribute form-check-input{% if arg1 or arg2 %} has-price{% endif %}"
               type="radio"
               data-attribute="{{ attribute.id }}"
               id="product-option-{{ option.id }}"
               name="{{ attribute.id }}"
               value="{{ option.id }}"
               {% if option.image %} data-attribute-image="product-option-image-{{ option.id }}"{% endif %}
               {% if option.in_stock == false and inventoryPolicy == 'deny' %} disabled{% else %} data-is-usable{% endif %}>

            <label for="product-option-{{ option.id }}" class="form-check-label">

                {{ option.name }}

                {% if showAttributeStock and inventoryPolicy == 'deny' and isPreviewProduct == false and option.in_stock == true and option.subattribute == false %}

                    ({{ option.stock }} {{ product.unit }})

                {% endif %}

                {% if option.in_stock == false and inventoryPolicy == 'deny' %}

                    ({{ 'product.out_of_stock' | t }})

                {% elsif itemPrice > 0 and showAttributePrice and showAttributeTotalPrice == false %}

                    (+{{ itemPrice | in_currency }})

                {% endif %}

            </label>

        </div>

    {% endfor %}

</div>

{% for option in attribute.options %}

    {% if option.subattribute %}

        {% render 'product-attributes/subattribute', option: option, showAttributePrice: showAttributePrice, showAttributeTotalPrice: showAttributeTotalPrice, showAttributeStock: showAttributeStock, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct %}

    {% endif %}

{% endfor %}