<div class="product-attribute-container form-group">

   {% if attribute.name %}<label for="product-attribute-{{ attribute.id }}">{{ attribute.name }}</label>{% endif %}

    <select class="product-attribute form-control"
        data-attribute="{{ attribute.id }}"
        id="product-attribute-{{ attribute.id }}"
        name="{{ attribute.id }}"
        data-is-usable
        disabled>

        <option disabled selected value>{{ 'general.choose' | t }}</option>

        {% for option in attribute.options %}

            {%- if settings.taxFreePrices -%}
                {% assign itemPrice = option.net_price %}
            {%- else -%}
                {% assign itemPrice = option.price %}
            {%- endif -%}

            {% if itemPrice > 0 and showOptionPrice and showOptionTotalPrice and option.in_stock == true %}

                {% assign arg1 = true %}

            {% endif %}

            {% if itemPrice > 0 and showOptionPrice and showOptionTotalPrice and inventoryPolicy == 'continue' %}

                {% assign arg2 = true %}

            {% endif %}

            <option
                {% if arg1 or arg2 %}class="has-price" {% endif %}
                value="{{ option.id }}"{% if option.in_stock == false and inventoryPolicy == 'deny' %} disabled{% endif %}>

                {{ option.name }}

                {% if showOptionStockBalance and inventoryPolicy == 'deny' and isPreviewProduct == false and option.in_stock == true and option.subattribute != true %}

                    ({{ option.stock }} {{ unit }})

                {% endif %}

                {% if option.in_stock == false and inventoryPolicy == 'deny' %}

                    ({{ 'product.out_of_stock' | t }})

                {% elsif itemPrice > 0 and showOptionPrice and showOptionTotalPrice == false %}

                    (+{{ itemPrice | in_currency }})

                {% endif %}

            </option>

        {% endfor %}

    </select>

</div>

{% for option in attribute.options %}

    {% if option.subattribute %}

        {% render 'product-attributes/subattribute', option: option, showOptionPrice: showOptionPrice, showOptionTotalPrice: showOptionTotalPrice, showOptionStockBalance: showOptionStockBalance, inventoryPolicy: inventoryPolicy, isPreviewProduct: isPreviewProduct, unit: unit %}

    {% endif %}

{% endfor %}