<div class="product-attribute-container form-group">

   {% if attribute.name %}<label for="product-attribute-{{ attribute.id }}">{{ attribute.name }}</label>{% endif %}

    <select class="product-attribute form-control"
        data-attribute="{{ attribute.id }}"
        id="product-attribute-{{ attribute.id }}"
        name="{{ attribute.id }}"
        data-is-usable
        disabled>

        <option disabled selected value>{{ 'general.choose' | t }}</option>

        {% for option in attribute.options %}

            {% if option.price > 0 and showAttributePrice and showAttributeTotalPrice and option.in_stock == true %}

                {% assign selectArgument1 = true %}

            {% endif %}

            {% if option.price > 0 and showAttributePrice and showAttributeTotalPrice and product.ignore_storage == true %}

                {% assign selectArgument2 = true %}

            {% endif %}

            <option
                {% if selectArgument1 or selectArgument2 %}class="has-price" {% endif %}
                value="{{ option.id }}"{% if option.in_stock == false and product.ignore_storage == false %} disabled{% endif %}>

                {{ option.name }}

                {% if showAttributeStock and product.ignore_storage == false and product.only_preview != true and option.in_stock == true and option.subattribute == false %}

                    ({{ option.stock }} {{ product.unit }})

                {% endif %}

                {% if option.in_stock == false and product.ignore_storage == false %}

                    ({{ 'product.out_of_stock' | t }})

                {% elsif option.price > 0 and showAttributePrice and showAttributeTotalPrice == blank %}

                    (+{{ option.price | in_currency }})

                {% endif %}

            </option>

        {% endfor %}

    </select>

</div>

{% for option in attribute.options %}

    {% if option.subattribute %}

        {% render 'product-attributes/subattribute', option: option %}

    {% endif %}

{% endfor %}