<div class="product-attribute-container form-group">

    {% for option in attribute.options %}

        {%- if settings.taxFreePrices -%}
            {% assign itemPrice = option.net_price %}
        {%- else -%}
            {% assign itemPrice = option.price %}
        {%- endif -%}

        {% if option.name or itemPrice > 0 %}

            <label for="product-attribute-{{ option.id }}">

                {{ option.name }}
                {% if itemPrice > 0 and showAttributePrice and showAttributeTotalPrice == blank %}(+{{ itemPrice | in_currency }}) {% endif %}

            </label>

        {% endif %}

        {% if itemPrice > 0 and showAttributePrice and showAttributeTotalPrice and option.in_stock == true %}

            {% assign textArgument1 = true %}

        {% endif %}

        {% if itemPrice > 0 and showAttributePrice and showAttributeTotalPrice and product.ignore_storage == true %}

            {% assign textArgument2 = true %}

        {% endif %}

        <textarea

            class="product-attribute form-control{% if textArgument1 or textArgument2 %} has-price{% endif %}"
            id="product-option-{{ option.id }}"
            name="{{ option.id }}"
            data-is-usable

            {% if option.min_length > 0 %}
                minlength="{{ option.min_length }}"
            {% endif %}

            {% if option.max_length > 0 %}
                maxlength="{{ option.max_length }}"
            {% endif %}

            {% if option.rows > 0 %}
                rows="{{ option.rows }}"
            {% endif %}

            ></textarea>

    {% endfor %}

</div>