{% layout 'password' %}

{%- assign sectionTitle = 'password_protection.title' | t -%}
{%- assign sectionTitleTag = 'h1' %}
{%- assign sectionSubtitle = 'password_protection.subtitle' | t -%}
{%- assign sectionDescription = 'password_protection.description' | t -%}
{%- assign overlaySectionSubtitle = 'password_protection.login_to_store' | t-%}

{%- capture sectionContent -%}

	<div class="row justify-content-center">

		<div class="col-md-8 col-lg-8">

			{% form 'customer', customer %}

		        {% if customer and customer.accepts_marketing %}

			        <span class="d-block font-weight-bold text-center">

			            {{ 'password_protection.newsletter_subscribed' | t }}

			        </span>

		        {% elsif form.posted_successfully? %}

		        	<span class="d-block font-weight-bold text-center">

		            	{{ 'password_protection.newsletter_subscribed' | t }}

		            </span>

		        {% else %}

		            <div class="form-group form-floating">

		                <input id="footer-middle-newsletter" class="form-control" type="email" name="email" value="" placeholder="{{ 'general.email' | t }}" required>

		                <label for="footer-middle-newsletter">
		                    {{ 'general.email' | t }}
		                </label>

		            </div>

		            {% render 'form-error', error: form.error, class: 'form-group' %}

		            <button type="submit" class="btn btn-block btn-outline-section">
		                {{ 'password_protection.newsletter_cta' | t  }}
		            </button>

		        {% endif %}

		    {% endform %}

		</div>

	</div>

    <hr class="mt-5 mb-5">

	<div class="password-social-media-buttons-container text-center">

        {% if settings.facebookPageUrl %}

            <div class="d-inline-flex">

                {% render 'social-media-button', type: 'facebook', url: settings.facebookPageUrl, style: 'minimal' %}

            </div>

        {% endif %}

        {% if settings.instagramPageUrl %}

            <div class="d-inline-flex">

                {% render 'social-media-button', type: 'instagram', url: settings.instagramPageUrl, style: 'minimal' %}

            </div>

        {% endif %}

        {% if settings.twitterPageUrl %}

            <div class="d-inline-flex">

                {% render 'social-media-button', type: 'twitter', url: settings.twitterPageUrl, style: 'minimal' %}

            </div>

        {% endif %}

        {% if settings.pinterestPageUrl %}

            <div class="d-inline-flex">

                {% render 'social-media-button', type: 'pinterest', url: settings.pinterestPageUrl, style: 'minimal' %}

            </div>

        {% endif %}

        {% if settings.youtubePageUrl %}

            <div class="d-inline-flex">

                {% render 'social-media-button', type: 'youtube', url: settings.youtubePageUrl, style: 'minimal' %}

            </div>

        {% endif %}

    </div>

    <div class="text-center mt-4">

	    <button type="button" id="password-overlay-action-show" class="btn-text font-weight-bold text-underline-indicator">
	        {{ 'password_protection.login_to_store' | t }}
	    </button>

	</div>

{%- endcapture -%}

{%- capture sectionCustomContent -%}

	{%- capture overlaySectionContent -%}

		<div class="row justify-content-center">

			<div class="col-md-8 col-lg-8">

			    {% form 'store_password', id: 'password-form' %}

			        <div class="form-group form-floating">

			            <input type="password" class="form-control" id="store-password" name="password" placeholder="{{ 'account.information.password' | t }}"required>

			            <label for="store-password">
			                {{ 'account.information.password' | t }}
			            </label>

			        </div>

			        {% render 'form-error', error: form.error, class: 'form-group' %}

			        <button type="submit" class="btn btn-section btn-block">
			        	{{ 'password_protection.login_to_store_cta' | t }}
			        </button>

			    {% endform %}

			</div>

		</div>

	{%- endcapture -%}

	{%- capture overlaySectionHeaderAction -%}

		<button type="button" id="password-overlay-action-hide" class="btn btn-icon">
			{%- render 'icon', icon: 'close-232XyC', class: 'svg-icon-2x' -%}
	    </button>

	{%- endcapture -%}

	<div class="password-overlay-container{% if submitted_form.id == 'password-form' %} active{% endif %}">

		<div class="password-overlay">

			{% render 'section', sectionSubtitle: overlaySectionSubtitle, sectionContent: overlaySectionContent, sectionContentContainer: 'tiny', sectionOverlay: true, sectionViewHeight: 100, sectionHeaderTextAlign: 'center', sectionHeaderAction: overlaySectionHeaderAction %}

		</div>

	</div>

{%- endcapture -%}

<section class="section section-password">
	{% render 'section', sectionTitle: sectionTitle, sectionTitleTag: sectionTitleTag, sectionSubtitle: sectionSubtitle, sectionDescription: sectionDescription, sectionContent: sectionContent, sectionContentContainer: 'tiny', sectionOverlay: true, sectionViewHeight: 100, sectionHeaderTextAlign: 'center', sectionCustomContent: sectionCustomContent %}
</section>

{% schema %}
{
    "name": {
        "en": "Password",
        "fi": "Salasana"
    }
}
{% endschema %}