{%- capture sectionContent -%}

	{%- paginate search.results by 100 -%}

		<div class="row">

	        <div class="col-6">

	            {% if categoryProductsCount == 1 %}
	                {{ 'general.product_count' | t: amount: categoryProductsCount }}
	            {% else %}
	                {{ 'general.product_plural_count' | t: amount: categoryProductsCount }}
	            {% endif %}

	        </div>

	        <div class="col-6">

	            {% form 'sort' id: 'product-sort' %}

	            	{% if request.get.q %}

	                    <input type="hidden" name="q" value="{{ request.get.q }}">

	                {% endif %}

	                <input type="hidden" name="sort-by" value="{% if request.get.sort-by %}{{ request.get.sort-by }}{% else %}default{% endif %}">

	                <div class="dropdown">

	                    <button type="button" class="btn btn-link dropdown-toggle sort-by-dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

	                        {% if request.get.sort-by == 'price-ascending' %}
	                            {{ 'filters.sort-by.price-ascending' | t }}
	                        {% elsif request.get.sort-by == 'price-descending' %}
	                            {{ 'filters.sort-by.price-descending' | t }}
	                        {% elsif request.get.sort-by == 'title-ascending' %}
	                            {{ 'filters.sort-by.title-ascending' | t }}
	                        {% elsif request.get.sort-by == 'title-descending' %}
	                            {{ 'filters.sort-by.title-descending' | t }}
	                        {% elsif request.get.sort-by == 'created-ascending' %}
	                            {{ 'filters.sort-by.created-ascending' | t }}
	                        {% elsif  request.get.sort-by == 'created-descending' %}
	                            {{ 'filters.sort-by.created-descending' | t }}
	                        {% else %}
	                            {{ 'filters.sort-by.default' | t }}
	                        {% endif %}

	                    </button>

	                    <div class="dropdown-menu">

	                        <button type="button" class="sort-by-action dropdown-item" value="default">{{ 'filters.sort-by.default' | t }}</button>
	                        <button type="button" class="sort-by-action dropdown-item" value="price-ascending">{{ 'filters.sort-by.price-ascending' | t }}</button>
	                        <button type="button" class="sort-by-action dropdown-item" value="price-descending">{{ 'filters.sort-by.price-descending' | t }}</button>
	                        <button type="button" class="sort-by-action dropdown-item" value="title-ascending">{{ 'filters.sort-by.title-ascending' | t }}</button>
	                        <button type="button" class="sort-by-action dropdown-item" value="title-descending">{{ 'filters.sort-by.title-descending' | t }}</button>
	                        <button type="button" class="sort-by-action dropdown-item" value="created-ascending">{{ 'filters.sort-by.created-ascending' | t }}</button>
	                        <button type="button" class="sort-by-action dropdown-item" value="created-descending">{{ 'filters.sort-by.created-descending' | t }}</button>

	                    </div>

	                </div>

	            {% endform %}

	        </div>

	    </div>

	    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">

	        {% for product in search.results %}

	            <div class="col">

	                {%- render 'product-card-grid', product: product -%}

	            </div>

	        {% endfor %}

	    </div>

	    <div class="row">

	        <div class="col">

	            {% render 'pagination', paginate: paginate %}

	        </div>

	    </div>

	{%- endpaginate -%}

{%- endcapture -%}

{%- if search.results.size > 1 -%}

	{% if request.get.q | rstrip > 1 %}

		{%- capture sectionTitle -%}
			{{ 'general.search_results_for' | t }} "{{ request.get.q }}"
		{%- endcapture -%}

		{% assign sectionTitle = sectionTitle %}
		{% assign sectionSubtitle = '' %}

	{% else %}

		{% assign sectionTitle = 'general.product_catalog' | t %}

	{% endif %}

{% else %}

	{%- capture sectionTitle -%}
		{{ 'general.search_results_for' | t }} "{{ request.get.q }}"
	{%- endcapture -%}

	{% assign sectionTitle = sectionTitle %}
	{% assign sectionSubtitle = 'general.search_no_results' | t %}
	{% assign sectionContent = false %}

{%- endif -%}

<section class="section section-search">
	{% render 'section', sectionTitle: sectionTitle, sectionSubtitle: sectionSubtitle, sectionContent: sectionContent %}
</section>